/**
 * Stylesheet for attachment management
 */

.drop-zone {
  border: 2px dashed #dddddd;
  background: #efefef;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;

  h2 {
    font-size: 1.5rem;
  }
}

.file-over {
  border: 4px dashed #bbbbbb;
  background: #dddddd;
}

.attachments {
  font-size: 0;

  .attachment {
    margin: 0;
    width: 16.66%;
    display: inline-block;
    overflow: hidden;
  }

  figure {
    margin: 0;
    padding: 4px;
  }

  img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: grey;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
}

.right-side-bar {
  z-index: 999;
  padding: 0.5rem;
  position: fixed;
  top: $topbar-height;
  bottom: 0;
  right: -350px;
  width: 350px;
  background: #FFFFFF;
  box-shadow: -5px 0px 5px #888;

  transition: .3s ease-in-out;
}

.show-right-side-bar {
  right: 0;
}
