/*
 * _content.scss
 * Defines the basic style for all admin content
 */

body {
    background: $body-bg;
}

 .admin-wrapper {
    top: $content-wrapper-top;
    left: $content-wrapper-left;
    position: absolute;
    overflow: hidden;

    .container {
        background-color: $container-bg;
    }
 }

/* Toggle style of vertical menu */
.full-body {
    .admin-wrapper {
        left: $content-wrapper-left-full;
    }
}

.page-header {
  padding: 0.25rem 0 1rem;

  h1.title {
    font-size: 28px;
    .page-title-action {
      font-size: 12px;
    }
  }
}


.page-sub-menu {
  background-color: #e3f2fd;
  margin-bottom: 0.5rem;
}

.label-group {
  display: inline-block;
  padding-right: 2rem;
}

