
/* includes selected categories, tags and topics */
.post-tags {
  margin-bottom: 1rem;

  .post-tag-group {
    display: inline-block;
    padding-right: 1rem;

    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      list-style: none;

      li {
        cursor: pointer;
        margin-left: 0.5rem;

        &:hover {
          background-color: #00ee00;
        }
      }
    }
  }
}

/* Right sidebar */

.right-side-bar {
  z-index: 999;
  padding: 0.5rem;
  position: fixed;
  top: $topbar-height;
  bottom: 0;
  right: -400px;
  width: 400px;
  background: #FFFFFF;
  transition: .3s ease-in-out;
}

.show-right-side-bar {
  right: 0;
  box-shadow: -5px 0px 5px #888;
}

.tab-content {
  height: 100%;
  overflow-y: scroll;
}

.nav-tabs {
  margin-bottom: 0.25rem;

  a.active {
    background-color: #f3f3f3 !important;
  }
}

.tree-view, .tag-cloud, .topic-cloud {
  list-style: none;
}

.tree-item, .tag-item, .topic-cloud {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tag-cloud, .topic-cloud {
  padding-left: 0;
}

.tag-item, .topic-item {
  font-size: 85%;
  cursor: pointer;
  &:hover {
    background-color: grey;
  }
}
