.footer {
  height: 11rem;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
  margin-bottom: $grid-gutter-width * 3;
}

.footer-column {
  height: 100%;
  font-size: 0.8rem;
  border-right: 1px solid lightgray;
  padding-top: $grid-gutter-width / 2;
  padding-left: $grid-gutter-width * 2.5;

  h4 {
    font-size: 0.9rem;
  }

  ul {
    li {
      display: block;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.footer-barcode {
  padding: 0 !important;
  text-align: center;

  img {
    width: 80%;
  }
}

.footer-company {
  font-size: 0.8rem;
  text-align: center;
  background-color: lightgray;

  ul > li {
    padding: $grid-gutter-width / 8 $grid-gutter-width;
  }
}

.footer-final {
  font-size: 0.8rem;
  text-align: center;
}