/*
 * Defines basic style for html tags used by backend
 */

body {
    background:  #eeeeee;
}

label {
    font-size: 90%;
    color: darkgray;
}

.content {
    padding: 3rem 1rem;
    margin-left: 8rem;
    background:  #fbfbfb;
}

.full-width {
    margin-left: 3rem;
}

.select-sm {
    padding: .2rem 1.75rem .2rem .75rem;
    border-radius: .3rem;
}

.select-md {
    padding: .4rem 1.75rem .4rem .75rem;
    border-radius: .3rem;
}

/* Small font */
.small {
    font-size: 80%;
}

/* Grey */
.grey {
    color: grey;
}

.opacity-6 {
    opacity: 0.6;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Hide a tag */
.hidden {
    display: none;
}

/* Logo font color */
.light-blue {
    color: $light-blue;
}

/* Toggle style of vertical menu */

.page-header {
    padding: 0.25rem 0 1rem;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;

    h1.title {
        font-size: 28px;
        .page-title-action {
            font-size: 12px;
        }
    }
}


.page-sub-menu {
    background-color: #e3f2fd;
    margin-bottom: 0.25rem;
    font-size: 90%;
}

input.input-sm {
    font-size: 90%;
    padding: 0.3rem 0.5rem;
}


.tag-group {
    display: inline-block;
    padding-right: 2rem;
}

.tag-primary-outline {
    border: 1px solid $tag-primary-bg;
    color: $tag-primary-bg;
}

.tag-warning-outline {
    border: 1px solid $tag-warning-bg;
    color: $tag-warning-bg;
}

.tag-danger-outline {
    border: 1px solid $tag-danger-bg;
    color: $tag-danger-bg;
}

.tag-default-outline {
    border: 1px solid $tag-default-bg;
    color: $tag-default-bg;
}

.tag-success-outline {
    border: 1px solid $tag-success-bg;
    color: $tag-success-bg;
}

.tag-info-outline {
    border: 1px solid $tag-info-bg;
    color: $tag-info-bg;
}

/* Test activated anchor via routerLinkActive directive */
.sidebar a.active {
    background: grey !important;
}

a.disabled {
    color: grey;
    cursor: not-allowed;
}

.fake-anchor {
    cursor: pointer;
}

input[type=color] {
    height: 3rem;
    padding: 0.25rem;
}

.text-center {
    text-align: center;
}

// Always scroll y direction when overflows
.scroll-y {
    overflow-y: scroll !important;
}
