/*
 * Style used by all kind of list pages, such as products, orders, posts.
 */

.list-toolbar {
    font-size: 80%;
    height: 2rem;
    margin-bottom: 0.25rem;
    clear: both;
}
/* links of fast-edit, delete, preview etc */
.row-actions {
    color: grey;

    /* This prevents skid when there is not enough space to show this */
    position: relative;
    left: -9999em;

    span.trash a {
        color: red;
    }
}

tr:hover {
    .row-actions {
        position: static;
    }
}