.login-page {
  padding-top: 10%;
}

.login-wrapper {
  width: 360px;
}

.login-box {
  top: 20%;
  border: 3px solid $light-blue;

  /* Fixed width for font-awesome icon on input group */
  .input-group-addon {

    /* Overwrite default bootstrap style */
    padding-left: 0 !important;

    i {
      width: 18px;
    }

  }

  .login-box-row {
    padding: 0.75rem 0;
  }

  .fa {
    margin-top: 0 !important;
  }
}