/*
 * _menu.scss
 * Defines the style of the horizental and vertical menu in admin panel.
 */

.topbar, .sidebar {
    z-index: 999;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100%;
    }

    a {
        position: relative;
        letter-spacing: 1px;

        &:hover {
            text-decoration: none !important;
            color: $light-blue;
            background-color: $menu-hover-bg;
        }
    }
}

/* sidebar menu */
.sidebar {
    position: fixed;
    top: $topbar-height;
    bottom: 0;
    left: 0;
    width: $sidebar-width;
    overflow-y: hidden;

    li {
        display: block;
    }

    a {
        display: block;
        height: 2rem;
        line-height: 2rem;

        &.toggle {
            /* Sidebar toggle */
            cursor: pointer;
            text-align: center;
        }

        i {
            width: 2.5rem;
            padding: 0 0.75rem;
        }
    }
}

.icon_sidebar {
    width: 2.85rem;
}

/* Topbar */
.topbar {
    position: fixed;
    left: 0;
    width: 100%;
    height: $topbar-height;
    padding-right: 1rem;

    li {
        display: inline-block;
        margin-left: 1rem;
    }

    a {
        height: $topbar-height;
        line-height: $topbar-height;
        padding: 0.3rem 0.25rem;

        i {
            padding-right: 0.25rem;
        }
    }
}
