
/*
 * Show dropdown menu on hover, not on click
 */
ul.nav li.dropdown:hover > div.dropdown-menu {
  display: block;
}

/* Overwrite small button left-right padding from 0.75 to 0.5 */
.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
}

// Overwrite style for <select> tag
.custom-select {
  max-width: 7rem;
  padding: 0.325rem 1.5rem 0.375rem 0.50rem;
}