
/* includes selected categories, tags and topics */
.cms-tags {
  .cms-tag-group {
    display: inline;
    padding-right: 1.5rem;
  }
}

.tag-cloud {
  list-style: none;
  display: inline;
  margin-bottom: 0;
  padding-left: 0;
}

.tag-item {
  margin-right: 0.25rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
  &:hover {
    color: #000;
    background-color: #e5ffd4;
  }
}
