
/* includes selected categories, tags and topics */
.cms-tags {
  .cms-tag-group {
    display: inline;
    padding-right: 1.5rem;
  }
}

.tag-cloud {
  list-style: none;
  display: inline;
  margin-bottom: 0;
  padding-left: 0;
}

.tag-item {
  display: inline-block;
  margin-right: 0.25rem;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
  &:hover {
    color: #000;
    background-color: #e5ffd4;
  }
}

// This controls the different style for tag cloud in tag setting
// page
.tag-setting {
  .tag-setting-item {
    background: #f1f1f1;
    display: inline-block;
    border: 1px solid lightgrey;
    width: 10rem;

    padding: 0 !important;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    div.tag-left, div.tag-right {
      cursor: pointer;
      display: inline-block;
      padding-top: 0.25rem;
      padding-bottom: 0.3rem;
    }

    div.tag-left {
      width: 80%;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        color: #000;
        background-color: #e5ffd4;
      }

    }

    div.tag-right {
      border-left: 1px solid lightgrey;
      width: 20%;
      font-size: 1.6rem;
      display: table-cell;
      float: right;

      &:hover {
        color: red;
        background-color: #e5ffd4;
      }

    }
  }
}
