/*
 * Variables for admin dashboard
 */

/*
 * Disable bootstrap responsive
 */

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 1px,
  // Medium screen / tablet
  md: 2px,
  // Large screen / desktop
  lg: 3px,
  // Extra large screen / wide desktop
  xl: 4px
);

// Fix the width of backend;
.container {
  width: 1000px !important;
  min-width: 1000px !important;
  max-width: 1000px !important;
  padding: 1rem !important;
  margin: 1rem !important;
}


/*
 * Overwrite default bootstrap style
 */

// No border radius on input
$input-border-radius: 0 !important;

// No border radius on card
$card-border-radius: 0;

// Transparent input group addon background
$input-group-addon-bg: transparent !important;
$input-group-addon-border-color: transparent !important;

// Table padding for .table th, .table td.
$table-cell-padding: 0.5rem;

  /*
   * Customized variables
   */

// The color of logo font
$light-blue: #7BD3DB;

// Overwrite default font-awesome variable
$fa-font-path: "/fonts";


// Admin menu color and bg
$menu-color: #ffffff;
$menu-bg: #383838;
$menu-hover-bg: #808080;
$v-menu-toggle-bg: #707070;
$body-bg: #eeeeee;
$container-bg: #ffffff;

// Horizental and vertical admin menu size and padding
$h-menu-height: 1.75rem;
$v-menu-top: $h-menu-height;
$v-menu-width: 8rem;
$v-icon-menu-width: 3.5rem;
$v-menu-height: 2.125rem;
$v-menu-height-small: 2.0rem;


$content-wrapper-top: 1.75rem;
$content-wrapper-left: 8rem;
$content-wrapper-left-full: 3.5rem;

