<form (ngSubmit)="save.emit(pref)" #settingForm="ngForm">

<accordion>
    <accordion-group isOpen=true>
        <pre>
        {{ pref | json }}
        </pre>
        <div accordion-heading>
            使用偏好设置<i class="pull-right fa fa-chevron-circle-down"></i>
        </div>

        <div class="row form-group">
            <div class="col-xs-4">
                <label>侧栏目录</label>
                <select name="toggleSidebar" class="form-control" [ngModel]="pref.isIconSidebar"
                        (ngModelChange)="pref.isIconSidebar = $event === 'true' ? true : false">
                    <option value="true">图标目录</option>
                    <option value="false">展开目录</option>
                </select>
            </div>

            <div class="col-xs-4">
                <label>显示详细列表</label>
                <select name="showRichList" class="form-control" [ngModel]="pref.isRichList"
                        (ngModelChange)="pref.isRichList = $event === 'true' ? true : false">
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </div>

            <div class="col-xs-4">
                <label>列表每页显示条数</label>
                <select name="listItemCount" class="form-control"
                        [(ngModel)]="pref.listItemCount">
                    <option *ngFor="let count of counts" [value]="count">{{count}}</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-3">
                <label>目录字体颜色</label>
                <input class="form-control" type="color" name="menuColor"
                       [(ngModel)]="pref.menuColor">
            </div>
            <div class="col-xs-3">
                <label>目录背景颜色</label>
                <input class="form-control" type="color" name="menuBgColor"
                       [(ngModel)]="pref.menuBackgroundColor">
            </div>
            <!--
            <div class="col-xs-3">
                <label>内容背景颜色</label>
                <input class="form-control" type="color" name="contentBgColor"
                       [(ngModel)]="pref.contentBackgroundColor">
            </div>
            <div class="col-xs-3">
                <label>后台页面底色</label>
                <input class="form-control" type="color" name="bodyBgColor"
                       [(ngModel)]="pref.bodyBackgroundColor">
            </div>
            -->
        </div>
    </accordion-group>

    <accordion-group isOpen=true>
        <div accordion-heading>
            自定义目录<i class="pull-right fa fa-chevron-circle-down"></i>
        </div>

        <div class="alert alert-danger">
            自定义顶部和侧栏目录
        </div>
    </accordion-group>

</accordion>

    <div class="row form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block"
                    [disabled]="!settingForm.form.dirty">保存</button>
        </div>
    </div>
</form>