<table class="table">
    <thead class="thead-default">
    <tr>
        <th>#</th>
        <th><input type="checkbox"></th>
        <th>用户名</th>
        <th>昵称</th>
        <th>邮箱</th>
        <th>注册时间</th>
        <th>订单数量</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let uuid of uuids; let i=index">
            <th scope="row">{{ i+1 }}</th>
            <th scope="row"><input type="checkbox"></th>
            <td><a [routerLink]="['/user', uuid]">{{ users[uuid].name }}</a></td>
            <td>{{ users[uuid].display_name }}</td>
            <td>{{ users[uuid].email }}</td>
            <td>{{ users[uuid].created_at }}</td>
            <td>xyz</td>
        </tr>
    </tbody>
</table>
