<h3>User website relationship profile page</h3>
<p>
    Includes:<br>
    1. Choose this user can manage which websites at backend? (bangli-auth domain)<br>
    2. Change user permission for each website (huluwa-api/bangli-api etc domains)<br>
</p>

<accordion>

    <accordion-group heading="用户可用站点" isOpen=true>
        <form (ngSubmit)="onSubmitWebsites()" #websiteMgtForm="ngForm">
            <table class="table table-hover" style="font-size: 85%">
                <thead class="thead-default">
                <tr>
                    <th width="5%">是否能访问</th>
                    <th width="5%">站点ID</th>
                    <th width="10%">站点名字</th>
                    <th width="20%">站点域名</th>
                    <th width="20%">站点API</th>
                    <th width="40%">站点简介</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let aw of availableWebsites">
                    <td>
                        <input type="checkbox" name="ws[]" [(ngModel)]="myWebsite.id">
                    </td>
                    <td>{{ aw.id }}</td>
                    <td>{{ aw.display_name }}</td>
                    <td>{{ aw.frontend_url }}</td>
                    <td>{{ aw.api_endpoint }}</td>
                    <td>{{ aw.description }}</td>
                </tr>
                </tbody>
            </table>

            <div class="row form-group"><div class="col-xs-12">
                <button type="submit" class="btn btn-outline-primary"
                        [disabled]="!websiteMgtForm.form.dirty">保存</button>
            </div></div>
        </form>
    </accordion-group>


    <accordion-group heading="站点权限" isOpen=true>
        <form (ngSubmit)="onSubmitWebsitePerms()" #websitePermForm="ngForm">


            <div class="row form-group"><div class="col-xs-12">
                <button type="submit" class="btn btn-outline-primary"
                        [disabled]="!websiteMgtForm.form.dirty">保存</button>
            </div></div>
        </form>
    </accordion-group>

</accordion>
