<accordion>
        <accordion-group isOpen="true">
            <div accordion-heading>
                授权信息<i class="pull-right fa fa-chevron-circle-down"></i>
            </div>

            <form *ngIf="user" (ngSubmit)="save.emit(user)">
                <div class="row form-group">
                    <div class="col-xs-6">
                        <label>登录名</label>
                        <input class="form-control" type="text" name="name"
                               [ngModel]="user.name" disabled>
                    </div>

                    <div class="col-xs-6">
                        <label>邮箱</label>
                        <input class="form-control" type="text" name="email"
                               [ngModel]="user.email" disabled>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-6">
                        <label>密码</label>
                        <input class="form-control" type="password"
                               name="password" [(ngModel)]="password">

                    </div>

                    <div class="col-xs-6">
                        <label>重复密码</label>
                        <input class="form-control" type="password"
                               name="password_repeat" [(ngModel)]="password_repeat">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12">
                        <div class="alert alert-danger" *ngIf="password && password_repeat && password !== password_repeat">
                            两次输入的密码不一致
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!password || !password_repeat || password !== password_repeat">
                            保存
                        </button>
                    </div>
                </div>
            </form>
        </accordion-group>

    <accordion-group isOpen="true">
        <div accordion-heading>
            已登录设备<i class="pull-right fa fa-chevron-circle-down"></i>
        </div>

        <div class="alert alert-info">Invalidate user token (bangli-auth + huluwa-api domains)</div>
    </accordion-group>
</accordion>
