
/* Froala editor */
.fr-box {
  margin-bottom: 2rem;
}

.post-title {
  font-size: 120%;
  font-weight: 700;
}

.cms-tag-cloud-wrapper {
  padding: 0.4rem 0.5rem 0.5rem;
  white-space: normal;
  background: #fff;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}
