/*
 * Style used by all kind of list pages, such as products, orders, posts.
 */

.navbar {
    a {
        span {
            color: grey;
        }

        &.active {
            color: grey;
        }
    }
}

.list-toolbar {
    font-size: 80%;
    padding: 0.5rem 0;

    select {
        max-width: 7rem;
    }
}
/* links of fast-edit, delete, preview etc */
.row-actions {
    color: grey;

    /* This prevents skid when there is not enough space to show this */
    position: relative;
    left: -9999em;

    span.trash a {
        color: red;
    }
}

tr:hover {
    .row-actions {
        position: static;
    }
}

.fast-edit-form {
    background: #f9f9f9;
}

table.entity-list {
    font-size: 90%;
    input[type=checkbox] {
        font-size: 1rem;
    }
}