.login-page {
  padding-top: 10%;
}

.login-wrapper {
  margin: auto;
  width: 360px;
}

.login-box {
  padding: 1rem;

  .login-box-row {
    padding: 0.75rem 0;
  }

  // Make the input to be 100% width
  mat-form-field { width: 100% }
}
