/*
 * Variables for admin dashboard
 */


/*
 * Overwrite default bootstrap style
 */

// No border radius on input
//$input-border-radius: 0 !important;

// No border radius on card
//$card-border-radius: 0;

// Transparent input group addon background
//$input-group-addon-bg: transparent !important;
//$input-group-addon-border-color: transparent !important;

// Table padding for .table th, .table td.
$table-cell-padding: 0.5rem;

/*
 * Customized variables
 */

// The color of logo font
$light-blue: #7BD3DB;

// Overwrite default font-awesome variable
// We have script to copy the fonts into this folder
$fa-font-path: "/fonts";

// Admin menu color and bg
$menu-color: #ffffff;
$menu-bg: #383838;
$menu-hover-bg: #808080;
$v-menu-toggle-bg: #707070;

// Horizental and vertical admin menu size and padding
$topbar-height: 1.75rem;
$sidebar-width: 8rem;
$v-icon-menu-width: 3.5rem;
$v-menu-height: 2.125rem;
$v-menu-height-small: 2.0rem;


$content-wrapper-top: 1.75rem;
$content-wrapper-left: 8rem;
$content-wrapper-left-full: 3.5rem;

