<div class="alert alert-danger" *ngIf="parentId == 0 && !hasCategory">
    此频道暂无分类, 请添加!
</div>

<ul *ngIf="categories">
    <ng-template ngFor let-cat [ngForOf]="updatedCats">
        <li *ngIf="cat.parent_id === parentId">

            <!-- This checkbox is used to manage the display of tree children -->
            <input type="checkbox" [attr.id]="cat.id"
                   [attr.checked]="hasChild(cat) ? 'checked' : null"/>

            <label>
                <!-- This checkbox is used for real data -->
                <input type="checkbox" [checked]="cat.checked"
                       (change)="checkEvent.emit(cat)"/><span></span>
            </label>

            <!-- category name with post/topic/offer count belongs to it -->
            <label [attr.for]="cat.id">
                {{cat.name}} <ng-template [ngIf]="hasChild(cat)">+</ng-template>
            </label>

            <category-tree *ngIf="hasChild(cat)"
                           [parentId]="cat.id"
                           [categories]="getChild(cat)"
                           [selectedCats]="selectedCats"
                           (checkEvent)="checkEvent.emit($event)"></category-tree>
        </li>
    </ng-template>
</ul>
