<div class="page-header" *ngIf="entity">
    <div class="row">
        <div class="col-12">
            <h1 class="title">
                编辑{{ name }}
                <button class="page-title-action btn btn-outline-secondary btn-sm"
                   (click)="cancelEdit.emit()">
                    <i class="fa fa-backward"></i> 取消并返回
                </button>

                <a class="page-title-action btn btn-outline-info btn-sm"
                   [routerLink]="[prevEntityUrl]" *ngIf="prevEntityUrl">
                    <i class="fa fa-angle-double-left"></i> {{ prevEntityTitle }}
                </a>
                <a class="page-title-action btn btn-outline-info btn-sm float-right"
                   [routerLink]="[nextEntityUrl]" *ngIf="nextEntityUrl">
                    {{ nextEntityTitle }} <i class="fa fa-angle-double-right"></i>
                </a>
            </h1>

            <code class="float-right" *ngIf="previewUrl">
                <a href="{{ previewUrl }}" target="_blank">预览: {{ entity.id }}</a>
            </code>
        </div>

        <div class="col-12">
            <div class="float-right">
                <code *ngIf="entity.created_at">
                    创建时间：{{ entity.created_at | date: 'y-MM-dd HH:mm' }}
                </code>
                <code *ngIf="entity.published_at">
                    发布时间：{{ entity.published_at | date: 'y-MM-dd HH:mm' }}
                </code>
                <code *ngIf="entity.updated_at">
                    最后更新：{{ entity.updated_at | date: 'y-MM-dd HH:mm' }}
                </code>
                <code>
                    状态: {{ zh[entity.status] }}
                </code>
            </div>
        </div>

    </div>

</div>
