<form ngForm>
    <div class="row post-meta-row">
        <div class="col-12">
            <mat-form-field style="width: 100%; font-size: 120%">
                <input matInput type="text" name="title"
                       [ngModel]="title" [formControl]="titleControl"
                       placeholder="文章标题/专题英文标题" required>
            </mat-form-field>

            <div class="row" *ngIf="isTopic">
                <div class="col-7">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="Permalink" type="text" name="guid"
                               [ngModel]="guid" [formControl]="guidControl" required>
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <mat-form-field style="width: 100%">
                        <input matInput placeholder="中文标题" type="text" name="atext"
                               [ngModel]="titleCN" [formControl]="titleCNControl" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group" *ngIf="isTopic">
                <mat-form-field style="width: 100%">
                <textarea matInput type="text" name="desc"
                          [ngModel]="desc"
                          [formControl]="descControl"
                          placeholder="专题描述(80字左右)"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
