<!-- Post category, tag, topic -->
<div class="row">
    <div class="col-12">
        <div class="form-inline cms-tag-cloud-wrapper">

            <div class="cms-tags">
                <div class="cms-tag-group">
                    <button mat-button (click)="toggle.emit(0)">文章分类:</button>
                    <mat-chip-list>
                        <mat-chip *ngFor="let cat of categories"
                                  removable="true" selectable="true"
                                  (remove)="detachCat.emit(cat)">
                            {{ cat.name }} <i matChipRemove class="fa fa-close"></i>
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div class="cms-tag-group" *ngIf="!isTopic">
                    <button mat-button (click)="toggle.emit(1)">专题:</button>
                    <mat-chip-list>
                        <mat-chip *ngFor="let topic of topics"
                                  removable="true" selectable="true"
                                  (remove)="detachTopic.emit(topic)">
                            {{ topic.name}} <i matChipRemove class="fa fa-close"></i>
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <div class="cms-tag-group">
                    <button mat-button (click)="toggle.emit(2)">地理位置:</button>
                    <mat-chip-list>
                        <mat-chip *ngIf="location"
                                  removable="true" selectable="true"
                                  (remove)="updateLocation.emit(null)">
                            {{ location.name }} <i matChipRemove class="fa fa-close"></i>
                        </mat-chip>
                        <mat-chip *ngIf="!location">
                            everywhere
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <ng-template [ngIf]="isTopic">
                    <div class="cms-tag-group" *ngFor="let tt of topicTypes">
                        <button mat-button
                              (click)="toggle.emit(1)">{{ tt.name }}:</button>
                        <mat-chip-list *ngIf="topics">
                            <mat-chip *ngFor="let t of topicsOfType(tt)"
                                      removable="true" selectable="true"
                                      (remove)="detachTopic.emit(t)">
                                {{ t.name }} <i matChipRemove class="fa fa-close"></i>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
