<!-- Cms channels menu -->
<div class="channel-menu" *ngIf="cmsChannels">
    <div class="channel-heading">
        <a [routerLink]="['/', slug]" class="channel-title">
            <h4>所有频道</h4>
        </a>
        <a *ngFor="let ch of cmsChannels"
           [routerLink]="['/', slug, 'channel', ch.slug]"
           class="channel-title" routerLinkActive="active">
            <h4>{{ ch.name }}</h4>
        </a>
    </div>
</div>

<!-- header -->
<div class="row justify-content-between">
    <div class="col-4">
        <h2 class="title">
            <span *ngIf="curChannelSlug">{{ zh[curChannelSlug] }}频道{{ name }}</span>
            <span *ngIf="!curChannelSlug">所有{{ name }}</span>
        </h2>
    </div>

    <div class="col-8">
        <div style="float: right;">
            <a mat-raised-button *ngIf="!inPageEdit"
               [routerLink]="['/', slug, 'new']">新建{{ name }}</a>

            <a mat-raised-button *ngIf="inPageEdit"
               (click)="newEntityEvent.emit()">新建{{ name }}</a>

            <a mat-raised-button
               (click)="togglePagelessEvent.emit()">
                <span *ngIf="isPageless">模式:无限加载</span>
                <span *ngIf="!isPageless">模式:分页加载</span>
            </a>

            <button mat-raised-button>详简切换</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-9">
        <!-- Entity status navbar -->
        <nav mat-tab-nav-bar *ngIf="!curChannelSlug && statuses">
            <a mat-tab-link style="min-width: 100px !important;"
               *ngFor="let status of statuses.actual"
               [routerLink]="['/', slug, 'page', 1, 'status', status.status]"
               routerLinkActive="active">
                {{ zh[status.status] }} ({{ status.count }})
            </a>
            <a mat-tab-link style="min-width: 100px !important;"
               *ngIf="isTopic"
               [routerLink]="['/', slug, 'page', 1, 'status', 'all']" [queryParams]="{featured: '1,2'}">
                置顶专题
            </a>
        </nav>
    </div>

    <div class="col-3">
        <search-box [slug]="slug" [loading]="loading"></search-box>
    </div>
</div>

