<!-- Cms channels menu -->
<div class="channel-menu" *ngIf="cmsChannels">
    <div class="channel-heading">
        <a [routerLink]="['/', slug]" class="channel-title">
            <h4>所有频道</h4>
        </a>
        <a *ngFor="let ch of cmsChannels"
           [routerLink]="['/', slug, 'channel', ch.slug]"
           class="channel-title" routerLinkActive="active">
            <h4>{{ ch.name }}</h4>
        </a>
    </div>
</div>

<!-- header -->
<div class="row justify-content-between">
    <div class="col-4">
        <h1 class="title">
            <span *ngIf="curChannelSlug">{{ zh[curChannelSlug] }}频道{{ name }}</span>
            <span *ngIf="!curChannelSlug">所有{{ name }}</span>
        </h1>
    </div>

    <div class="col-8">
        <a mat-raised-button *ngIf="!inPageEdit"
           [routerLink]="['/', slug, 'new']">新建{{ name }}</a>

        <a mat-raised-button *ngIf="inPageEdit"
           (click)="newEntityEvent.emit()">新建{{ name }}</a>

        <a mat-raised-button
           (click)="togglePagelessEvent.emit()">
            <span *ngIf="isPageless">模式:无限加载</span>
            <span *ngIf="!isPageless">模式:分页加载</span>
        </a>

        <a mat-raised-button [routerLink]="['/setting']">系统设置</a>
        <button mat-raised-button>详简切换</button>
    </div>
</div>

<!-- navbar and search box, only show navbar for those has statistics loaded -->
<div style="display: flex; justify-content: space-between">
    <!-- Entity status navbar -->
    <ul class="nav navbar-nav" *ngIf="!curChannelSlug && statuses">
        <li *ngFor="let status of statuses.actual" class="nav-item">
            <a class="nav-link" [routerLink]="['/', slug, 'page', 1, 'status', status.status]"
               routerLinkActive="active">
                {{ zh[status.status] }}<span> ({{ status.count }})</span>
            </a>
        </li>
    </ul>

    <search-box [slug]="slug" [loading]="loading"></search-box>
</div>
