<!-- List toolbar with paginator -->
<div class="row" style="font-size: 90%">
    <div class="col-12">

        <form #filterForm="ngForm" style="display: flex; justify-content: space-between">

            <mat-form-field *ngIf="authors" style="width: 120px">
                <mat-select placeholder="作者" [(ngModel)]="filterAuthor" name="a">
                    <mat-option value="">所有作者</mat-option>
                    <mat-option *ngFor="let author of authors" [value]="author.id">
                        {{ author.display_name }} | {{ author.posts_by_author_count }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="editors" style="width: 120px">
                <mat-select placeholder="编辑" [(ngModel)]="filterEditor" name="e">
                    <mat-option value="">所有编辑</mat-option>
                    <mat-option *ngFor="let editor of editors" [value]="editor.id">
                        {{ editor.display_name }} | {{ editorWorkCount(editor) }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="categories"  style="width: 120px">
                <mat-select placeholder="分类" [(ngModel)]="filterCat" name="c">
                    <mat-option value="" *ngIf="!curChannelSlug">所有分类</mat-option>
                    <mat-option value="" *ngIf="curChannelSlug">频道分类</mat-option>
                    <mat-option *ngFor="let cat of catsOfChannel" [value]="cat.id">
                        {{ cat.name }} | {{ catCount(cat) }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="brands"  style="width: 120px">
                <mat-select placeholder="品牌" [(ngModel)]="filterBrand" name="b">
                    <mat-option value="">所有品牌</mat-option>
                    <mat-option *ngFor="let brand of brands" [value]="brand.id">
                        {{ brand.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field  style="width: 120px">
                <!-- Use database post date type of a post, may not applicable to non-post -->
                <mat-select placeholder="日期" [(ngModel)]="filterDateType" name="dtype">
                    <mat-option value="" disabled>日期类型</mat-option>
                    <mat-option value="published_at">发布日期</mat-option>
                    <mat-option value="updated_at">更新日期</mat-option>
                    <mat-option value="created_at">创建日期</mat-option>
                    <mat-option value="starts">起始日期</mat-option>
                    <mat-option value="ends">过期日期</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="width: 120px">
                <input matInput [matDatepicker]="startPicker" name="start"
                       placeholder="开始日期"
                       [ngModel]="filterDateFrom | date: 'yyyy-MM-dd'"
                       (ngModelChange)="filterDateFrom = helper.MySQLDateGMT($event, true)">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="width: 120px">
                <input matInput [matDatepicker]="endPicker" name="end"
                       placeholder="结束日期"
                       [ngModel]="filterDateTo | date: 'yyyy-MM-dd'"
                       (ngModelChange)="filterDateTo = helper.MySQLDateGMT($event, false)">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>

            <div>
                <button mat-raised-button type="submit"
                        (click)="submitFilter()"
                        [disabled]="!filterForm.form.dirty">筛选</button>

                <a  mat-raised-button [routerLink]="['/', slug]">重置</a>
            </div>
        </form>
    </div>
</div>

<div class="row" *ngIf="paginator">
    <div class="col-12">
    <!-- Paginator -->
        <mat-paginator style="float: right"
                       [length]="paginator.total"
                       [pageIndex]="paginator.cur_page-1"
                       [pageSize]="paginator.per_page"
                       [pageSizeOptions]="[20]"
                       (page)="pageEvent($event)">

        </mat-paginator>
    </div>
</div>