<!-- This template shows a list of revisions for current entity -->
<accordion *ngIf="entity && entity.revisions && entity.revisions.length">

    <accordion-group isOpen="true">
        <div accordion-heading>
            版本历史<i class="pull-right fa customize-chevron"></i>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="revision-history">
                    <li *ngFor="let revision of revisions">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   [ngModel]="isSelected(revision)"
                                   name="d[]" (change)="checkRevision(revision)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                版本号: #{{ revision.id }} | {{ zh[revision.status] }} |
                                修改日期：{{ revision.created_at }} @ {{ authorsObj[revision.user_id].display_name }}
                            </span>
                        </label>

                        <button class="btn btn-sm btn-secondary-outline"
                                (click)="restore2Revision.emit(revision.body)">恢复此版本</button>
                    </li>
                </ul>

                <button (click)="runDiff()" class="btn btn-secondary-outline"
                        [disabled]="!canCompare">比较</button>
            </div>
        </div>
    </accordion-group>

    <accordion-group isOpen="true" *ngIf="diffHtml">
        <div accordion-heading *ngIf="selectedRevisions.length === 2">
            版本 #{{selectedRevisions[1].id}} 相对于版本 #{{selectedRevisions[0].id}} 共有 {{ diffCount }} 处修改
            <i class="pull-right fa customize-chevron"></i>
        </div>

        <div accordion-heading *ngIf="selectedRevisions.length === 1">
            当前版本相对于历史版本 #{{selectedRevisions[0].id}} 共有 {{ diffCount }} 处修改
            <i class="pull-right fa customize-chevron"></i>
        </div>

        <div class="row">
            <div class="col-12 revision-diff">
                <div class="revision-diff" [innerHtml]="diffHtml"></div>
            </div>
        </div>
    </accordion-group>

</accordion>