<div class="sidebar" [style.background-color]="pref?.menuBackgroundColor"
     [class.icon_sidebar]="pref?.isIconSidebar" *ngIf="pref">
    <a class="toggle" (click)="toggle.emit($event)"
       [style.color]="pref.menuColor"><i class="fa fa-ellipsis-v"></i></a>

    <ng-template [ngIf]="!isLoggedInDomain">
        <span [style.color]="pref.menuColor">请点击顶部"切换站点"登陆具体站点！</span>
    </ng-template>


    <ul class="fixed-menu">
        <ng-template ngFor let-menu [ngForOf]="menus">
            <li *ngIf="hasRole$(menu.role) | async">
                <a [routerLink]="['/', menu.slug]"
                   [style.color]="pref.menuColor"
                   title="{{ menu.name }}"
                   routerLinkActive="active">
                    <i class="{{ menu.icon_style }}"></i>
                    <span>{{ menu.name }}</span>
                </a>
            </li>
        </ng-template>
    </ul>
</div>
