<list-page-header [slug]="'advertise'"
                  [name]="'广告'"
                  [zh]="zh"
                  [loading]="isLoading$ | async"
                  [isPageless]="pageless"
                  (togglePagelessEvent)="pageless = !pageless"
                  (newEntityEvent)="newAdvertise()">
</list-page-header>

<!-- Ads filter/tool bar at top -->
<list-filter-bar [slug]="'advertise'"
                 [zh]="zh"
                 [etype]="etype"
                 [paginator]="pagniator$ | async"
                 (batchActionEvent)="batchEdit($event)"></list-filter-bar>

<!-- Ads list table -->
<ads-list [etype]="etype"
          [entities]="entities$ | async"
          [idsCurPage]="idsCurPage$ | async"
          [idsEditing]="idsEditing$ | async"
          [frontendUrl]="(domain$ | async)?.url"
          (batchEdit)="batchEdit($event)"
          (batchDelete)="batchDelete($event)"
          (batchOfflineEdit)="batchOfflineEdit($event)"
          (batchLock)="batchLock($event)"></ads-list>
