<div>
    <!-- Image filter menu -->
    <mat-toolbar>
        <!-- Grid layout -->
        <button mat-icon-button><i class="fa fa-th"></i></button>

        <!-- List layout -->
        <button mat-icon-button><i class="fa fa-list"></i></button>

            <!-- Image category -->
            <!--
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">图片分类</a>

            <div class="dropdown-menu">
                <a class="dropdown-item">分类1</a>
                <a class="dropdown-item">分类3</a>
                <a class="dropdown-item">分类2</a>
            </div>
            -->

        <search-box [slug]="'attachment'" [loading]="loading"></search-box>
    </mat-toolbar>

    <div class="image-list-wrapper">
        <!-- Image list -->
        <div class="image-list">
            <ul class="attachments">
                <li *ngFor="let entity of entities; let i=index"
                    class="attachment">
                    <div class="attachment-preview" [class.attachment-selected]="isSelected(i)">
                        <div class="thumbnail" (click)="editImage(i, entity)">
                            <div class="centered">
                                <img [src]="thumbUrl(entity)">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <button type="button" class="btn btn-block btn-default"
                    *ngIf="embeddedEditor"
                    (click)="loadMoreImages.emit()">加载更多...</button>
        </div>

        <!-- Embedded image editor -->
        <div class="embedded-image-editor" *ngIf="embeddedEditor">
            <h5>图片信息</h5>

            <img style="max-width: 100%" [src]="curImageUrl">

            <div *ngIf="image">
                <div>文件名: {{ image.filename }}</div>
                <div>文件类型: {{ image.mime_type }}</div>
                <div>文件大小: {{ image.size }}</div>
                <div>分辨率: {{ image.width }} x {{ image.height }}</div>
                <div>上传时间: {{ image.created_at }}</div>
                <hr>

            </div>
        </div>
    </div>

    <!-- A list of image to be inserted into post -->
    <div class="media-toolbar" *ngIf="embeddedEditor">
        <span *ngFor="let idx of indexes" style="width: 40px; max-height: 40px">
            Image: {{ idx }}
        </span>
        <div class="float-right" style="padding: 15px">
            <button mat-raised-button
                    (click)="cancelImage()"
                    [disabled]="indexes.length == 0">取消选择</button>
            <button mat-raised-button color="primary"
                    (click)="setLogoImage()"
                    [disabled]="indexes.length != 1">设置为Logo</button>
            <button mat-raised-button color="primary"
                    (click)="setFeatureImage()"
                    [disabled]="indexes.length == 0">设置为特色图片</button>
            <button mat-raised-button color="primary"
                    (click)="insertImages()"
                    [disabled]="indexes.length == 0">插入到文章</button>
        </div>
    </div>
</div>


<!-- In page image editor modal -->
<div class="modal fade" bsModal #modalEdit="bs-modal" tabindex="-1" role="dialog"
     *ngIf="!embeddedEditor">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="modalEdit.hide()">
                    <i class="fa fa-times"></i>
                </button>
                <button type="button" class="close" (click)="nextImage()">
                    <i class="fa fa-chevron-right"></i>
                </button>
                <button type="button" class="close" (click)="preImage()">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <h5 class="modal-title">编辑图片
                    <span class="tag tag-default-outline" *ngIf="ids">{{index}} / {{ids.length}}</span>
                </h5>
            </div>

            <div class="modal-body">
                <div class="attachment-details row">
                    <div class="attachment-media-view col-8">
                        <div class="attachment-media">
                            <img class="detailed-image" [src]="curImageUrl">
                        </div>
                    </div>

                    <div class="attachment-info col-4" *ngIf="image">
                        <div>文件名: {{ image.filename }}</div>
                        <div>文件类型: {{ image.mime_type }}</div>
                        <div>文件大小: {{ image.size }}</div>
                        <div>分辨率: {{ image.width }} x {{ image.height }}</div>
                        <div>上传时间: {{ image.created_at }}</div>
                        <hr>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
