<p style="text-align: center; background: lightgrey; padding: 0.25rem;">快速编辑</p>
<form class="form">
    <div class="row">
        <div class="form-group col-xs-3">
            <label>标题</label>
            <input type="text" class="form-control input-sm" placeholder="文章标题"
                   name="title" [(ngModel)]="post.title">
        </div>

        <div class="form-group col-xs-2">
            <label>作者</label>
            <input type="text" class="form-control input-sm" placeholder="文章作者"
                   name="author_id" [(ngModel)]="post.author_id">
        </div>

        <div class="form-group col-xs-2">
            <label>编辑</label>
            <input type="text" class="form-control input-sm" placeholder="文章编辑"
                   name="editor_id" [(ngModel)]="post.editor_id">
        </div>

        <div class="form-group col-xs-2">
            <label>状态</label>
            <select class="form-control">
                <option selected>{{ post.status }}</option>
                <option>publish</option>
                <option>featured</option>
                <option>pending</option>
                <option>draft</option>
                <option>trash</option>
            </select>
        </div>

        <div class="form-group col-xs-2">
            <label>发布时间(use date picker)</label>
            <input type="text" name="fake_published_at" [(ngModel)]="post.fake_published_at">
        </div>

        <div class="col-xs-1">
            <button class="btn btn-danger-outline btn-sm">取消</button>
        </div>
    </div>

    <div class="row">

        <!-- TODO: Toggle right bar to select categories -->
        <div class="form-group col-xs-3">
            <label>分类</label>
            <template ngFor let-cat [ngForOf]="post.categories">
                <input type="checkbox" class="label label-pill label-default" name="categories[]"/>{{ cat.name }}
            </template>
        </div>

        <!-- TODO: Toggle right bar to select tags -->
        <div class="form-group col-xs-3">
            <label>标签</label>
            <template ngFor let-tag [ngForOf]="post.tags">
                <input type="checkbox" name="tags[]"/>{{ tag.name }}
            </template>
        </div>

        <!-- TODO: Toggle right bar to select topics -->
        <div class="form-group col-xs-3">
            <label>专题</label>
            <template ngFor let-topic [ngForOf]="post.topics">
                <input type="checkbox" name="topics[]"/>{{ topic.title }}
            </template>
        </div>

        <div class="col-xs-push-2 col-xs-1">
            <button class="btn btn-primary-outline btn-sm">保存</button>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12">
            <label>文章摘要</label>
            <textarea rows="2" class="form-control" placeholder="文章摘要"></textarea>
        </div>
    </div>
</form>