<p style="text-align: center; background: lightgrey; padding: 0.25rem;">快速编辑</p>
<form class="form">
    <div class="row">
        <div class="col-xs-3">
            <label>标题</label>
            <input type="text" class="form-control input-sm" placeholder="文章标题"
                   name="title" [(ngModel)]="post.title">
        </div>

        <div class="col-xs-1">
            <label>作者</label>
            <input type="text" class="form-control input-sm" placeholder="文章作者"
                   name="author_id" [(ngModel)]="post.author_id">
        </div>

        <div class="col-xs-1">
            <label>编辑</label>
            <input type="text" class="form-control input-sm" placeholder="文章编辑"
                   name="editor_id" [(ngModel)]="post.editor_id">
        </div>

        <div class="col-xs-2">
            <label>状态</label>
            <select class="form-control">
                <option selected>{{ post.status }}</option>
                <option>publish</option>
                <option>featured</option>
                <option>pending</option>
                <option>draft</option>
                <option>trash</option>
            </select>
        </div>

        <div class="col-xs-2">
            <label>发布时间(use date picker)</label>
            <input type="text" name="fake_published_at" [(ngModel)]="post.fake_published_at">
        </div>

        <div class="col-xs-2">
            <button class="btn btn-danger-outline btn-sm">取消</button>
            <button class="btn btn-primary-outline btn-sm">保存</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <post-ctt-cloud [post]="post" (toggle)="toggleRightBar($event)"></post-ctt-cloud>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12">
            <label>文章摘要</label>
            <textarea rows="2" class="form-control" placeholder="文章摘要"></textarea>
        </div>
    </div>
</form>