<p style="text-align: center; background: lightgrey; padding: 0.25rem;">快速编辑</p>
<form class="form">
    <div class="row">
        <div class="col-xs-3">
            <label>标题</label>
            <input type="text" class="form-control input-sm" placeholder="文章标题"
                   name="title" [(ngModel)]="post.title">
        </div>

        <div class="col-xs-1">
            <label>作者</label>
            <select name="author_id" class="c-select c-select-sm" [(ngModel)]="post.author_id">
                <option [value]="author.id"
                        *ngFor="let author of authors">{{ author.nicename }}</option>
            </select>
        </div>

        <div class="col-xs-1">
            <label>编辑</label>
            <select name="editor_id" class="c-select c-select-sm" [(ngModel)]="post.editor_id">
                <option [value]="editor.id"
                        *ngFor="let editor of editors">{{ editor.nicename }}</option>
            </select>
        </div>

        <div class="col-xs-2">
            <label>状态</label>
            <select name="post_status" class="c-select c-select-sm" [(ngModel)]="post.status">
                <option [value]="ps.key" *ngFor="let ps of postStatus">{{ ps.name }}</option>
            </select>
        </div>

        <div class="col-xs-2">
            <label>发布时间(use date picker)</label>
            <input name="fake_published_at" type="text" name="fake_published_at" [(ngModel)]="post.fake_published_at">
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <post-ctt-cloud [post]="post" (toggle)="toggleRightBar($event)"></post-ctt-cloud>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12">
            <label>文章摘要</label>
            <textarea rows="2" class="form-control" placeholder="文章摘要"></textarea>
        </div>
    </div>
</form>

<!-- TODO: Serialize form instead of manually get elements -->
<!-- TODO: We are going to do the same in single post editing page as well -->
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-danger-outline btn-sm" (click)="cancelEditing($event)">取消</button>
        <button class="btn btn-primary-outline btn-sm float-right">保存</button>
    </div>
</div>
