<!-- Display logo and search input -->
<div class="row header">
    <div class="col-xl-8">
        <img class="logo" src="public/img/logo.png" alt="葫芦娃">
    </div>

    <div class="col-xl-8 search-wrapper">
        <div class="input-group search-box">
            <input class="text" class="form-control input-search" placeholder="输入关键字...">
            <span class="input-group-btn">
                <button class="btn btn-search" type="button">搜索</button>
            </span>
        </div>
    </div>
</div>