<ul class="nav navbar-nav">
    <li class="nav-item">
        <!-- FIXME: can't have slash in url parameter, it is encoded into %2F -->
        <a class="nav-link" [routerLink]="['/', baseUrl]" routerLinkActive="active">全部</a>
        <!--<a class="nav-link" [routerLink]="['/', 'baseUrl', 'hello']">全部</a>-->
    </li>

    <li *ngIf="byMe">
        <a class="nav-link" routerLinkActive="active">我的</a>
    </li>

    <li *ngIf="authors" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">作者<span style="color:grey">（{{ authors.length }}）</span></a>

        <div class="dropdown-menu">
            <a *ngFor="let author of authors; let i=index" class="dropdown-item"
               [routerLink]="['/', baseUrl, '/author', author.id]">
                {{ i+1 }}. {{ author.nicename }}（{{ author.name }}）
            </a>
        </div>
    </li>

    <li *ngIf="editors" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">编辑<span style="color: grey">（{{ editors.length }}）</span></a>

        <div class="dropdown-menu">
            <a *ngFor="let editor of editors; let i=index" class="dropdown-item"
               [routerLink]="['/', baseUrl, '/editor', editor.id]">
                {{ i+1 }}. {{ editor.nicename }}（{{ editor.name }}）
            </a>
        </div>
    </li>

    <!-- Various order status tabs -->
    <li *ngFor="let status of statuses" class="nav-item">
        <a class="nav-link" [routerLink]="['/', baseUrl, '/status/', status.status]" routerLinkActive="active">
            {{ localization[status.status] }}<span style="color:grey;">（{{ status.count }}）</span>
        </a>
    </li>
</ul>
