<!-- Horizontal menu -->
<div class="row h-menu">
    <div class="col-xl-4">
        <ul>
            <li class="v-menu-toggle"><a class="v-item-all" [routerLink]="['Products']">全部商品分类</a></li>
        </ul>
    </div>

    <div class="col-xl-20">
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">进口奶粉</a></li>
            <li><a href="">进口奶粉</a></li>
            <li><a href="">热卖</a></li>
        </ul>
    </div>
</div>

<div class="row banner">
    <div class="col-xl-4">
        <!-- Vertical dropdown menu -->
        <div class="v-menu">
            <div class="v-item">
                <div class="v-item-icon"><span>字</span></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">配方奶粉</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">羊奶粉</a>
                        <a href="#">有机粉</a>
                    </div>
                </div>
            </div>
            <div class="v-item">
                <div class="v-item-icon"><i class="fa fa-lg fa-user"></i></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">宝宝辅食</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                    </div>
                </div>
            </div>
            <div class="v-item">
                <div class="v-item-icon"><i class="fa fa-lg fa-user"></i></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">宝宝营养</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                    </div>
                </div>
            </div>
            <div class="v-item">
                <div class="v-item-icon"><i class="fa fa-lg fa-user"></i></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">宝宝用品</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                    </div>
                </div>
            </div>
            <div class="v-item">
                <div class="v-item-icon"><i class="fa fa-lg fa-user"></i></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">宝宝洗护</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                    </div>
                </div>
            </div>
            <div class="v-item">
                <div class="v-item-icon"><i class="fa fa-lg fa-user"></i></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">宝宝玩具</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                    </div>
                </div>
            </div>
            <div class="v-item">
                <div class="v-item-icon"><i class="fa fa-lg fa-user"></i></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">宝宝服装</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                    </div>
                </div>
            </div>
            <div class="v-item">
                <div class="v-item-icon"><i class="fa fa-lg fa-user"></i></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">妈咪用品</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                    </div>
                </div>
            </div>
            <div class="v-item">
                <div class="v-item-icon"><i class="fa fa-lg fa-user"></i></div>
                <div class="v-item-text">
                    <a class="v-item-parent" href="#">妈咪营养</a>
                    <div class="v-featured-items">
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                        <a href="#">牛奶粉</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Async loaded menu -->
    <div class="col-xl-12 v-menu-ext-wrapper">
        <div class="v-menu-ext" id="vMenuExt">
            <div class="row">
                <div class="col-xl-24 v-ext-item-group">
                    <h3>热门品牌</h3>
                    <a href="">英国牛栏(Cow & Gate)</a>
                    <a href="">英国爱他美(Aptamil)</a>
                    <a href="">Nannycare</a>
                    <a href="">英国喜宝(Hipp Organic)</a>
                </div>
                <div class="col-xl-24 v-ext-item-group">
                    <h3>适用阶段</h3>
                    <a href="">一段(0-12个月)</a>
                    <a href="">二段(6-12个月)</a>
                    <a href="">三段(1-2岁)</a>
                    <a href="">四段(2-3岁)</a>
                    <a href="">饥饿型(Hungry)</a>
                </div>
                <div class="col-xl-24 v-ext-item-group">
                    <h3>特殊配方</h3>
                    <a href="">Comfort</a>
                    <a href="">全水解</a>
                </div>
            </div>
        </div>
    </div>
</div>