<!-- Post category, tag, topic -->
<div class="post-tags">
    <div class="post-tag-group">
        <span class="label label-warning">文章分类</span>
        <ul *ngIf="post.categories && post.categories.length <= 0">
            <li class="label label-pill label-default" (click)="toggleRightBar('cat')">选择分类</li>
        </ul>
        <ul *ngIf="post.categories && post.categories.length > 0">
            <li *ngFor="let cat of post.categories" class="label label-pill label-primary"
                (click)="toggleRightBar('cat')">
                <!-- Was removeCat(cat), but we need passing Observable into ChildView -->
                <input type="hidden" name="categories[]" [ngModel]="cat.id">
                {{ cat.name }} x
            </li>
        </ul>
    </div>

    <div class="post-tag-group">
        <span class="label label-warning">专题</span>
        <ul *ngIf="post.topics && post.topics.length <= 0">
            <li class="label label-pill label-default" (click)="toggleRightBar('topic')">选择专题</li>
        </ul>
        <ul *ngIf="post.topics && post.topics.length > 0">
            <li *ngFor="let topic of post.topics" class="label label-pill label-primary"
                (click)="toggleRightBar('topic')">
                <input type="hidden" name="topic[]" [ngModel]="topic.id">
                {{ topic.title }} x
            </li>
        </ul>
    </div>

    <div class="post-tag-group">
        <span class="label label-warning">标签</span>
        <ul *ngIf="post.tags && post.tags.length <= 0">
            <li class="label label-pill label-default" (click)="toggleRightBar('tag')">选择标签</li>
        </ul>
        <ul *ngIf="post.tags && post.tags.length > 0">
            <li *ngFor="let tag of post.tags" class="label label-pill label-primary"
                (click)="toggleRightBar('tag')">
                <input type="hidden" name="tags[]" [ngModel]="tag.id">
                {{ tag.name }} x
            </li>
        </ul>
    </div>
</div>