<div class="topbar" [style.background-color]="menuBgColor">
    <ul class="fixed-menu">
        <li>
            <a href="{{ curDomain.url }}" target="_blank"
               [style.color]="menuColor"><i class="fa fa-home"></i>{{ curDomain.name }}</a>
        </li>

        <li>
            <a [routerLink]="['/post/new']" routerLinkActive="active"
               [style.color]="menuColor">
                <i class="fa fa-edit"></i>新建文章
            </a>
        </li>

        <li>
            <a [routerLink]="['/prodpouct/new']" routerLinkActive="active"
               [style.color]="menuColor">
                <i class="fa fa-cart-plus"></i>新建产品
            </a>
        </li>

        <li dropdown *ngIf="domains">
            <a dropdownToggle id="domain-dropdown" role="button" [style.color]="menuColor">切换站点</a>
            <ul class="dropdown-menu" dropdownMenu aria-labelledby="domain-dropdown">
                <li role="menuitem" *ngFor="let domain of domains">
                    <a *ngIf="domain.checked"
                       class="dropdown-item" role="button"
                       (click)="switch2Domain(domain.key)">{{ domain.name }}</a>
                </li>

                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <a class="dropdown-item" role="button"
                       (click)="cleanDefaultDomain()">重置默认站点</a>
                </li>
            </ul>
        </li>

        <!-- List of customized menus -->
        <!--
        <template ngFor let-menu [ngForOf]="myTopbarMenus">
            <li *ngIf="menu">
                <a [routerLink]="[menu.url]" routerLinkActive="active"
                   [style.color]="menuColor">
                    <i></i>{{ menu.name }} FIXME: css_class
                </a>
            </li>
        </template>
        -->

        <li class="float-right">
            <a [routerLink]="['/logout']" routerLinkActive="active"
               [style.color]="menuColor">
                <i class="fa fa-arrow-circle-o-right"></i>退出
            </a>
        </li>

        <li class="float-right">
            <a [routerLink]="['/user', uuid]" routerLinkActive="active"
               [style.color]="menuColor">
                <i class="fa fa-user"></i>{{ username }}
            </a>
        </li>
    </ul>
</div>
