<cms-setting-menu [cmsChannels]="cmsState.channels"
                  [taxonomy]="taxType"></cms-setting-menu>

<div *ngIf="taxType == 'tag'">
    <tag-setting [tags]="tags" [channel]="channel"
                 (edit)="editTax($event)" (remove)="removeTax($event)"></tag-setting>
</div>

<div *ngIf="taxType == 'category'">
    <category-setting [cats]="cats" [channel]="channel"></category-setting>
</div>

<div *ngIf="taxType == 'topic'">
    <topic-setting [topics]="topics" [channel]="channel"></topic-setting>
</div>

<!-- Shared popup modal to edit taxonomies -->
<div *ngIf="taxType === 'tag' || taxType === 'category'">
    <button type="button" class="btn btn-primary" (click)="addTax()">新建{{ taxType }}</button>

    <div class="modal" bsModal #modalAdd="bs-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <modal-add-tax [taxType]="taxType" [channels]="channels"
                           (save)="saveNewTax($event)" (cancel)="modalAdd.hide()"></modal-add-tax>
        </div>
    </div>

    <div class="modal" bsModal #modalEdit="bs-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <modal-edit-tax [taxType]="taxType" [tax]="tax" [channels]="channels"
                            (save)="saveTax($event)" (remove)="deleteTax($event)"
                            (cancel)="modalEdit.hide()"></modal-edit-tax>
        </div>
    </div>

</div>

<div class="row" *ngIf="!taxType">
    <div class="col-xs-12">
        <h5>You can do following here:</h5>
        <ul>
            <li>
                增加/删除/配置内容系统的分类，专题，标签，频道
            </li>
            <li>
                每个分类，专题和标签均以频道分组，不同频道内部的分类和标签不能混用
            </li>
            <li>
                文章可以选择的分类，专题和标签，只能局限在同一个频道下面
            </li>
        </ul>
    </div>
</div>
