<list-page-header [slug]="'order'"
                  [name]="'订单'"
                  [zh]="zh"
                  [states]="orderStates$ | async"
                  [loading]="loading"
                  (newEntityEvent)="newShopOrder()"></list-page-header>

<!-- Order filter/tool bar -->
<list-filter-bar *ngIf="loaded"
                 [slug]="'order'"
                 [zh]="zh"
                 [etype]="etype"
                 [entityParams]="entityParams"
                 [paginator]="paginator$ | async"
                 (filterEvent)="filterEvent($event)"></list-filter-bar>

<!-- Product list table -->
<order-list *ngIf="loaded"
            [authState]="authState"
            [listState]="entitiesState"
            (batchEdit)="batchEdit($event)"
            (batchDelete)="batchDelete($event)"
            (batchOfflineEdit)="batchOfflineEdit($event)"
            (batchLock)="batchLock($event)"></order-list>

<hr>


<!-- Fixed right panel - order editing -->
<right-panel [width]="'600px'" [isOpen]="false" [hasNav]="true" *ngIf="entity">
    <form (ngSubmit)="onSubmitOrder()">
        <accordion>

            <accordion-group isOpen="true">
                <div accordion-heading>
                    订单基本信息<i class="pull-right fa customize-chevron"></i>
                </div>

                <div class="row form-group" *ngIf="order.gateway">
                    <div class="col-xs-12">
                        <span>支付方式: {{ zh[order.gateway] }}</span>
                        <span *ngIf="order.transaction_id">交易号: {{ order.transaction_id }}</span>
                        <span *ngIf="order.serial_id">流水号: {{ order.serial_id }}</span>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-6">
                        <label>用户名</label>
                        <input name="order_c_name" class="form-control form-control-sm" [(ngModel)]="order.customer.display_name">
                    </div>

                    <div class="col-xs-6">
                        <label>用户邮箱</label>
                        <input name="order_c_email" class="form-control form-control-sm" [(ngModel)]="order.customer.email">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-4">
                        <label>订单状态</label>
                        <select name="order_status" class="form-control form-control-sm" [(ngModel)]="order.status">
                            <option *ngFor="let s of availableStatuses" [value]="s">{{ zh[s] }}</option>
                        </select>
                    </div>

                    <div class="col-xs-4">
                        <label>下单时间</label>
                        <input name="order_created_at" class="form-control form-control-sm" [(ngModel)]="order.created_at">
                    </div>

                    <div class="col-xs-4">
                        <label>支付时间</label>
                        <input name="order_paid_at" class="form-control form-control-sm" [(ngModel)]="order.paid_at">
                    </div>
                </div>
            </accordion-group>

            <accordion-group isOpen="true">
                <div accordion-heading>
                    地址快递信息<i class="pull-right fa customize-chevron"></i>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12" *ngFor="let s of order.shippings; let i=index">
                        <label>收货信息 {{ i+1 }}</label>
                        <p>收件人: {{ s.name }}, 电话: {{ s.phone }}, 地址: {{ s.province }}{{ s.city }}{{ s.county }}{{ s.address }}</p>
                        <div class="row">
                            <div class="col-xs-4">
                                <label>承运商</label>
                                <select name="carriers[]" class="form-control form-control-sm" [(ngModel)]="s.carrier">
                                    <option *ngFor="let c of availableCarriers" [value]="c">{{ zh[c] }} </option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label>快递单号</label>
                                <input class="form-control form-control-sm" name="order_tracking[]" type="text" [(ngModel)]="s.tracking">
                            </div>
                            <div class="col-xs-2">
                                <label>成本(£)</label>
                                <input class="form-control form-control-sm" name="s_cost[]" type="text" [(ngModel)]="s.cost">
                            </div>
                            <div class="col-xs-2">
                                <label>价格(¥)</label>
                                <input class="form-control form-control-sm" name="s_postage[]" type="text" [(ngModel)]="s.postage">
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>

            <accordion-group isOpen="true">
                <div accordion-heading>
                    订单产品信息<i class="pull-right fa customize-chevron"></i>
                </div>

                <table class="table table-hover" style="font-size: 85%" *ngIf="order.products">
                    <thead class="thead-default">
                    <tr>
                        <th width="5%">#</th>
                        <th width="10%">SKU</th>
                        <th width="10%">规格</th>
                        <th width="50%">名称</th>
                        <th width="10%">成本</th>
                        <th width="10%">单价</th>
                        <th width="5%">数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of order.products; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{p.sku}}</td>
                        <td>{{p.spec}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.cost / 100.0}}{{p.cost_currency}}</td>
                        <td>{{p.price / 100.0}}{{p.price_currency}}</td>
                        <td>{{p.qty}}</td>
                    </tr>
                    </tbody>
                </table>
            </accordion-group>
        </accordion>

        <!-- Use form-group to wrap buttons so to pad bottom for right-panel 100% height issue -->
        <div class="row form-group">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block">保存</button>
                <button type="button" class="btn btn-danger btn-block" (click)="hideRightPanel = true">取消</button>
            </div>
        </div>
    </form>
</right-panel>
