<editor-page-header [isProduct]="true" [lists]="product$ | async">
</editor-page-header>

<!-- Product title and main buttons -->
<div class="form-group">
    <div class="input-group">
        <input type="text" name="title" class="form-control" placeholder="文章标题"
               [ngModel]="(product$ | async).title">
        <span class="input-group-btn">
            <a type="button" class="btn btn-warning" target="_blank"
               href="http://www.huluwa.uk/{{ (product$ | async).id }}.html"><i class="fa fa-external-link"></i> 预览</a>
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> 保存</button>
            <!-- Only display these 2 buttons for editors and above -->
            <button type="submit" class="btn btn-primary"><i class="fa fa-eye"></i> 审稿</button>
            <button type="submit" class="btn btn-danger"><i class="fa fa-smile-o"></i> 发布</button>
        </span>
    </div>
</div>

<!-- Froala Editor -->
<froala [froalaOptions]="froalaOptions"
        [froalaData]="(product$ | async).content" (model)="onFroalaModelChanged($event)"
        (editorInitialized)="onEditorInitialized()"></froala>

<!-- Product category, tag etc -->
<div class="form-group">
    <div class="tag-group">
        <span class="tag tag-default">分类: </span>
        <span class="tag tag-warning">分类1</span>
        <span class="tag tag-warning">分类2</span>
    </div>

    <div class="tag-group">
        <span class="tag tag-default">专题: </span>
        <span class="tag tag-warning">专题1</span>
        <span class="tag tag-warning">专题2</span>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <!-- author -->
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Action</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Right side bar -->
<div class="right-side-bar" [class.show-right-side-bar]="!hideRightBar">
    <div>
        <h2>产品选项</h2>
        <a class="btn btn-outline-danger btn-sm" (click)="toggleRightBar($event)">
            隐藏侧栏
        </a>
    </div>

    <ul>
        <!-- Loop root cat: categories which parent_id is 0 -->
        <!-- FIXME: This is only a temp solution which supports 3 levels of tree -->
        <!-- FIXME: Fix this after we have finished UI work -->
        <!-- REF: Angular recursive directives:
         http://stackoverflow.com/questions/36522394/best-approach-to-create-recursive-treeview-dynamically-from-data-api
         -->
        <div class="form-group">
            <label>搜索分类: </label>
            <input class="form-control" #box (keyup)="filterProductCategories(box.value)">
        </div>

        <template ngFor let-cat [ngForOf]="roots">
            <li *ngIf="!cat.hidden">
                {{ cat.name }} | {{ cat.slug }} | (ID: {{ cat.id }})
                <ul *ngIf="hasSubCat(cat.id)">
                    <template ngFor let-sub [ngForOf]="subCats(cat.id)">
                        <li *ngIf="!sub.hidden">
                            {{ sub.name }} | {{ sub.slug }} | (ID: {{sub.id}})
                            <ul *ngIf="hasSubCat(sub.id)">
                                <template ngFor let-s [ngForOf]="subCats(sub.id)">
                                    <li *ngIf="!s.hidden">
                                        {{ s.name }} | {{ s.slug }} | (ID: {{s.id}})
                                    </li>
                                </template>
                            </ul>
                        </li>
                    </template>
                </ul>
            </li>
        </template>

        <div class="alert alert-danger">FIXME: This filtering is only support 2 level filtering now</div>
    </ul>
</div>
