<list-page-header [isProduct]="true"
                  [states]="shopState.product_states.actual"
                  [loading]="loading"></list-page-header>

<!-- Product filter/tool bar -->
<list-filter-bar *ngIf="entitiesState"
                 [isProduct]="true"
                 [editors]="cmsState.editors"
                 [categories]="shopState.categories"
                 [brands]="shopState.brands"
                 [paginator]="entitiesState.paginator"
                 (batchActionEvent)="batchEdit($event)"></list-filter-bar>

<!-- Product list table -->
<product-list *ngIf="entitiesState"
              [authState]="authState"
              [listState]="entitiesState"
              [cmsState]="cmsState"
              (batchEdit)="batchEdit($event)"
              (batchDelete)="batchDelete($event)"
              (batchOfflineEdit)="batchOfflineEdit($event)"
              (batchLock)="batchLock($event)"></product-list>

<hr>
