<editor-page-header [slug]="'product'"
                    [name]="'商品'"
                    [zh]="zh"
                    [previewUrl]="previewUrl"
                    [ids]="idsCurPage$ | async"
                    [entities]="entities$ | async"
                    [entity]="entity$ | async"
                    (cancelEdit)="cancelSave()">
</editor-page-header>

<form *ngIf="entity" (ngSubmit)="save" #entityForm="ngForm">

    <!-- Product title and main buttons -->
    <div class="row post-meta-row">
        <div class="col-xs-7 col-sm-7 col-md-8">
            <div class="input-group">
                <span class="input-group-addon">标题</span>
                <input type="text" name="title" class="form-control post-title"
                       [(ngModel)]="entity.title" placeholder="产品标题" required>
            </div>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-4">
            <!-- Save buttons -->
            <div class="float-right">
                <button type="submit" class="btn btn-sm btn-outline-success"
                        [disabled]="!entityForm.form.dirty && entityForm.form.valid">保存</button>

                <button class="btn btn-sm btn-outline-primary"
                        (click)="save2Pending()" [disabled]="!isDraft">提交审稿</button>

                <button class="btn btn-sm btn-outline-danger"
                        (click)="save2Draft()" *ngIf="isPending || isPublish">撤销发布</button>

                <button class="btn btn-sm btn-outline-danger"
                        (click)="save2Publish()" [disabled]="isPublish">发布</button>
            </div>
        </div>
    </div>


    <accordion>

        <accordion-group isOpen="true">
            <div accordion-heading>
                产品属性<i class="pull-right fa customize-chevron"></i>
            </div>

            <!-- editor selectors -->
            <div class="row post-meta-row">
                <div class="col-xs-12 form-inline">

                    <div class="form-group post-meta">
                        <label>编辑</label>
                        <select class="form-control form-control-sm custom-select"
                                name="editor_id" [(ngModel)]="entity.editor_id">
                            <option *ngFor="let editor of cmsState.editors"
                                    [selected]="editor.id === entity.editor_id"
                                    [value]="editor.id">{{ editor.display_name }}</option>
                        </select>
                    </div>

                    <!-- Product type -->
                    <div class="form-group post-meta">
                        <label>产品类型</label>
                        <select class="form-control form-control-sm custom-select"
                                name="p_type" [(ngModel)]="entity.product_type">
                            <option [selected]="entity.product_type === 'physical'"
                                    value="physical">实物商品</option>
                            <option [selected]="entity.product_type === 'virtual'"
                                    value="virtual">虚拟商品</option>
                        </select>
                    </div>

                    <!-- Product brands -->
                    <div class="form-group post-meta">
                        <label>产品品牌</label>
                        <select class="form-control form-control-sm custom-select"
                                name="p_brand" [(ngModel)]="entity.brand_id">
                            <option value="0">typeahead select</option>
                            <option value="1">typeahead select</option>
                        </select>
                    </div>

                    <div class="form-group post-meta">
                        <label>sku</label>
                        <input type="text" class="form-control form-control-sm"
                               name="p_sku" [(ngModel)]="entity.sku">
                    </div>

                    <div class="form-group post-meta">
                        <label>允许预定</label>
                        <select class="form-control form-control-sm custom-select"
                                name="p_backorder" [(ngModel)]="entity.backorder">
                            <option [selected]="+entity.backorder === 1"
                                    value="1">是</option>
                            <option [selected]="+entity.backorder === 0"
                                    value="0">否</option>
                        </select>
                    </div>

                    <div class="form-group post-meta">
                        <label>产地</label>
                        <select class="form-control form-control-sm custom-select"
                                name="p_madein" [(ngModel)]="entity.made_in">
                            <option [selected]="+entity.made_in === 'UK'"
                                    value="UK">英国</option>
                            <option [selected]="+entity.made_in === 'DE'"
                                    value="DE">德国</option>
                            <option [selected]="+entity.made_in === 'IE'"
                                    value="IE">爱尔兰</option>
                        </select>
                    </div>

                    <div class="form-group post-meta">
                        <label>最小保质期</label>
                        <input type="text" class="form-control form-control-sm"
                               name="p_bbd" [(ngModel)]="entity.bbd">
                    </div>

                    <div class="form-group post-meta">
                        <label>适用年龄(单位:月)</label>
                        <input type="text" class="form-control form-control-sm"
                               name="p_minage" [(ngModel)]="entity.min_age"
                               placeholder="最小年龄">
                        <input type="text" class="form-control form-control-sm"
                               name="p_maxage" [(ngModel)]="entity.max_age"
                               placeholder="最大年龄">
                    </div>

                    <a class="float-right btn btn-sm btn-outline-warning" (click)="openPanel = true">展开侧栏</a>
                </div>
            </div>


            <!-- Product brand, category, tag etc -->
            <entity-attr-cloud (toggle)="openPanel = !openPanel"
                               (deleteCat)="removeCat($event)"
                               (deleteTag)="removeTag($event)"
                               (deleteTopic)="removeTopic($event)"></entity-attr-cloud>

            <!-- Thumbnail for base product and excerpt -->
            <div class="row">
                <div class="col-xs-4">
                    <div style="width: 200px; height: 150px; border: 3px solid green;">
                        缩略图
                    </div>
                </div>

                <div class="col-xs-8">
                    <textarea name="excerpt" [(ngModel)]="entity.excerpt" placeholder="产品简介"
                              class="form-control" style="height: 75px;"></textarea>
                </div>
            </div>
        </accordion-group>

        <!-- Product variations, each product has at least 1 variation -->
        <accordion-group *ngFor="let variation of entity.variations">

            <div class="row">
                <!-- Variation image -->
                <div class="col-xs-4">
                    <div style="width: 200px; height: 150px; border: 3px solid green;">
                        Product variation缩略图
                    </div>
                </div>

                <!-- Variation attributes -->
                <div class="col-xs-8">
                    <!-- Warehouse -->
                    <div class="form-group post-meta">
                        <label>发货仓库</label>
                        <select class="form-control form-control-sm custom-select"
                                name="v_warehouse" [(ngModel)]="variation.warehouse">
                            <option [selected]="variation.warehouse === 'UK'"
                                    value="UK">英国仓</option>
                            <option [selected]="variation.warehouse === 'CN'"
                                    value="CN">保税仓</option>
                        </select>
                    </div>

                    <!-- Real stock/Real sale, can't edit directly -->
                    <div class="form-group post-meta">
                        <label>实际销量 {{ variation.real_sale }}</label>
                        <label>实际库存 {{ variation.real_stock }}</label>
                        <label>成本 {{ variation.cost }} / 件</label>
                        <label>总成本 {{ variation.cost * variation.real_stock }}</label>
                    </div>

                    <!-- Add stock -->
                    <div class="form-group post-meta">
                        <label>新增库存</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_rstock" [(ngModel)]="variation.new_real_stock"
                               placeholder="数量">
                        <input type="text" class="form-control form-control-sm"
                               name="v_rstock" [(ngModel)]="variation.new_cost"
                               placeholder="单价">
                    </div>

                    <!-- Virtual stock -->
                    <div class="form-group post-meta">
                        <label>虚拟库存</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_vstock" [(ngModel)]="variation.virtual_stock"
                               placeholder="实际库存">
                    </div>

                    <!-- Virtual sale -->
                    <div class="form-group post-meta">
                        <label>虚拟销量</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_vsale" [(ngModel)]="variation.virtual_sale"
                               placeholder="虚拟销量">
                    </div>

                    <!-- RSP -->
                    <div class="form-group post-meta">
                        <label>建议零售价</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_rsp" [(ngModel)]="variation.RSP">
                    </div>

                    <!-- price -->
                    <div class="form-group post-meta">
                        <label>售价</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_price" [(ngModel)]="variation.price" placeholder="售价">
                        <span class="tag" *ngIf="variation.price">
                            利润率 {{ (variation.price - variation.cost) / variation.price }}
                        </span>
                    </div>

                    <!-- sale -->
                    <div class="form-group post-meta">
                        <label>促销价</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_sprice" [(ngModel)]="variation.sale_price" placeholder="促销价">
                        <span class="tag" *ngIf="variation.sale_price">
                            利润率(促销) {{ (variation.sale_price - variation.cost) / variation.sale_price }}
                        </span>
                        <input type="text" class="form-control form-control-sm"
                               name="v_sale_from" [(ngModel)]="variation.sale_from" placeholder="开始时间">
                        <input type="text" class="form-control form-control-sm"
                               name="v_sale_to" [(ngModel)]="variation.sale_to" placeholder="截止时间">
                    </div>

                    <!-- Spec -->
                    <div class="form-group post-meta">
                        <label>规格</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_spec" [(ngModel)]="variation.spec" placeholder="规格">
                    </div>

                    <!-- Gross weight -->
                    <div class="form-group post-meta">
                        <label>毛重</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_gw" [(ngModel)]="variation.gross_weight" placeholder="毛重">
                    </div>

                    <!-- dimensions -->
                    <div class="form-group post-meta">
                        <label>体积</label>
                        <input type="text" class="form-control form-control-sm"
                               name="v_length" [(ngModel)]="variation.length" placeholder="长">
                        &times;
                        <input type="text" class="form-control form-control-sm"
                               name="v_width" [(ngModel)]="variation.width" placeholder="宽">
                        &times;
                        <input type="text" class="form-control form-control-sm"
                               name="v_height" [(ngModel)]="variation.height" placeholder="高">
                    </div>

                </div>
            </div>


        </accordion-group>

        <accordion-group isOpen="true">
            <div accordion-heading>
                产品内容<i class="pull-right fa customize-chevron"></i>
            </div>

            <!-- Froala Editor -->
            <!-- TODO: Use official one when ngModule bug is fixed -->
            <!--<div *ngIf="inputPost" [froalaEditor]="froalaOptions" [(froalaModel)]="inputPost.content"></div>-->
            <froala *ngIf="inputProduct" [froalaOptions]="froalaOptions"
                    [froalaData]="inputProduct.content" (model)="productContentChanged($event)"></froala>

        </accordion-group>
    </accordion>

</form>



<revision-history [entity]="entity$ | async"
                  [authorsObj]="authorsObj$ | async"
                  (restore2Revision)="restoreRevision($event)"></revision-history>

<!-- Right panel, we can trigger a separate saving individually -->
<right-panel [width]="'540px'" [isOpen]="openPanel"
             (toggle)="openPanel = !openPanel" *ngIf="product">
    <accordion>

        <accordion-group isOpen="true">
            <div accordion-heading>
                产品分类<i class="pull-right fa customize-chevron"></i>
            </div>

            <category-tree [parentId]="0"
                           [categories]="shopState.categories"
                           [selectedCats]="entity.categories"
                           (checkEvent)="selectCat($event)">
            </category-tree>
        </accordion-group>

        <accordion-group isOpen="true">
            <div accordion-heading>
                产品标签<i class="pull-right fa customize-chevron"></i>
            </div>

            <tag-cloud [tags]="shopState.tags"
                       [selectedTags]="entity.tags"
                       (addTag)="addTag($event)"
                       (removeTag)="removeTag($event)"></tag-cloud>
        </accordion-group>

    </accordion>
</right-panel>
