<list-page-header [slug]="'voucher'"
                  [name]="'优惠码'"
                  [zh]="zh"
                  [loading]="isLoading$ | async"
                  (newEntityEvent)="newVoucher()"></list-page-header>

<!-- Post filter/tool bar at top -->
<list-filter-bar [slug]="'voucher'"
                 [zh]="zh"
                 [etype]="etype"
                 [paginator]="paginator$ | async"></list-filter-bar>

<h2>Vouchers management page</h2>
<a [routerLink]="['/voucher/new']">New Voucher</a>