<setting-menu></setting-menu>

<!-- Sub menus -->
<!--
<nav class="navbar page-sub-menu">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a [routerLink]="['/setting/menu/desktop']"
               routerLinkActive="active">
                桌面版目录
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/setting/menu/mobile']"
               routerLinkActive="active">
                手机版目录
            </a>
        </li>
    </ul>
</nav>
-->

<div class="setting-body">
    <!-- List of all menus -->
    <fe-menu-setting [rootIds]="feMenuRootIds$ | async"
                     [roots]="feMenuRoots$ | async"
                     [groupIds]="feMenuGroupIds$ | async"
                     [parentIds]="feMenuParentIds$ | async"
                     [menus]="feMenus$ | async"
                     (edit)="onEdit($event)"
                     (add)="onAdd()"></fe-menu-setting>
</div>
