<setting-menu></setting-menu>

<p *ngIf="!country">
    For bangli.us, we should add 2 top level countries: US and CA.<br>
    For bangli.uk, we should add 5 top level countries: England, Scotland, Welsh
    North Ireland and Ireland.<br>
</p>

<p>
    TODO: <br>
    1. This is the page manages all the city/town/village, region/province/county<br>
       and country of a domain. <br>
    2. bbs, cms and other modules uses location to display and locate geo-location<br>
       based content to user.<br>
</p>
