<table class="table table-hover" style="font-size: 85%;">
    <thead class="thead-default">
    <tr>
        <th width="2%"></th>
        <th width="2%">
            <input type="checkbox" name="selectedAll"
                   [(ngModel)]="checkedAll" (change)="checkboxAll()">
        </th>
        <th width="36%">标题</th>
        <th width="16%">作者 / 编辑</th>
        <th width="18%">分类</th>
        <th width="12%">发布日期</th>
        <th width="12%">更新日期</th>
        <th width="6%">view</th>
    </tr>
    </thead>

    <tbody>

    <!-- table row of post -->
    <template ngFor let-id [ngForOf]="ids" let-i="index">
        <!-- displaying -->
        <!--<tr id="{{i}}" (dblclick)="">-->
        <tr>
            <th>{{i+1}}</th>
            <td><input type="checkbox" name="post[]" [(ngModel)]="posts[id].checked"></td>
            <td>
                <span *ngIf="posts[id].state != 'publish'" class="tag tag-danger-outline">
                    {{ zh[posts[id].state] }}
                </span>
                <span class="tag tag-default-outline">{{ zh[posts[id].creative_type] }}</span>
                <strong><a [routerLink]="['/post', id ]">{{ posts[id].title }}</a></strong>
                <div class="row-actions">
                    <span class="trash"><a>删除</a> | </span>
                    <span><a href="{{ previewLink(id) }}" target="_blank">查看</a> | </span>
                    <span class="tag tag-default-outline">{{ zh[posts[id].post_type] }}</span>
                </div>
            </td>
            <td *ngIf="authors[posts[id].author_id]">
                <span>作者: {{ authors[posts[id].author_id].name }}</span>
                <div *ngIf="posts[id].author_id !== posts[id].editor_id">
                    编辑: {{ editors[posts[id].editor_id].name }}
                </div>
            </td>
            <td *ngIf="!authors[posts[id].author_id]">
                FIXME
            </td>
            <td>
                <span *ngFor="let cat of posts[id].categories">
                <a [routerLink]="['/cms/category', cat.id]">{{ cat.name }}</a>, </span>
            </td>
            <td>{{ posts[id].published_at }}</td>
            <td>{{ posts[id].updated_at }}</td>
            <td>
                <span>0</span>
                <div><span>0</span></div> <!-- Comments -->
            </td>
        </tr>
    </template>

    </tbody>
</table>
