<list-page-header [slug]="'comment'"
                  [name]="'评论'"
                  [zh]="zh"
                  [loading]="isLoading$ | async"
                  [isPageless]="pageless"
                  (togglePagelessEvent)="pageless = !pageless">
</list-page-header>

<!-- Offer post filter/tool bar at top -->
<list-filter-bar [slug]="'comment'"
                 [zh]="zh"
                 [etype]="etype"
                 [paginator]="paginator$ | async"
                 (batchActionEvent)="batchEdit($event)"></list-filter-bar>

<!-- Topic list table -->
<comment-list [etype]="etype"
              [entities]="entities$ | async"
              [idsCurPage]="idsCurPage$ | async"
              [idsEditing]="idsEditing$ | async"
              (batchEdit)="batchEdit($event)"
              (batchDelete)="batchDelete($event)"></comment-list>
