<div class="page-header">
    <h1 class="title">
        图片管理
        <button class="btn btn-sm btn-info-outline">上传图片</button>
    </h1>
</div>

<!-- sub menu -->
<nav class="navbar page-sub-menu">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <!-- Grid layout -->
            <a class="nav-link"><i class="fa fa-th"></i></a>
        </li>

        <li class="nav-item">
            <!-- List layout -->
            <a class="nav-link"><i class="fa fa-list"></i></a>
        </li>

        <!-- Image category -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">图片分类</a>

            <div class="dropdown-menu">
                <a class="dropdown-item">分类1</a>
                <a class="dropdown-item">分类3</a>
                <a class="dropdown-item">分类2</a>
            </div>
        </li>

        <!-- Datepicker using ng2-bootstrap-->
        <li class="nav-item">ng2-bootstrap data picker</li>
    </ul>

    <form class="form-inline pull-xs-right">
        <input class="form-control input-sm" type="text" placeholder="搜索图片">
        <button class="btn btn-sm btn-success-outline" type="submit">搜索</button>
    </form>
</nav>

<!-- Image uploader area -->
<div class="uploader-area">

    <!-- drop zone -->
    <div ng2FileDrop [ngClass]="{'file-over': hasDropZoneOver}"
         (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well drop-zone">

        <h2>把图片拖到此处上传</h2>
        <p>或</p>
        <p><a class="btn btn-secondary">选择图片</a></p>
        <p>当前图片个数: {{ uploader?.queue?.length }}</p>
    </div>

    <!-- Uploading list table -->
    <table class="table">
        <thead>
        <tr>
            <th width="50%">文件名</th>
            <th>文件大小</th>
            <th>进度</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td>0.00 MB</td>
            <td>
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
                <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                <span *ngIf="item.isError"><i class="fa fa-close"></i></span>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-sm"
                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="fa fa-upload"></span> 上传
                </button>
                <button type="button" class="btn btn-warning btn-sm"
                        (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="fa fa-ban"></span> 取消
                </button>
                <button type="button" class="btn btn-danger btn-sm"
                        (click)="item.remove()">
                    <span class="fa fa-trash"></span> 删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <div>
            Queue progress:
            <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>
        <button type="button" class="btn btn-success"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="fa fa-upload"></span> 全部上传
        </button>
        <button type="button" class="btn btn-warning"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <span class="fa fa-ban"></span> 全部取消
        </button>
        <button type="button" class="btn btn-danger"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
            <span class="fa fa-trash"></span> 全部删除
        </button>
    </div>

</div>

<!-- Image list -->
<!-- FIXME: The image may looks like bit small if white space is too large at both side -->
<!-- FIXME: We can set max-width to sth like 150% but needs to work out how to set height -->
<!-- FIXME: dynamically based on screen resolution(as width is changing) -->
<!-- REF: http://stackoverflow.com/questions/14562457/center-oversized-image-in-div -->
<!-- REF: https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/ -->
<div class="attachments">
    <!-- Single item -->
    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>

    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>

    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>

    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>

    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>

    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>
    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>
    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>
    <div class="attachment" role="checkbox">
        <figure>
            <img src="http://www.huluwa.uk/wp-content/uploads/2016/07/Comvita-Childrens-Lemon-Honey-Lollipops-450x338.jpg">
        </figure>
    </div>
</div>