<list-page-header [cmsChannels]="cmsState.channels"
                  [activeChannel]="params['channel']"
                  [etype]="etype" [states]="cmsState.deal_states.actual"
                  [loading]="loading"></list-page-header>

<!-- Deal post filter/tool bar at top -->
<list-filter-bar *ngIf="loaded"
                 [etype]="etype"
                 [authors]="cmsState.authors"
                 [editors]="cmsState.editors"
                 [channels]="cmsState.channels"
                 [categories]="cmsState.categories"
                 [paginator]="entitiesState.paginator"
                 (batchActionEvent)="batchEdit($event)"></list-filter-bar>

<!-- Deal post list table -->
<cms-list *ngIf="loaded"
           [etype]="etype"
           [authState]="authState"
           [listState]="entitiesState"
           [cmsState]="cmsState"
           (batchEdit)="batchEdit($event)"
           (batchDelete)="batchDelete($event)"
           (batchOfflineEdit)="batchOfflineEdit($event)"
           (batchLock)="batchLock($event)"></cms-list>

<hr>
