<list-page-header [isPage]="true"
                  [states]="cmsState.page_states.actual"
                  [loading]="loading"></list-page-header>

<!-- Page filter/tool bar at top -->
<list-filter-bar *ngIf="entitiesState"
                 [isPage]="true"
                 [editors]="cmsState.editors"
                 [paginator]="entitiesState.paginator"
                 (batchActionEvent)="batchEdit($event)"></list-filter-bar>

<!-- Page list table -->
<cms-list *ngIf="entitiesState"
          [isPage]="true"
          [authState]="authState" [listState]="entitiesState"
          [cmsState]="cmsState"
          (batchEdit)="batchEdit($event)"
          (batchDelete)="batchDelete($event)"
          (batchOfflineEdit)="batchOfflineEdit($event)"
          (batchLock)="batchLock($event)"></cms-list>

<hr>
