<list-page-header [slug]="'page'"
                  [name]="'页面'"
                  [zh]="zh"
                  [states]="pageStates$ | async"
                  [loading]="isLoading$ | async"></list-page-header>

<!-- Page filter/tool bar at top -->
<list-filter-bar [slug]="'page'"
                 [zh]="zh"
                 [etype]="etype"
                 [editors]="editors$ | async"
                 [paginator]="paginator$ | async"></list-filter-bar>

<!-- Page list table -->
<cms-list [etype]="etype"
          [authorsObj]="authorsObject$ | async"
          [paginator]="paginator$ | async"
          [entities]="entities$ | async"
          [idsCurPage]="idsCurPage$ | async"
          [idsEditing]="idsEditing$ | async"
          [frontendUrl]="(domain$ | async)?.url"
          (batchEdit)="batchEdit($event)"
          (batchDelete)="batchDelete($event)"
          (batchOfflineEdit)="batchOfflineEdit($event)"
          (batchLock)="batchLock($event)"></cms-list>

<hr>
