<editor-page-header *ngIf="entity"
                    [etype]="etype"
                    [previewUrl]="previewUrl"
                    [ids]="ids"
                    [entities]="entities"
                    [entity]="entity"
                    (cancelEdit)="cancelSave()">
</editor-page-header>


<entity-buttons [entityState]="entity?.state"
                (save)="save()"
                (save2Pending)="save2Pending()"
                (save2Draft)="save2Draft()"
                (save2Publish)="save2Publish()"
                (cancelSave)="cancelSave()">
</entity-buttons>

<entity-title-date [title]="entity?.title"
                   [date]="entity?.fake_published_at"
                   (titleChange)="updateTitle($event)"
                   (dateChange)="updateFakePublishedAt($event)">
</entity-title-date>

<!-- Post location, category, tag, topic etc -->
<!--
<entity-attr-cloud [categories]="entity?.categories"
                   [topics]="entity?.topics"
                   [locations]="entity?.locations"
                   (toggle)="openPanel = !openPanel"
                   (deleteCat)="removeCat($event)"
                   (deleteTag)="removeTag($event)"
                   (deleteTopic)="removeTopic($event)"
                   (toggleGeoLocation)="updateGeoLocation($event)">
</entity-attr-cloud>

<entity-attributes [authorId]="entity?.author_id"
                   [editorId]="entity?.editor_id"
                   [creativeType]="entity?.creative_type"
                   [channelId]="entity?.channel_id"
                   [authors]="cms?.authors"
                   [editors]="cms?.editors"
                   [creativeTypes]="creativeTypes"
                   [channels]="cms?.channels"
                   (authorChanged)="updateAuthor($event)"
                   (editorChanged)="updateEditor($event)"
                   (creativeTypeChanged)="updateCreativeType($event)"
                   (channelChanged)="updateChannel($event)">
</entity-attributes>

<entity-thumbnails>
</entity-thumbnails>

<entity-excerpt-note [excerpt]="entity?.excerpt"
                     [note]="entity?.internal_note"
                     (excerptChanged)="updateExcerpt($event)"
                     (noteChanged)="updateNote($event)">
</entity-excerpt-note>
-->
<!-- Froala Editor -->
<!-- TODO: Use official one when ngModule bug is fixed -->
<!--<div *ngIf="inputPost" [froalaEditor]="froalaOptions"
     [(froalaModel)]="inputPost.content"></div>-->
<!--
<froala [froalaOptions]="froalaOptions"
        [froalaData]="entity?.content"
        (model)="contentChanged($event)"></froala>

<revision-history [entity]="entity" [cmsState]="cms"
                  (restore2Revision)="restoreRevision($event)">
</revision-history>

<entity-right-panel [channel]="entity?.channel"
                    [locations]="cms?.locations"
                    [categories]="cms?.categories"
                    [selectedCats]="entity?.categories"
                    [selectedTopics]="entity?.topics"
                    (categoryChanged)="updateCat($event)"
                    (addTopic)="addTopic($event)"
                    (removeTopic)="removeTopic($event)"
                    (locationChanged)="updateGeoLocation($event)">
</entity-right-panel>
-->