<list-page-header [etype]="etype"
                  [cmsChannels]="cmsState.channels"
                  [activeChannel]="params['channel']"
                  [states]="cmsState.post_states.actual"
                  [loading]="loading"></list-page-header>

<!-- Post filter/tool bar at top -->
<list-filter-bar *ngIf="loaded"
                 [etype]="etype"
                 [authors]="cmsState.authors"
                 [editors]="cmsState.editors"
                 [categories]="cmsState.categories"
                 [paginator]="entitiesState.paginator"
                 (batchActionEvent)="batchEdit($event)"></list-filter-bar>

<!-- Post list table -->
<cms-list *ngIf="loaded"
          [etype]="etype"
          [authState]="authState"
          [listState]="entitiesState"
          [cmsState]="cmsState"
          (batchEdit)="batchEdit($event)"
          (batchDelete)="batchDelete($event)"
          (batchOfflineEdit)="batchOfflineEdit($event)"
          (batchLock)="batchLock($event)"></cms-list>

<hr>

<hr>

<!-- Right side bar -->

<!-- Right panel, we can trigger a seperate saving individually -->
<!-- Only show previous and next nav for fast editing single post -->
<right-panel *ngIf="loaded"
             [width]="'600px'"
             [isOpen]="entitiesInEdit.length"
             [hasNav]="entitiesInEdit.length === 1"
             [entity]="entitiesInEdit[0]"
             (toggle)="cancelBatchEdit()"
             (previous)="editPreviousPost()"
             (next)="editNextPost()">

    <form (ngSubmit)="onSubmitPosts()">


        <accordion>

            <accordion-group isOpen="true">
                <div accordion-heading>
                    文章分类<i class="pull-right fa customize-chevron"></i>
                </div>

                <div class="treeview">
                    <category-tree [parentId]="0"
                                   [categories]="cmsState.categories"
                                   [selectedCats]="sharedCats"
                                   (checkEvent)="selectCat($event)">
                    </category-tree>
                </div>
            </accordion-group>

            <accordion-group isOpen="true">
                <div accordion-heading>
                    文章专题分类<i class="pull-right fa customize-chevron"></i>
                </div>

                <topic-cloud [topics]="cmsState.post_topic_cats"
                             [selectedTopics]="sharedTopics"
                             (addTopic)="addTopic($event)"
                             (removeTopic)="removeTopic($event)"></topic-cloud>
            </accordion-group>

        </accordion>

        <!-- Use form-group to wrap buttons so to pad bottom for right-panel 100% height issue -->
        <div class="row form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">保存</button>
            </div>
        </div>
    </form>

    <!-- Put this outside the form to avoid trigger submit event -->
    <div class="row form-group"><div class="col-xs-12">
        <button type="button" class="btn btn-danger btn-block"
                (click)="cancelBatchEdit()">取消</button>
    </div></div>

</right-panel>

<!--
<right-panel [width]="'600px'" [isOpen]="false" [hasNav]="true">
    <tabset>
        <tab heading="分类" [active]="tabs['cat']"
             (select)="tabs['cat'] = true" (deselect)="tabs['cat'] = false">
            <category-tree [parentId]="0"
                           [categories]="categories"
                           (checkEvent)="checkCat($event)">
            </category-tree>
        </tab>

        <tab heading="标签" [active]="tabs['tag']"
             (select)="tabs['tag'] = true" (deselect)="tabs['tag'] = false">
            <tag-cloud [tags]="tags" (checkEvent)="checkTag($event)"></tag-cloud>
        </tab>

        <tab heading="专题" [active]="tabs['topic']"
             (select)="tabs['topic'] = true" (deselect)="tabs['topic'] = false">
            <topic-cloud [topics]="topics" (checkEvent)="checkTopic($event)"></topic-cloud>
        </tab>
    </tabset>
</right-panel>
-->