<list-page-header [isPost]="true" [states]="cmsState.post_states.actual"
                  [loading]="loading"></list-page-header>

<!-- Post filter/tool bar at top -->
<list-filter-bar [isPost]="true" [authors]="cmsState.authors"
                 [editors]="cmsState.editors"
                 [categories]="cmsState.categories"
                 [paginator]="postsState.paginator"></list-filter-bar>

<!-- Post list table -->
<posts-list [authState]="authState" [postsState]="postsState"
            [cmsState]="cmsState"></posts-list>

<hr>

<!-- Post filter/tool bar at bottom -->
<list-filter-bar [isPost]="true" [authors]="cmsState.authors"
                 [editors]="cmsState.editors"
                 [categories]="cmsState.categories"
                 [paginator]="postsState.paginator"></list-filter-bar>

<hr>

<!-- Right side bar -->
<!--
<right-panel [width]="'600px'" [isOpen]="false" [hasNav]="true">
    <tabset>
        <tab heading="分类" [active]="tabs['cat']"
             (select)="tabs['cat'] = true" (deselect)="tabs['cat'] = false">
            <category-tree [parentId]="0"
                           [categories]="categories"
                           (checkEvent)="checkCat($event)">
            </category-tree>
        </tab>

        <tab heading="标签" [active]="tabs['tag']"
             (select)="tabs['tag'] = true" (deselect)="tabs['tag'] = false">
            <tag-cloud [tags]="tags" (checkEvent)="checkTag($event)"></tag-cloud>
        </tab>

        <tab heading="专题" [active]="tabs['topic']"
             (select)="tabs['topic'] = true" (deselect)="tabs['topic'] = false">
            <topic-cloud [topics]="topics" (checkEvent)="checkTopic($event)"></topic-cloud>
        </tab>
    </tabset>
</right-panel>
-->