<list-page-header [slug]="'post'"
                  [name]="'文章'"
                  [zh]="zh"
                  [cmsChannels]="cmsChannels$ | async"
                  [curChannelSlug]="params['channel']"
                  [states]="postStates$ | async"
                  [loading]="isLoading$ | async"></list-page-header>

<!-- Post filter/tool bar at top -->
<list-filter-bar [slug]="'post'"
                 [zh]="zh"
                 [etype]="etype"
                 [authors]="authors$ | async"
                 [editors]="editors$ | async"
                 [cmsChannels]="cmsChannels$ | async"
                 [categories]="cmsCategories$ | async"
                 [paginator]="paginator$ | async"></list-filter-bar>

<!-- Post list table -->
<cms-list [etype]="etype"
          [authorsObj]="authorsObject$ | async"
          [entities]="entities$ | async"
          [idsCurPage]="idsCurPage$ | async"
          [idsEditing]="idsEditing$ | async"
          [frontendUrl]="(domain$ | async)?.url"
          (batchEdit)="batchEdit($event)"
          (batchDelete)="batchDelete($event)"
          (batchOfflineEdit)="batchOfflineEdit($event)"
          (batchLock)="batchLock($event)"></cms-list>

<hr>

<!-- Right side bar -->

<!-- Right panel, we can trigger a seperate saving individually -->
<!-- Only show previous and next nav for fast editing single post -->
<right-panel [width]="'600px'"
             [isOpen]="(numEditing$ | async) >= 1"
             [hasNav]="(numEditing$ | async) == 1"
             [entity]="entity$ | async"
             (toggle)="cancelBatchEdit()"
             (previous)="editPreviousEntity()"
             (next)="editNextEntity()">

    <form (ngSubmit)="onSubmitPosts()">

        <accordion>

            <accordion-group isOpen="true">
                <div accordion-heading>
                    文章分类<i class="pull-right fa customize-chevron"></i>
                </div>

                <div class="treeview">
                    <category-tree *ngIf="(numEditing$ | async) > 1"
                                   [parentId]="0"
                                   [channelId]="channelId"
                                   [categories]="cmsCategories$ | async"
                                   (checkEvent)="selectCat($event)">
                    </category-tree>

                    <category-tree *ngIf="(numEditing$ | async) == 1"
                                   [parentId]="0"
                                   [channelId]="channelId"
                                   [categories]="cmsCategories$ | async"
                                   [selectedCats]="(entity$ | async)?.categories"
                                   (checkEvent)="selectCat($event)">
                    </category-tree>
                </div>
            </accordion-group>

            <accordion-group isOpen="true">
                <div accordion-heading>
                    文章专题分类<i class="pull-right fa customize-chevron"></i>
                </div>

                <topic-cloud *ngIf="(numEditing$ | async) > 1"
                             [topics]=""
                             (addTopic)="addTopic($event)"
                             (removeTopic)="removeTopic($event)">
                </topic-cloud>

                <topic-cloud *ngIf="(numEditing$ | async) == 1"
                             [topics]=""
                             [selectedTopics]="(entity$ | async)?.topics"
                             (addTopic)="addTopic($event)"
                             (removeTopic)="removeTopic($event)">
                </topic-cloud>

            </accordion-group>

        </accordion>

        <!-- Use form-group to wrap buttons so to pad bottom for right-panel 100% height issue -->
        <div class="row form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block">保存</button>
            </div>
        </div>
    </form>

    <!-- Put this outside the form to avoid trigger submit event -->
    <div class="row form-group"><div class="col-xs-12">
        <button type="button" class="btn btn-danger btn-block"
                (click)="cancelBatchEdit()">取消</button>
    </div></div>

</right-panel>
