<editor-page-header [authState]="authState" [isPost]="true"
                    [entity]="post" [lists]="postsState">
</editor-page-header>

<form *ngIf="post" (ngSubmit)="save()" #postForm="ngForm">

    <!-- Post title and main buttons -->
    <div class="row post-meta-row">
        <div class="col-xs-7 col-sm-7 col-md-8">
            <div class="input-group">
                <span class="input-group-addon">标题</span>
                <input type="text" name="title" class="form-control post-title"
                       [(ngModel)]="post.title" placeholder="文章标题" required>
            </div>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-4">
            <!-- Save buttons -->
            <div class="float-right">
                <button type="submit" class="btn btn-sm btn-outline-success"
                        [disabled]="!postForm.form.dirty && postForm.form.valid">保存</button>

                <button class="btn btn-sm btn-outline-primary"
                        (click)="save2Pending()" [disabled]="!isDraft">提交审稿</button>

                <button class="btn btn-sm btn-outline-danger"
                        (click)="save2Draft()" *ngIf="isPending || isPublish">撤销发布</button>

                <button class="btn btn-sm btn-outline-danger"
                        (click)="save2Publish()" [disabled]="isPublish">发布</button>
            </div>
        </div>
    </div>

    <!-- User can hide some info if the do not want to see it -->
    <accordion>

        <accordion-group isOpen="true">
            <div accordion-heading>
                文章属性<i class="pull-right fa fa-chevron-circle-down"></i>
            </div>

            <!-- author/editor/post_type/creative_type selectors -->
            <div class="row post-meta-row">
                <div class="col-xs-12 form-inline">

                    <div class="form-group post-meta">
                        <label>作者</label>
                        <select class="form-control form-control-sm custom-select"
                                name="author_id" [(ngModel)]="post.author_id">
                            <option *ngFor="let author of cmsState.authors"
                                    [selected]="author.id === post.author_id"
                                    [value]="author.id">{{ author.display_name }}</option>
                        </select>
                    </div>

                    <div class="form-group post-meta">
                        <label>编辑</label>
                        <select class="form-control form-control-sm custom-select"
                                name="editor_id" [(ngModel)]="post.editor_id">
                            <option *ngFor="let editor of cmsState.editors"
                                    [selected]="editor.id === post.editor_id"
                                    [value]="editor.id">{{ editor.display_name }}</option>
                        </select>
                    </div>

                    <div class="form-group post-meta">
                        <label>文章类型</label>
                        <select class="form-control form-control-sm custom-select"
                                name="post_type" [(ngModel)]="post.post_type">
                            <option *ngFor="let pt of cmsState.post_types.available"
                                    [selected]="post.post_type === pt.post_type"
                                    [value]="pt.post_type">{{ zh[pt.post_type] }}</option>
                        </select>
                    </div>

                    <div class="form-group post-meta">
                        <label>稿件属性</label>
                        <select class="form-control form-control-sm custom-select"
                                name="c_type" [(ngModel)]="post.creative_type">
                            <option *ngFor="let c_type of cmsState.post_creative_types.available"
                                    [selected]="post.creative_type === c_type.creative_type"
                                    [value]="c_type.creative_type">{{ zh[c_type.creative_type] }}</option>
                        </select>
                    </div>

                    <a class="float-right btn btn-sm btn-outline-warning" (click)="openPanel = true">展开侧栏</a>
                </div>
            </div>


            <!-- Post category, tag, topic etc -->
            <cms-tag-cloud [post]="post"
                           (toggle)="openPanel = !openPanel"
                           (deleteCat)="removeCat($event)"
                           (deleteTag)="removeTag($event)"
                           (deleteTopic)="removeTopic($event)"></cms-tag-cloud>

            <!-- Thumbnail and excerpt -->
            <div class="row">
                <div class="col-xs-4">
                    <div style="width: 200px; height: 150px; border: 3px solid green;">
                        缩略图
                    </div>
                </div>

                <div class="col-xs-8">
                    <textarea name="excerpt" [(ngModel)]="post.excerpt" placeholder="摘要"
                              class="form-control" style="height: 150px;"></textarea>
                </div>
            </div>

        </accordion-group>

        <accordion-group isOpen="true">
            <div accordion-heading>
                文章内容<i class="pull-right fa fa-chevron-circle-down"></i>
            </div>

            <!-- Froala Editor -->
            <!-- TODO: Use official one when ngModule bug is fixed -->
            <!--<div *ngIf="inputPost" [froalaEditor]="froalaOptions" [(froalaModel)]="inputPost.content"></div>-->
            <froala *ngIf="inputPost" [froalaOptions]="froalaOptions"
                    [froalaData]="inputPost.content" (model)="postContentChanged($event)"></froala>

        </accordion-group>

    </accordion>
</form>

<revision-history [entity]="post" [cmsState]="cmsState"
                  (restore2Revision)="restoreRevision($event)"></revision-history>

<!-- Right panel, we can trigger a seperate saving individually -->
<right-panel [width]="'540px'" [isOpen]="openPanel"
             (toggle)="openPanel = !openPanel" *ngIf="post">
    <accordion>

        <accordion-group isOpen="true">
            <div accordion-heading>
                文章分类<i class="pull-right fa fa-chevron-circle-down"></i>
            </div>

            <category-tree [parentId]="0"
                           [categories]="cmsState.categories"
                           [selectedCats]="post.categories"
                           (checkEvent)="selectCat($event)">
            </category-tree>
        </accordion-group>

        <accordion-group isOpen="true">
            <div accordion-heading>
                文章标签<i class="pull-right fa fa-chevron-circle-down"></i>
            </div>

            <tag-cloud [tags]="cmsState.tags"
                       [selectedTags]="post.tags"
                       (addTag)="addTag($event)"
                       (removeTag)="removeTag($event)"></tag-cloud>
        </accordion-group>

        <accordion-group isOpen="true">
            <div accordion-heading>
                文章专题分类<i class="pull-right fa fa-chevron-circle-down"></i>
            </div>

            <topic-cloud [topics]="cmsState.post_topic_cats"
                         [selectedTopics]="post.topics"
                         (addTopic)="addTopic($event)"
                         (removeTopic)="removeTopic($event)"></topic-cloud>
        </accordion-group>

    </accordion>
</right-panel>
