<editor-page-header [slug]="'topic'"
                    [name]="'专题'"
                    [zh]="zh"
                    [previewUrl]="previewUrl"
                    [ids]="idsCurPage$ | async"
                    [entities]="entities$ | async"
                    [entity]="entity$ | async"
                    (cancelEdit)="cancelSave()">
</editor-page-header>


<entity-attributes [editorId]="(entity$ | async)?.editor_id"
                   [channelId]="(entity$ | async)?.channel_id"
                   [editors]="editors$ | async"
                   [channels]="cmsChannels$ | async"
                   [topicTypes]="topicTypes"
                   [hasDeal]="hasDeal$ | async"
                   (editorChanged)="updateEditor($event)"
                   (channelChanged)="updateChannel($event)"
                   (topicTypeChanged)="updateTopicType($event)"
                   (hasDealChanged)="updateHasDeal($event)">
</entity-attributes>


<!-- Topic location, category, topic, topic [product/topic/post] series etc -->
<entity-attr-cloud [isTopic]="true"
                   [categories]="(entity$ | async)?.categories"
                   [locations]="(entity$ | async)?.locations"
                   (toggle)="tabIdx = $event; openPanel = !openPanel"
                   (deleteCat)="removeCat($event)"
                   (deleteTag)="removeTag($event)"
                   (toggleGeoLocation)="updateGeoLocation($event)"
                   (deleteTopicProductSeries)="removeTopicProductSeries($event)"
                   (deleteTopicTopicSeries)="removeTopicTopicSeries($event)"
                   (deleteTopicPostSeries)="removeTopicPostSeries($event)">
</entity-attr-cloud>


<entity-buttons [entityState]="(entity$ | async)?.state"
                (save)="save()"
                (save2Pending)="save2Pending()"
                (save2Draft)="save2Draft()"
                (save2Publish)="save2Publish()"
                (cancelSave)="cancelSave()">
</entity-buttons>

<entity-title-date [isTopic]="true"
                   [title]="(entity$ | async)?.title"
                   [keywords]="(entity$ | async)?.keywords"
                   [desc]="(entity$ | async)?.desc"
                   [intro]="(entity$ | async)?.intro"
                   (titleChange)="updateTitle($event)"
                   (keywordsChanged)="updateKeywords($event)"
                   (descChanged)="updateDesc($event)"
                   (introChanged)="updateIntro($event)">
</entity-title-date>

<!-- Topic guid, anchor_text, website, aff_url -->
<entity-permalink-edit [guid]="(entity$ | async)?.guid"
                       [anchorText]="(entity$ | async)?.anchor_text"
                       [website]="(entity$ | async)?.website"
                       [affiliateUrl]="(entity$ | async)?.aff_url"
                       (guidChanged)="updateGuid($event)"
                       (anchorTextChanged)="updateAnchorText($event)"
                       (websiteChanged)="updateWebsite($event)"
                       (affiliateUrlChanged)="updateAffiliateUrl($event)">
</entity-permalink-edit>


<!-- Froala Editor -->
<!-- TODO: Use official one when ngModule bug is fixed -->
<!--<div *ngIf="inputPost" [froalaEditor]="froalaOptions"
     [(froalaModel)]="inputPost.content"></div>-->

<h2 style="font-size: 1.25rem">专题首段介绍</h2>
<froala [froalaOptions]="froalaSimplifiedOptions"
        [froalaData]="intro$ | async"
        (model)="froalaIntroChanged($event)"></froala>

<h2 style="font-size: 1.25rem">专题正文内容</h2>
<froala [froalaOptions]="froalaOptions"
        [froalaData]="content$ | async"
        (model)="froalaContentChanged($event)"></froala>

<!-- Extra deal topic only data -->
<deal-topic-content *ngIf="hasDeal$ | async"></deal-topic-content>

<!-- Right panel, we can trigger a seperate saving individually -->
<right-panel [width]="'400px'" [isOpen]="openPanel"
             (toggle)="openPanel = !openPanel">
    <tabset>
        <tab heading="分类" [active]="tabIdx == 0">
            <div class="treeview">
                <category-tree [parentId]="0"
                               [channelId]="(entity$ | async)?.channel?.id"
                               [categories]="cmsCategories$ | async"
                               [selectedCats]="(entity$ | async)?.categories"
                               (checkEvent)="updateCat($event)">
                </category-tree>
            </div>
        </tab>

        <tab heading="专题" [active]="tabIdx == 1">
            <div class="alert alert-danger">
                专题的专题需要分为几类来选择, 产品的品牌,网站,相关的产品,属于的知识类专题等,
                比如HB维他命C需要分别选择品牌专题: Holland Barrett, 产品系列专题: HB维他命系列,
                以及普通专题: 维他命, (还有网站专题: Holland Barrett网站??)
            </div>
            <topic-cloud [channel]="(entity$ | async)?.channel"
                         [topics]="null"
                         [selectedTopics]="(entity$ | async)?.topics"
                         (addTopic)="addTopic($event)"
                         (removeTopic)="removeTopic($event)">
            </topic-cloud>
        </tab>

        <tab heading="Location" [active]="tabIdx == 2">
            <geo-location-cloud [locations]="geoLocations$ | async"
                                (clickEvent)="updateGeoLocation($event)">
            </geo-location-cloud>
        </tab>

        <tab heading="专题系列" [active]="tabIdx == 3">
            <div class="alert alert-danger">
                系列推荐包括专题包含的产品专题和文章专题推荐, 比如当当前专题为'brand'的时候,我们有一下的情况:
            </div>
            <ul>
                <li>推荐的产品系列: 用于显示返利购买链接, 从所有cms_topics.type为'products'的专题当中选择</li>
                <li>推荐的产品系列,用于正文的相关从属关系推荐, 从所有cms_topics.type为'products'的专题当中选择</li>
                <li>用于推荐文章的交叉专题, 从所有cms_topics.type为'general'的专题当中选择</li>
            </ul>

            <div class="alert alert-danger">
                系列推荐包括专题包含的产品专题和文章专题推荐, 比如当当前专题为'products'的时候,我们有一下的情况:
            </div>
            <ul>
                <li>推荐本系列的产品: 用于显示返利购买链接, 从所有cms_topics.type为'product'的专题当中选择</li>
                <li>推荐本系列的产品,用于正文的相关从属关系推荐, 从所有cms_topics.type为'product'的专题当中选择</li>
                <li>推荐同一品牌相关的产品系列,用于正文的相关从属关系推荐, 从相同'brand'的所有cms_topics.type为'products'的专题当中选择</li>
                <li>推荐不同品牌相同功能的产品系列,用于正文的相关从属关系推荐, 从不同'brand'和cms_topics.type==='general', 并且当前产品系列所关联的所有general topic的'products' topics当中选择,
                    比如, HB鱼油系列专题, 正文推荐专题会显示Natural Aids鱼油系列。
                </li>
                <li>用于推荐文章的交叉专题, 从所有cms_topics.type为'general'的专题当中选择</li>
            </ul>
        </tab>
    </tabset>
</right-panel>

<pre>
    This page should have following entries:
    1. cms topic related stuff
    2. Manage cms post related to this topic
    3. Manage deal post related to this topic
    4. Manage topic deal content of this topic, we have auto generated template
       for this, such as xxx的优惠, xxx折扣, xxx打折信息
    5. deal topic option is default enabled for topic in shopping category, so
       at least we have placeholder page stands for search engine ranking, as
       we will automatically generate deal post for deal topic.
</pre>
<h2>This is topic</h2>
