<editor-page-header [slug]="'topic'"
                    [name]="'专题'"
                    [zh]="zh"
                    [previewUrl]="previewUrl"
                    [ids]="idsCurPage$ | async"
                    [entities]="entities$ | async"
                    [entity]="entity$ | async"
                    (cancelEdit)="cancelSave()">
</editor-page-header>

<div class="row">

    <div class="form-group">
        <button class="btn btn-sm btn-outline-secondary" (click)="hide = !hide">
            <template [ngIf]="!hide">隐藏侧栏</template>
            <template [ngIf]="hide">显示侧栏</template>
        </button>
    </div>

    <!-- Sidebar -->
    <div [class.col-xs-4]="!hide" [class.hidden]="hide"
         style="background: #e1f6fd; padding: 1rem">

        <!-- Save button -->
        <div class="form-group">
            <button class="btn btn-sm btn-outline-success"
                    (click)="save()" [disabled]="!isDirty || isLoading">
                <template [ngIf]="isDirty && !isLoading">保存</template>
                <template [ngIf]="!isDirty">已保存</template>
                <template [ngIf]="isDirty && isLoading">保存中...</template>
            </button>
        </div>

        <!-- Enitity state and has deal attr -->
        <div class="row">
            <div class="col-xs-7">
                <div class="form-group post-meta">
                    <label>状态</label>
                    <select class="form-control form-control-sm custom-select"
                            name="st" [ngModel]="(entity$ | async)?.state"
                            (ngModelChange)="update('state', $event)">
                        <option *ngFor="let state of entityStates"
                                [selected]="state === entityState"
                                [value]="state">{{ zh[state] }}</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-5">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"
                               name="hasDeal" [ngModel]="hasDeal$ | async"
                               (ngModelChange)="update('has_deal', $event)"/>
                        优惠专题
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>编辑</label>
            <ng-select [active]="(editor$ | async) ? [editor$ | async] : []"
                       [items]="editors$ | async"
                       (selected)="update('editor', $event)"
                       (removed)="update('editor', $event)"
                       placeholder="选择编辑"></ng-select>
        </div>

        <div class="form-group">
            <label>频道</label>
            <ng-select [active]="(channel$ | async) ? [channel$ | async] : []"
                       [items]="cmsChannels$ | async"
                       (selected)="update('channel', $event)"
                       (removed)="update('channel', $event)"
                       placeholder="专题频道"></ng-select>
        </div>

        <div class="form-group">
            <label>专题类型</label>
            <ng-select [active]="(topicType$ | async) ? [topicType$ | async] : []"
                       [items]="cmsTopicTypes$ | async"
                       (selected)="update('type', $event)"
                       (removed)="update('type', $event)"
                       placeholder="专题类型"></ng-select>
        </div>

        <!-- Topic location, category, topic, topic [product/topic/post] series etc -->
        <entity-attr-cloud [isTopic]="true"
                           [categories]="(entity$ | async)?.categories"
                           [location]="(entity$ | async)?.location"
                           [topics]="(entity$ | async)?.topics"
                           [topicTypes]="cmsTopicTypes$ | async"
                           (toggle)="tabIdx = $event; openPanel = !openPanel"
                           (detachCat)="detach('categories', $event)"
                           (detachTopic)="detach('topics', $event)"
                           (updateLocation)="update('location', $event)">
        </entity-attr-cloud>

        <div class="form-group">
            <label>关键字</label>
            <ng-select [active]="keywords$ | async"
                       [items]="keywords"
                       [multiple]="true"
                       (selected)="attachStr('keywords', $event)"
                       (removed)="detachStr('keywords', $event)"
                       placeholder="选择关键字"></ng-select>
        </div>
    </div>


    <!-- Main area -->
    <div [class.col-xs-8]="!hide" [class.col-xs-12]="hide">
        <entity-title-date [isTopic]="true"
                           [title]="(entity$ | async)?.title"
                           [guid]="(entity$ | async)?.guid"
                           [desc]="(entity$ | async)?.desc"
                           [anchorText]="(entity$ | async)?.anchor_text"
                           (titleChange)="update('title', $event)"
                           (guidChange)="update('guid', $event)"
                           (descChange)="update('desc', $event)"
                           (anchorTextChange)="update('anchor_text', $event)">
        </entity-title-date>

        <!-- Topic guid, anchor_text, website, aff_url -->
        <entity-permalink-edit [website]="(entity$ | async)?.website"
                               [affiliateUrl]="(entity$ | async)?.aff_url"
                               (websiteChange)="update('website', $event)"
                               (affiliateUrlChange)="update('aff_url', $event)">
        </entity-permalink-edit>


        <!-- Froala Editor, only 1 can be initialized at same time -->
        <tabset>
            <tab heading="专题首段介绍" [active]="contentIdx == 0 || true"
                 (select)="contentIdx = 0">
                <froala *ngIf="contentIdx == 0"
                        [froalaOptions]="froalaOptions"
                        [froalaData]="intro$ | async"
                        (model)="froalaModel = $event"
                        (editorInitialized)="onFroalaInitialized('intro')">
                </froala>
            </tab>

            <tab heading="专题正文内容" (select)="contentIdx = 1">
                <froala *ngIf="contentIdx == 1"
                        [froalaOptions]="froalaOptions"
                        [froalaData]="content$ | async"
                        (model)="froalaModel = $event"
                        (editorInitialized)="onFroalaInitialized('content')">
                </froala>
            </tab>

            <tab heading="优惠专题首段内容" (select)="contentIdx = 2" *ngIf="hasDeal$ | async">
                <froala *ngIf="contentIdx == 2"
                        [froalaOptions]="froalaOptions"
                        [froalaData]="deal_intro$ | async"
                        (model)="froalaModel = $event"
                        (editorInitialized)="onFroalaInitialized('deal_intro')">
                </froala>
            </tab>

            <tab heading="优惠专题正文内容" (select)="contentIdx = 3" *ngIf="hasDeal$ | async">
                <froala *ngIf="contentIdx == 3"
                        [froalaOptions]="froalaOptions"
                        [froalaData]="deal_content$ | async"
                        (model)="froalaModel = $event"
                        (editorInitialized)="onFroalaInitialized('deal_content')">
                </froala>
            </tab>
        </tabset>
    </div>

    <revision-history [entity]="entity$ | async"
                      [authorsObj]="authorsObj$ | async"
                      (restore2Revision)="update('content', $event)">
    </revision-history>
</div>

<!-- Right panel, we can trigger a seperate saving individually -->
<right-panel [width]="'400px'" [isOpen]="openPanel"
             (toggle)="openPanel = !openPanel">
    <tabset>
        <tab heading="分类" [active]="tabIdx == 0">
            <div class="treeview">
                <category-tree [parentId]="0"
                               [categories]="cmsCategories$ | async"
                               [selectedCats]="(entity$ | async)?.categories"
                               (checkEvent)="toggleAttr('categories', $event)">
                </category-tree>
            </div>
        </tab>

        <tab heading="相关专题" [active]="tabIdx == 1">
            <topic-cloud [topicTypes]="cmsTopicTypes$ | async"
                         [topics]="cmsTopics$ | async"
                         [selectedTopics]="(entity$ | async)?.topics"
                         (searchTopic)="searchTopic(null, $event)"
                         (attachTopic)="attach('topics', $event)"
                         (detachTopic)="detach('topics', $event)">
            </topic-cloud>
        </tab>

        <tab heading="Location" [active]="tabIdx == 2">
            <geo-location-cloud [locations]="geoLocations$ | async"
                                (clickEvent)="update('location', $event)">
            </geo-location-cloud>
        </tab>

    </tabset>
</right-panel>


<div style="display: none">
    专题的专题需要分为几类来选择, 产品的品牌,网站,相关的产品,属于的知识类专题等,
    比如HB维他命C需要分别选择品牌专题: Holland Barrett, 产品系列专题: HB维他命系列,
    以及普通专题: 维他命, (还有网站专题: Holland Barrett网站??)
    <br>
    系列推荐包括专题包含的产品专题和文章专题推荐, 比如当当前专题为'brand'的时候,我们有一下的情况:

    <ul>
        <li>推荐的产品系列: 用于显示返利购买链接, 从所有cms_topics.type为'products'的专题当中选择</li>
        <li>推荐的产品系列,用于正文的相关从属关系推荐, 从所有cms_topics.type为'products'的专题当中选择</li>
        <li>用于推荐文章的交叉专题, 从所有cms_topics.type为'general'的专题当中选择</li>
    </ul>
    系列推荐包括专题包含的产品专题和文章专题推荐, 比如当当前专题为'products'的时候,我们有一下的情况:
    <ul>
        <li>推荐本系列的产品: 用于显示返利购买链接, 从所有cms_topics.type为'product'的专题当中选择</li>
        <li>推荐本系列的产品,用于正文的相关从属关系推荐, 从所有cms_topics.type为'product'的专题当中选择</li>
        <li>推荐同一品牌相关的产品系列,用于正文的相关从属关系推荐, 从相同'brand'的所有cms_topics.type为'products'的专题当中选择</li>
        <li>推荐不同品牌相同功能的产品系列,用于正文的相关从属关系推荐, 从不同'brand'和cms_topics.type==='general', 并且当前产品系列所关联的所有general topic的'products' topics当中选择,
            比如, HB鱼油系列专题, 正文推荐专题会显示Natural Aids鱼油系列。
        </li>
        <li>用于推荐文章的交叉专题, 从所有cms_topics.type为'general'的专题当中选择</li>
    </ul>
</div>