<list-page-header [slug]="'topic'"
                  [name]="'专题'"
                  [zh]="zh"
                  [cmsChannels]="cmsChannels$ | async"
                  [curChannelSlug]="params['channel']"
                  [states]="topicStates$ | async"
                  [loading]="loading"></list-page-header>

<!-- Topic filter/tool bar at top -->

<list-filter-bar [slug]="'topic'"
                 [zh]="zh"
                 [etype]="etype"
                 [editors]="editors$ | async"
                 [cmsChannels]="cmsChannels$ | async"
                 [categories]="cmsCategories$ | async"
                 [paginator]="paginator$ | async"></list-filter-bar>

<!-- Topic list table -->
<cms-list [etype]="etype"
          [authorsObj]="authorsObject$ | async"
          [editorsObj]="editorsObject$ | async"
          [paginator]="paginator$ | async"
          [entities]="entities$ | async"
          [idsCurPage]="idsCurPage$ | async"
          [idsEditing]="idsEditing$ | async"
          [authState]="authState"
          (batchEdit)="batchEdit($event)"
          (batchDelete)="batchDelete($event)"
          (batchOfflineEdit)="batchOfflineEdit($event)"
          (batchLock)="batchLock($event)"></cms-list>

<hr>
