<!-- Cms channel menus -->
<div class="channel-menu">
    <div class="channel-heading">
        <a *ngFor="let ch of channels"
           [routerLink]="['/setting/cms', ch.slug]"
           class="channel-title" routerLinkActive="active">
            <h4>{{ ch.name }}</h4>
        </a>
    </div>
</div>

<!-- Cms taxonomy setting menus -->
<nav mat-tab-nav-bar *ngIf="channel">
    <a  mat-tab-link *ngFor="let s of settings"
        [routerLink]="['/setting/cms', channel.slug, s]"
        routerLinkActive="active">
        {{ zh[s] }}
    </a>
</nav>
