<div class="page-header">
    <h1 class="title">
        图片管理
    </h1>
</div>


<!-- Upload dropoff area -->
<image-uploader [isOpen]="true"
                (onCompleteItem)="onCompleteItem($event)"></image-uploader>

<!-- Image list -->
<!-- FIXME: The image may looks like bit small if white space is too large at both side -->
<!-- FIXME: We can set max-width to sth like 150% but needs to work out how to set height -->
<!-- FIXME: dynamically based on screen resolution(as width is changing) -->
<!-- REF: http://stackoverflow.com/questions/14562457/center-oversized-image-in-div -->
<!-- REF: https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/ -->
<image-list [etype]="etype"
            [entities]="entities$ | async"
            [idsCurPage]="idsCurPage$ | async"
            [idsEditing]="idsEditing$ | async"
            (batchEdit)="batchEdit($event)"
            (batchDelete)="batchDelete($event)"></image-list>

