<table class="table table-hover entity-list" *ngIf="hasEntity">
    <thead class="thead-default">
    <tr>
        <th width="2%"></th>
        <th width="2%">
            <input type="checkbox" name="sa"
                   [ngModel]="isAllSelected" (change)="updateAll()">
        </th>
        <th width="36%">
            <div class="form-inline">
                <div class="form-group" style="margin-right: 2rem">
                    <select class="form-control form-control-sm custom-select"
                            [(ngModel)]="batchAction" [disabled]="!canEdit">
                        <option value="" selected disabled>批量操作</option>
                        <option value="edit">批量修改</option>
                        <option value="offline_edit">离线编辑</option>
                        <option value="lock">批量锁定</option>
                        <option value="delete">移到回收站</option>
                    </select>

                    <button class="btn btn-sm btn-default" [disabled]="!canEdit"
                            (click)="submitBatchAction()">应用</button>
                </div>
                <span>标题</span>
            </div>
        </th>
        <th width="16%"><span *ngIf="isPost">作者 / </span>编辑</th>
        <th width="18%">分类</th>
        <th width="12%">
            <span *ngIf="!isOffer">发布日期</span>
            <span *ngIf="isOffer">起始日期</span>
        </th>
        <th width="12%">
            <span *ngIf="!isOffer">更新日期</span>
            <span *ngIf="isOffer">过期日期</span>
        </th>
        <th width="6%">view</th>
    </tr>
    </thead>

    <tbody>

    <!-- table row of cms entities -->
    <ng-template ngFor let-entity [ngForOf]="entities" let-i="index">
        <tr>
            <th>{{i+1}}</th>
            <td><input type="checkbox" name="p[]" [ngModel]="isEditing(entity.id)"
                       (change)="updateEditList(entity.id)"></td>
            <td>
                <!-- Badge: Locked post -->
                <i class="fa fa-lock" style="color: red" *ngIf="entity.lock"></i>
                <!-- Badge: Online edit lock -->
                <span class="badge badge-secondary" *ngIf="isOnlineLocked(entity)">
                    <i class="fa fa-pencil" style="color: red"></i>
                    {{ authorsObj[entity.activities[0].user_id].display_name }} 正在编辑
                </span>
                <!-- Badge: Offline edit lock -->
                <span class="badge badge-secondary" *ngIf="isOfflineLocked(entity)">
                    <i class="fa fa-pencil" style="color: blue"></i>
                    {{ authorsObj[entity.activities[0].user_id].display_name}} 正在离线编辑
                </span>

                <span *ngIf="entity.status != 'publish'" class="badge badge-danger">
                    {{ zh[entity.status] }}
                </span>

                <!-- Title -->
                <strong>
                    <a [routerLink]="[editLink(entity.id)]">{{ entity.title }}</a>
                    <span *ngIf="entity.offers_count" class="badge badge-info">{{ entity.offers_count }}个优惠</span>
                    <span *ngIf="entity.featured" class="badge badge-danger">L{{ entity.featured }}</span>
                </strong>

                <div class="row-actions">
                    <span class="trash"><a (click)="deleteEntity.emit(entity.id)">删除</a> | </span>
                    <span><a href="{{ previewLink(entity) }}" target="_blank">查看</a> | </span>
                    <span><a (click)="batchEdit.emit([entity.id])">快速编辑</a></span>
                </div>
            </td>

            <td>
                <!-- editor is always an author -->
                <span *ngIf="entity.editor_id">
                    <span *ngIf="isPost">编辑: </span>{{ authorsObj[entity.editor_id].display_name }}
                </span>
                <div *ngIf="entity.author_id">
                    作者: {{ authorsObj[entity.author_id].display_name }}
                </div>
            </td>

            <td>
                <span *ngFor="let cat of entity.categories">{{ cat.name }}, </span>
            </td>
            <td>
                <span *ngIf="!isOffer">{{ entity.published_at }}</span>
                <span *ngIf="isOffer">{{ entity.starts }}</span>
            </td>
            <td>
                <span *ngIf="!isOffer">{{ entity.updated_at }}</span>
                <span *ngIf="isOffer">{{ entity.ends }}</span>
            </td>
            <td>
                <span>0</span>
                <div><span>0</span></div> <!-- Comments -->
            </td>
        </tr>
    </ng-template>

    </tbody>
</table>
