<!-- This is the template page for all pages -->
<div class="container-fluid" style="min-width: 768px; max-width: 1400px;">
    <div *ngIf="isLoggedIn">

        <topbar [auth]="auth$ | async"
                (logout)="logout()"
                (switchDomain)="switchDomain($event)">
        </topbar>

        <sidebar></sidebar>
    </div>

    <div [class.content]="isLoggedIn"
         [class.login-page]="!isLoggedIn"
         [class.full-width]="toggleSidebar">
        <router-outlet></router-outlet>
    </div>

    <ngrx-store-log-monitor toggleCommand="ctrl-x"></ngrx-store-log-monitor>


    <!-- Alerts area, fixed at left bottom of page -->
    <div class="alert-area" *ngIf="alerts$ | async">
        <alert *ngFor="let alert of alerts$ | async" [type]="alert.type"
               dismissible="true" dismissOnTimeout="3000">{{ alert.msg }}</alert>
    </div>
</div>
