<!-- This is the template page for all pages -->
<div class="container-fluid" style="min-width: 768px; max-width: 1400px;">
    <div *ngIf="isLoggedIn"> <!-- (auth$ | async).payload.token -->

        <topbar [auth]="auth$ | async"
                [pref]="pref$ | async"
                (logout)="logout()"
                (switchDomain)="switchDomain($event)">
        </topbar>

        <sidebar [auth]="auth$ | async"
                 [pref]="pref$ | async"
                 (toggle)="toggleSidebar($event)">
        </sidebar>

    </div>

    <div [class.content]="isLoggedIn"
         [class.login-page]="!isLoggedIn"
         [class.full-width]="pref.isIconSidebar">
        <router-outlet></router-outlet>
    </div>

    <ngrx-store-log-monitor toggleCommand="ctrl-x"></ngrx-store-log-monitor>


    <!-- Alerts area, fixed at left bottom of page -->
    <div class="alert-area" *ngIf="alerts$ | async">
        <alert *ngFor="let alert of alerts$ | async" [type]="alert.type"
               dismissible="true" dismissOnTimeout="3000">{{ alert.msg }}</alert>
    </div>
</div>
