<div class="page-header">
    <!-- Display current post url if any -->
    <div class="float-right" *ngIf="previewUrl">
        <span class="tag tag-default-outline">
            文章状态: {{ zh[postStatus] }}
        </span>
        <span class="tag tag-default-outline">
            预览: <a href="{{previewUrl}}" target="_blank">{{ previewUrl }}</a>
        </span>
    </div>

    <h1 class="title">
        编辑{{ pageTitle }}
        <a class="page-title-action btn btn-outline-info btn-sm" [routerLink]="['/', backUrl]">
            <i class="fa fa-backward"></i> 返回列表
        </a>
        <!--
        <a class="page-title-action btn btn-outline-info btn-sm" (click)="toggleRightBar()">
            <span *ngIf="hideRightBar">显示侧栏</span><span *ngIf="!hideRightBar">隐藏侧栏</span>
        </a>
        -->
    </h1>
</div>
