<table class="table table-hover entity-list">
    <thead class="thead-default">
    <tr>
        <th width="2%"></th>
        <th width="2%">
            <input type="checkbox" name="sa"
                   [ngModel]="isAllSelected" (change)="updateAll()">
        </th>
        <th width="20%">
            <div class="form-inline">
                <div class="form-group" style="margin-right: 2rem">
                    <select class="form-control form-control-sm custom-select"
                            [(ngModel)]="batchAction" [disabled]="!canEdit">
                        <option value="" selected disabled>批量操作</option>
                        <option value="edit">批量修改</option>
                        <option value="delete">移到回收站</option>
                    </select>

                    <button class="btn btn-sm btn-default" [disabled]="!canEdit"
                            (click)="submitBatchAction()">应用</button>
                </div>
                <span>广告标题</span>
            </div>
        </th>
        <th width="20%">广告图片</th>
        <th width="16%">展示位置</th>
        <th width="10%">显示国家</th>
        <th width="10%">状态</th>
        <th width="12%">开始日期</th>
        <th width="12%">过期日期</th>
    </tr>
    </thead>

    <tbody>

    <!-- table row of entities -->
    <ng-template ngFor let-entity [ngForOf]="entities" let-i="index">
        <tr>
            <th>{{i+1}}</th>
            <td><input type="checkbox" name="p[]" [ngModel]="isEditing(entity.id)"
                       (change)="updateEditList(entity.id)"></td>

            <td>
                <span *ngIf="entity.status != 'publish'" class="badge badge-danger">
                    {{ zh[entity.status] }}
                </span>

                <strong><a [routerLink]="[editLink(entity.id)]">{{ entity.title }}</a></strong>
                <div class="row-actions">
                    <span class="trash"><a (click)="deleteEntity.emit(entity.id)">删除</a> | </span>
                    <span><a (click)="batchEdit.emit([entity.id])">快速编辑</a></span>
                </div>
            </td>

            <td><img style="width: 80px; height: auto"
                     [src]="helper.absUrl(entity.image_url)"></td>

            <td>{{ entity.position }}</td>

            <td>{{ entity.location }}</td>

            <td>{{entity.status}}</td>

            <td>{{ entity.starts | date: 'yyyy-MM-dd' }}</td>

            <td>{{ entity.ends | date: 'yyyy-MM-dd' }}</td>
        </tr>
    </ng-template>

    </tbody>
</table>
