<list-page-header [slug]="'ads'"
                  [name]="'广告'"
                  [zh]="zh"
                  [loading]="isLoading$ | async"
                  (newEntityEvent)="newAdvertise()"></list-page-header>

<!-- Ads filter/tool bar at top -->
<list-filter-bar [slug]="'ads'"
                 [zh]="zh"
                 [etype]="etype"
                 [paginator]="pagniator$ | async"
                 (batchActionEvent)="batchEdit($event)"></list-filter-bar>

<!-- Ads list table -->
<ads-list [etype]="etype"
          [entities]="entities$ | async"
          [idsCurPage]="idsCurPage$ | async"
          [idsEditing]="idsEditing$ | async"
          [frontendUrl]="(domain$ | async)?.url"
          (batchEdit)="batchEdit($event)"
          (batchDelete)="batchDelete($event)"
          (batchOfflineEdit)="batchOfflineEdit($event)"
          (batchLock)="batchLock($event)"></ads-list>


<!-- Right panel, editing a advertise, scroll with y direction when overflows -->
<right-panel *ngIf="loaded"
             [width]="'600px'"
             [scrollY]="true"
             [isOpen]="entitiesInEdit.length"
             [hasNav]="entitiesInEdit.length === 1"
             [entity]="entity"
             (toggle)="cancelBatchEdit()"
             (previous)="editPreviousEntity()"
             (next)="editNextEntity()">

    <!-- FIXME: Support batch save -->
    <form (ngSubmit)="saveEntity()" *ngIf="entity">

        <div class="row form-group">
            <div class="col-xs-12">
                <label>广告标题</label>
                <input name="title" class="form-control form-control-sm"
                       [(ngModel)]="entity.title" required>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-4">
                <label>显示设备</label>
                <select name="device" class="form-control form-control-sm"
                        [(ngModel)]="entity.device">
                    <option *ngFor="let device of devices" [value]="device">{{ device }}</option>
                </select>
            </div>

            <div class="col-xs-4">
                <label>显示位置</label>
                <select name="device" class="form-control form-control-sm"
                        [(ngModel)]="entity.position">
                    <option *ngFor="let pos of positions" [value]="pos">{{ pos }}</option>
                </select>
            </div>

            <div class="col-xs-4">
                <label>显示国家</label>
                <select name="cty" class="form-control form-control-sm"
                        [(ngModel)]="entity.location">
                    <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <label>广告图片</label>
                <input name="image" class="form-control form-control-sm"
                       [(ngModel)]="entity.image_id" required>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <label>目标地址</label>
                <input name="url" class="form-control form-control-sm"
                       [(ngModel)]="entity.target_url">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-6">
                <label>开始日期 {{ entity.started_at | date: 'y-MM-dd HH:mm:ss' }}</label>
                <datepicker name="dateFrom" [(ngModel)]="startedAt"
                            [showWeeks]="false"></datepicker>
            </div>

            <div class="col-xs-6">
                <label>截止日期 {{ entity.ended_at | date: 'y-MM-dd HH:mm:ss'}}</label>
                <datepicker name="dateTo" [(ngModel)]="endedAt"
                            [showWeeks]="false"></datepicker>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12">
                <label>广告描述</label>
                <textarea rows="3" name="desc" class="form-control form-control-sm"
                       [(ngModel)]="entity.description"></textarea>
            </div>
        </div>

        <button (click)="save2Draft()"
                class="btn btn-block btn-outline-success">保存草稿</button>
        <button (click)="save2Publish()"
                class="btn btn-block btn-outline-success">发布</button>
        <button (click)="cancelBatchEdit()"
                class="btn btn-block btn-outline-danger">取消</button>
    </form>

</right-panel>