<list-page-header [slug]="'user'"
                  [name]="'用户'"
                  [zh]="zh"
                  [loading]="isLoading$ | async"
                  [isPageless]="pageless"
                  (togglePagelessEvent)="pageless = !pageless">
</list-page-header>

<!-- User filter/tool bar at top -->
<list-filter-bar [slug]="'user'"
                 [zh]="zh"
                 [etype]="etype"
                 [paginator]="paginator$ | async"></list-filter-bar>

<!-- List of users -->
<user-list [etype]="etype"
           [entities]="users$ | async"
           [idsCurPage]="idsCurPage$ | async"
           (batchDelete)="batchDelete($event)">
</user-list>
