<!-- This is the template page for all pages -->
<div class="container-fluid" style="min-width: 768px; max-width: 1400px;">
    <div *ngIf="isDashboardUser$ | async">
        <topbar [isPingEnabled]="isPingEnabled"
                [domainKeys]="domainKeys$ | async"
                [domains]="domains$ | async"
                [curDomainKey]="curDomainKey$ | async"
                [jwt]="jwt$ | async"
                [pref]="pref$ | async"
                [latencies]="latencies$ | async"
                (logout)="logout()"
                (loginDomain)="loginDomain($event)"
                (togglePing)="isPingEnabled = !isPingEnabled">
        </topbar>

        <sidebar [curDomainKey]="curDomainKey$ | async"
                 [isLoggedInDomain]="isLoggedInDomain$ | async"
                 [pref]="pref$ | async"
                 (toggle)="toggleSidebar($event)">
        </sidebar>

    </div>

    <div [class.content]="isDashboardUser$ | async"
         [class.login-page]="!(isDashboardUser$ | async)"
         [class.full-width]="(pref$ | async)?.isIconSidebar">
        <router-outlet></router-outlet>
    </div>

    <!--
    <ngrx-store-log-monitor toggleCommand="ctrl-x"></ngrx-store-log-monitor>
    -->


    <!-- FIXME: Replace this with material snack bar -->
    <!-- Alerts area, fixed at left bottom of page -->
    <!--
    <div class="alert-area" *ngIf="alerts$ | async">
        <alert *ngFor="let alert of alerts$ | async" [type]="alert.type"
               dismissible="true" dismissOnTimeout="3000">{{ alert.msg }}</alert>
    </div>
    -->
</div>
