<editor-page-header [slug]="'deal'"
                    [name]="'优惠'"
                    [zh]="zh"
                    [previewUrl]="previewUrl"
                    [ids]="idsCurPage$ | async"
                    [entities]="entities$ | async"
                    [entity]="entity$ | async"
                    (cancelEdit)="cancelSave()">
</editor-page-header>

<entity-buttons [entityState]="(entity$ | async)?.state"
                (save)="save()"
                (save2Pending)="save2Pending()"
                (save2Draft)="save2Draft()"
                (save2Publish)="save2Publish()"
                (cancelSave)="cancelSave()">
</entity-buttons>

<entity-title-date [title]="(entity$ | async)?.title"
                   (titleChange)="updateTitle($event)">
</entity-title-date>

<!-- Post location, category, tag, topic etc -->

<entity-attr-cloud [topics]="(entity$ | async)?.topics"
                   (toggle)="openPanel = !openPanel"
                   (deleteTopic)="removeTopic($event)">
</entity-attr-cloud>

<entity-attributes [editors]="editors$ | async"
                   (editorChanged)="updateEditor($event)">
</entity-attributes>

<entity-thumbnails>
</entity-thumbnails>

<!-- Froala Editor -->
<!-- TODO: Use official one when ngModule bug is fixed -->
<!--<div *ngIf="inputPost" [froalaEditor]="froalaOptions"
     [(froalaModel)]="inputPost.content"></div>-->

<!-- We must use content$ | async instead of other code here, otherwise the
     post content is ether overwritten or empty -->
<froala [froalaOptions]="froalaOptions"
        [froalaData]="content$ | async"
        (model)="froalaContentChanged($event)"></froala>


<pre>
    In single deal post page, we can manage:
    1. Choose cms topic for this deal, once the cms topic is chosen, and
       the deal topic content is empty, a placeholder deal topic content
       will be generated.
</pre>