<list-page-header [slug]="'offer'"
                  [name]="'优惠'"
                  [zh]="zh"
                  [cmsChannels]="cmsChannels$ | async"
                  [curChannelSlug]="params['channel']"
                  [statuses]="offerStates$ | async"
                  [loading]="isLoading$ | async"
                  [isPageless]="pageless"
                  (togglePagelessEvent)="pageless = !pageless">
</list-page-header>

<!-- Offer post filter/tool bar at top -->
<list-filter-bar [slug]="'offer'"
                 [zh]="zh"
                 [etype]="etype"
                 [editors]="editors$ | async"
                 [cmsChannels]="cmsChannels$ | async"
                 [categories]="cmsCategories$ | async"
                 [paginator]="paginator$ | async"
                 (filterEvent)="filterEvent($event)"></list-filter-bar>

<!-- Offer post list table -->
<cms-list [etype]="etype"
          [authorsObj]="authorsObject$ | async"
          [entities]="entities$ | async"
          [idsCurPage]="idsCurPage$ | async"
          [idsEditing]="idsEditing$ | async"
          [frontendUrl]="(domain$ | async)?.url"
          (batchEdit)="batchEdit($event)"
          (batchDelete)="batchDelete($event)"
          (batchOfflineEdit)="batchOfflineEdit($event)"
          (batchLock)="batchLock($event)"></cms-list>

<hr>
