<editor-page-header [slug]="'page'"
                    [name]="'页面'"
                    [zh]="zh"
                    [previewUrl]="previewUrl"
                    [ids]="idsCurPage$ | async"
                    [entities]="entities$ | async"
                    [entity]="entity$ | async"
                    (cancelEdit)="cancelSave()">
</editor-page-header>


<entity-buttons [entityState]="(entity$ | async)?.state"
                (save)="save()"
                (save2Pending)="save2Pending()"
                (save2Draft)="save2Draft()"
                (save2Publish)="save2Publish()"
                (cancelSave)="cancelSave()">
</entity-buttons>

<entity-title-date [title]="(entity$ | async)?.title"
                   (titleChange)="updateTitle($event)">
</entity-title-date>

<!-- Froala Editor -->
<!-- TODO: Use official one when ngModule bug is fixed -->
<!--<div *ngIf="inputPost" [froalaEditor]="froalaOptions"
     [(froalaModel)]="inputPost.content"></div>-->

<!-- We must use entity?.content instead of content here, otherwise the
     post content is overwritten -->
<froala [froalaOptions]="froalaOptions"
        [froalaData]="content$ | async"
        (model)="froalaContentChanged($event)"></froala>


<h2>This is page</h2>

