<editor-page-header [slug]="'post'"
                    [name]="'文章'"
                    [zh]="zh"
                    [previewUrl]="previewUrl"
                    [ids]="idsCurPage$ | async"
                    [entities]="entities$ | async"
                    [entity]="entity$ | async"
                    (cancelEdit)="cancelSave()">
</editor-page-header>

<div class="row">

    <div class="form-group">
        <button class="btn btn-sm btn-outline-secondary" (click)="hide = !hide">
            <ng-template [ngIf]="!hide">隐藏侧栏</ng-template>
            <ng-template [ngIf]="hide">显示侧栏</ng-template>
        </button>

        <button type="button"
                class="btn btn-sm btn-secondary"
                (click)="showGallery(galleryModal)">
            媒体库
        </button>
    </div>

    <!-- Sidebar -->
    <div [class.col-xs-4]="!hide" [class.hidden]="hide"
         style="background: #e1f6fd; padding: 1rem">

        <!-- Enitity state -->
        <div class="row">
            <div class="col-xs-7">
                <div class="form-group post-meta">
                    <label>状态</label>
                    <select class="form-control form-control-sm custom-select"
                            name="st" [ngModel]="(entity$ | async)?.state"
                            (ngModelChange)="update('state', $event)">
                        <option *ngFor="let state of entityStates"
                                [selected]="state === entityState"
                                [value]="state">{{ zh[state] }}</option>
                    </select>
                </div>
            </div>


            <!-- Save button -->
            <div class="col-xs-5">
                    <button class="btn btn-sm btn-outline-success float-right"
                        (click)="save" [disabled]="!isDirty || isLoading">
                    <ng-template [ngIf]="isDirty && !isLoading">保存</ng-template>
                    <ng-template [ngIf]="!isDirty">已保存</ng-template>
                    <ng-template [ngIf]="isDirty && isLoading">保存中...</ng-template>
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="date-area">
                <label>前端发布时间:</label>
                <span class="date-time btn btn-sm btn-secondary float-right"
                      (click)="dpShow = !dpShow">
                    {{ (entity$ | async)?.fake_published_at | date: 'y-MM-dd HH:mm' }} GMT
                    <i class="fa fa-chevron-down"
                       [class.fa-chevron-down]="!dpShow"
                       [class.fa-chevron-up]="dpShow"></i>
                </span>
                <div class="date-picker" [class.hidden]="!dpShow">
                    <div>
                        <datepicker name="date"
                                    [ngModel]="(entity$ | async)?.fake_published_at"
                                    (ngModelChange)="updateFakePublishedAt($event)"
                                    [showWeeks]="false"></datepicker>
                        <timepicker name="time"
                                    [ngModel]="(entity$ | async)?.fake_published_at"
                                    (ngModelChange)="updateFakePublishedAt($event)"
                                    [showMeridian]="false"></timepicker>

                        <button class="btn btn-info btn-sm float-right"
                                (click)="dpShow = false">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>作者</label>
            <ng-select [active]="(author$ | async) ? [author$ | async] : []"
                       [items]="authors$ | async"
                       (selected)="update('author', $event)"
                       (removed)="update('author', $event)"
                       placeholder="选择作者"></ng-select>
        </div>

        <div class="form-group">
            <label>编辑</label>
            <ng-select [active]="(editor$ | async) ? [editor$ | async] : []"
                       [items]="editors$ | async"
                       (selected)="update('editor', $event)"
                       (removed)="update('editor', $event)"
                       placeholder="选择编辑"></ng-select>
        </div>

        <div class="form-group">
            <label>频道</label>
            <ng-select [active]="(channel$ | async) ? [channel$ | async] : []"
                       [items]="cmsChannels$ | async"
                       (selected)="update('channel', $event)"
                       (removed)="update('channel', $event)"
                       placeholder="专题频道"></ng-select>
        </div>

        <div class="form-group">
            <label>特色图片</label>
            <div *ngIf="entity?.image" style="margin: 15px;">
                <img [src]="thumbnailUrl(entity.image, 'thumb-card-lg')">
            </div>
            <button type="button"
                    class="btn btn-primary btn-block"
                    (click)="showGallery(galleryModal)">
                设置特色图片
            </button>
        </div>

        <!-- Post location, category, tag, topic etc -->
        <entity-attr-cloud [categories]="(entity$ | async)?.categories"
                           [topics]="(entity$ | async)?.topics"
                           [location]="(entity$ | async)?.location"
                           (toggle)="tabIdx = $event; openPanel = !openPanel"
                           (detachCat)="detach('categories', $event)"
                           (detachTopic)="detach('topics', $event)"
                           (updateLocation)="update('location', $event)">
        </entity-attr-cloud>

    </div>

    <!-- Main area -->
    <div [class.col-xs-8]="!hide" [class.col-xs-12]="hide">

        <entity-title-date [title]="(entity$ | async)?.title"
                           (titleChange)="update('title', $event)">
        </entity-title-date>

        <!--
        <entity-thumbnails>
        </entity-thumbnails>
        -->
        <!--
        <entity-excerpt-note [excerpt]="(entity$ | async)?.excerpt"
                             [note]="(entity$ | async)?.internal_note"
                             (excerptChange)="updateExcerpt($event)"
                             (noteChange)="updateNote($event)">
        </entity-excerpt-note>
        -->

        <!-- Froala Editor -->
        <!-- TODO: Use official one when ngModule bug is fixed -->
        <!--<div *ngIf="inputPost" [froalaEditor]="froalaOptions"
             [(froalaModel)]="inputPost.content"></div>-->

        <!-- We must use content$ | async instead of other code here, otherwise the
             post content is ether overwritten or empty -->
        <div [froalaEditor]></div>
        <!--
        <froala [froalaOptions]="froalaOptions"
                [froalaData]="content$ | async"
                (model)="froalaModel = $event"
                (editorInitialized)="onFroalaInitialized('content')"></froala>
                -->

        <revision-history [entity]="entity$ | async"
                          [authorsObj]="authorsObj$ | async"
                          (restore2Revision)="update('content', $event)">
        </revision-history>

    </div>

</div>

<!-- Right panel, we can trigger a seperate saving individually -->
<right-panel [width]="'400px'" [isOpen]="openPanel"
             (toggle)="openPanel = !openPanel">
    <tabset>
        <tab heading="分类" [active]="tabIdx == 0">
            <div class="treeview">
                <category-tree [parentId]="0"
                               [categories]="cmsCategories$ | async"
                               [selectedCats]="(entity$ | async)?.categories"
                               (checkEvent)="toggleAttr('categories', $event)">
                </category-tree>
            </div>
        </tab>

        <tab heading="专题" [active]="tabIdx == 1">
            <topic-cloud [topicTypes]="cmsTopicTypes$ | async"
                         [topics]="cmsTopics$ | async"
                         [selectedTopics]="(entity$ | async)?.topics"
                         (searchTopic)="searchTopic(1, $event)"
                         (attachTopic)="attach('topics', $event)"
                         (detachTopic)="detach('topics', $event)">
            </topic-cloud>
        </tab>

        <tab heading="Location" [active]="tabIdx == 2">
            <geo-location-cloud [locations]="geoLocations$ | async"
                                (clickEvent)="update('location', $event)">
            </geo-location-cloud>
        </tab>
    </tabset>
</right-panel>

<!-- Gallery Modal -->
<div class="modal fade" bsModal #galleryModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="galleryModal.hide()">
                    <i class="fa fa-times"></i>
                </button>
                <h5 class="modal-title">媒体库</h5>
            </div>

            <div class="modal-body gallery-modal-body">
                <tabset>
                    <tab heading="图片列表">
                        <image-list [etype]="etypeAttachment"
                                    [baseResUrl]="cache.img_server"
                                    [entities]="images$ | async"
                                    [selectedEntities]="selectedImages$ | async"
                                    [idsCurPage]="imageIds$ | async"
                                    [embeddedEditor]="true"
                                    (loadMoreImages)="loadMoreImages()"
                                    (setFeatureImageEvent)="update('image', $event)"
                                    (insertImageEvent)="insertImage($event)"></image-list>
                    </tab>

                    <tab heading="上传图片">
                        <image-uploader [isOpen]="true"
                                        (onCompleteItem)="onImageUploaded($event)">
                        </image-uploader>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>