<editor-page-header [slug]="'topic'"
                    [name]="'专题'"
                    [zh]="zh"
                    [previewUrl]="previewUrl"
                    [ids]="idsCurPage$ | async"
                    [entities]="entities$ | async"
                    [entity]="entity$ | async"
                    (cancelEdit)="cancelSave()">
</editor-page-header>

<div class="row" style="padding: 1rem;">
    <div class="col-auto mr-auto">
        <button type="button"
                class="btn btn-sm btn-secondary"
                (click)="showGallery(galleryModal)">
            媒体库
        </button>
    </div>

    <div class="col-auto">
        <button class="btn btn-sm btn-secondary" (click)="hide = !hide">
            <ng-template [ngIf]="!hide">隐藏侧栏</ng-template>
            <ng-template [ngIf]="hide">显示侧栏</ng-template>
        </button>
    </div>
</div>

<div class="row">


    <!-- Main area -->
    <div [class.col-8]="!hide" [class.col-12]="hide">
        <entity-title-date [isTopic]="true"
                           [title]="(entity$ | async)?.title"
                           [titleCN]="(entity$ | async)?.title_cn"
                           [guid]="(entity$ | async)?.guid"
                           [desc]="(entity$ | async)?.description"
                           (titleChange)="update('title', $event)"
                           (guidChange)="update('guid', $event)"
                           (descChange)="update('description', $event)"
                           (titleCNChange)="update('title_cn', $event)">
        </entity-title-date>

        <!-- Topic guid, anchor_text, website, aff_url -->
        <entity-permalink-edit [website]="(entity$ | async)?.display_url"
                               [affiliateUrl]="(entity$ | async)?.tracking_url"
                               [affId]="(entity$ | async)?.aff_id"
                               [affPlatform]="(entity$ | async)?.aff_platform"
                               (websiteChange)="update('display_url', $event)"
                               (affiliateUrlChange)="update('tracking_url', $event)"
                               (affIdChange)="update('aff_id', $event)"
                               (affPlatformChange)="update('aff_platform', $event)">
        </entity-permalink-edit>

        <tabset>
            <tab heading="专题内容">
                <div [froalaEditor]="froalaOptions" [(froalaModel)]="content"></div>
            </tab>
            <tab [heading]="offersTabName">
                <div>具体优惠的更新需要单独创建一个popup editor，每次编辑好单独保存此优惠的信息，
                    不同此优惠相关的专题一起更新，这样可以大幅降低复杂度.
                </div>
                <accordion-group isOpen="true"
                                 *ngFor="let offer of (entity$ | async)?.offers let idx=index">
                    <div accordion-heading>
                        优惠{{ idx+1 }}.<i class="pull-right fa customize-chevron"></i>
                    </div>

                    <div class="row form-group">
                        <offer-editor [offer]="offer"
                                      (save)="updateMany('offers', idx, $event)"
                                      style="width: 100%"></offer-editor>
                    </div>
                </accordion-group>
            </tab>
        </tabset>
    </div>

    <!-- Sidebar -->
    <div [class.col-4]="!hide" [class.hidden]="hide"
         style="background: #e1f6fd; padding: 1rem">

        <div class="row">
            <div class="col-6">
                <!-- Save button -->
                <div class="form-group">
                    <button class="btn btn-sm btn-outline-success"
                            (click)="save()" [disabled]="!isDirty || isLoading">
                        <ng-template [ngIf]="isDirty && !isLoading">保存</ng-template>
                        <ng-template [ngIf]="!isDirty">已保存</ng-template>
                        <ng-template [ngIf]="isDirty && isLoading">保存中...</ng-template>
                    </button>
                </div>
            </div>
        </div>

        <!-- Enitity status and has offer attr -->
        <div class="row">
            <div class="col-6">
                <div class="form-group post-meta">
                    <label>状态</label>
                    <select class="form-control form-control-sm custom-select"
                            name="st" [ngModel]="(entity$ | async)?.status"
                            (ngModelChange)="update('status', $event)">
                        <option *ngFor="let status of entityStates"
                                [value]="status">{{ zh[status] }}</option>
                    </select>
                </div>
            </div>

            <div class="col-6">
                <!-- 热度,用于显示排名 -->
                <div class="form-group post-meta">
                    <label>热度</label>
                    <select class="form-control form-control-sm custom-select"
                            name="rk" [ngModel]="(entity$ | async)?.ranking"
                            (ngModelChange)="update('ranking', $event)">
                        <option *ngFor="let r of rankings"
                                [value]="r">{{ r }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>编辑</label>
            <ng-select [active]="(editor$ | async) ? [editor$ | async] : []"
                       [items]="editors$ | async"
                       (selected)="update('editor', $event)"
                       (removed)="update('editor', $event)"
                       placeholder="选择编辑"></ng-select>
        </div>

        <div class="form-group">
            <label>频道</label>
            <ng-select [active]="(channel$ | async) ? [channel$ | async] : []"
                       [items]="cmsChannels$ | async"
                       (selected)="update('channel', $event)"
                       (removed)="update('channel', $event)"
                       placeholder="专题频道"></ng-select>
        </div>

        <div class="form-group">
            <label>特色图片</label>
            <div *ngIf="(entity$ | async)?.images" style="margin: 5px">
                <div *ngFor="let img of (entity$ | async)?.images"
                     style="display: inline-block; max-width: 80px; margin: 5px">
                    <img [src]="featureImageUrl(img)" style="width: 100%; cursor: pointer"
                         (click)="detach('images', img)">
                </div>
            </div>
            <button type="button"
                    class="btn btn-primary btn-block"
                    (click)="showGallery(galleryModal)">
                设置特色图片
            </button>
        </div>

        <div class="form-group">
            <label>专题类型</label>
            <ng-select [active]="(topicType$ | async) ? [topicType$ | async] : []"
                       [items]="cmsTopicTypes$ | async"
                       (selected)="update('type', $event)"
                       (removed)="update('type', $event)"
                       placeholder="专题类型"></ng-select>
        </div>

        <!-- Topic location, category, topic, topic [product/topic/post] series etc -->
        <entity-attr-cloud [isTopic]="true"
                           [categories]="(entity$ | async)?.categories"
                           [location]="(entity$ | async)?.location"
                           [topics]="(entity$ | async)?.topics"
                           [topicTypes]="cmsTopicTypes$ | async"
                           (toggle)="tabIdx = $event; openPanel = !openPanel"
                           (detachCat)="detach('categories', $event)"
                           (detachTopic)="detach('topics', $event)"
                           (updateLocation)="update('location', $event)">
        </entity-attr-cloud>

        <div class="form-group">
            <label>标签</label>
            <p>TODO: Set up tag selector with Material2</p>
            <!--
            <ng-select [active]="keywords$ | async"
                       [items]="keywords"
                       [multiple]="true"
                       (selected)="attachStr('keywords', $event)"
                       (removed)="detachStr('keywords', $event)"
                       placeholder="选择关键字"></ng-select>
                       -->
        </div>
    </div>

    <revision-history [entity]="entity$ | async"
                      [authorsObj]="authorsObj$ | async"
                      (restore2Revision)="update('content', $event)">
    </revision-history>
</div>

<!-- Right panel, we can trigger a seperate saving individually -->
<right-panel [width]="'400px'" [isOpen]="openPanel"
             (toggle)="openPanel = !openPanel">
    <tabset>
        <tab heading="分类" [active]="tabIdx == 0">
            <div class="treeview">
                <category-tree [parentId]="0"
                               [categories]="cmsCategories$ | async"
                               [selectedCats]="(entity$ | async)?.categories"
                               (checkEvent)="toggleAttr('categories', $event)">
                </category-tree>
            </div>
        </tab>

        <tab heading="相关专题" [active]="tabIdx == 1">
            <topic-cloud [topicTypes]="cmsTopicTypes$ | async"
                         [topics]="cmsTopics$ | async"
                         [selectedTopics]="(entity$ | async)?.topics"
                         (searchTopic)="searchTopic(null, $event)"
                         (attachTopic)="attach('topics', $event)"
                         (detachTopic)="detach('topics', $event)">
            </topic-cloud>
        </tab>

        <tab heading="Location" [active]="tabIdx == 2">
            <geo-location-cloud [locations]="geoLocations$ | async"
                                (clickEvent)="update('location', $event)">
            </geo-location-cloud>
        </tab>

    </tabset>
</right-panel>

<!-- Gallery Modal -->
<div class="modal fade" bsModal #galleryModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="galleryModal.hide()">
                    <i class="fa fa-times"></i>
                </button>
                <h5 class="modal-title">媒体库</h5>
            </div>

            <div class="modal-body gallery-modal-body">
                <tabset>
                    <tab heading="图片列表">
                        <image-list [etype]="etypeAttachment"
                                    [baseResUrl]="cache.img_server"
                                    [entities]="images$ | async"
                                    [selectedEntities]="selectedImages$ | async"
                                    [idsCurPage]="imageIds$ | async"
                                    [embeddedEditor]="true"
                                    (loadMoreImages)="loadMoreImages()"
                                    (setFeatureImageEvent)="attach('images', $event)"
                                    (insertImageEvent)="insertImage($event)"></image-list>
                    </tab>

                    <tab heading="上传图片">
                        <image-uploader [isOpen]="true"
                                        (onCompleteItem)="onImageUploaded($event)">
                        </image-uploader>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>


<div style="display: none">
    专题的专题需要分为几类来选择, 产品的品牌,网站,相关的产品,属于的知识类专题等,
    比如HB维他命C需要分别选择品牌专题: Holland Barrett, 产品系列专题: HB维他命系列,
    以及普通专题: 维他命, (还有网站专题: Holland Barrett网站??)
    <br>
    系列推荐包括专题包含的产品专题和文章专题推荐, 比如当当前专题为'brand'的时候,我们有一下的情况:

    <ul>
        <li>推荐的产品系列: 用于显示返利购买链接, 从所有cms_topics.type为'products'的专题当中选择</li>
        <li>推荐的产品系列,用于正文的相关从属关系推荐, 从所有cms_topics.type为'products'的专题当中选择</li>
        <li>用于推荐文章的交叉专题, 从所有cms_topics.type为'general'的专题当中选择</li>
    </ul>
    系列推荐包括专题包含的产品专题和文章专题推荐, 比如当当前专题为'products'的时候,我们有一下的情况:
    <ul>
        <li>推荐本系列的产品: 用于显示返利购买链接, 从所有cms_topics.type为'product'的专题当中选择</li>
        <li>推荐本系列的产品,用于正文的相关从属关系推荐, 从所有cms_topics.type为'product'的专题当中选择</li>
        <li>推荐同一品牌相关的产品系列,用于正文的相关从属关系推荐, 从相同'brand'的所有cms_topics.type为'products'的专题当中选择</li>
        <li>推荐不同品牌相同功能的产品系列,用于正文的相关从属关系推荐, 从不同'brand'和cms_topics.type==='general', 并且当前产品系列所关联的所有general topic的'products' topics当中选择,
            比如, HB鱼油系列专题, 正文推荐专题会显示Natural Aids鱼油系列。
        </li>
        <li>用于推荐文章的交叉专题, 从所有cms_topics.type为'general'的专题当中选择</li>
    </ul>
</div>