<editor-page-header [slug]="'topic'"
                    [name]="'专题'"
                    [zh]="zh"
                    [previewUrl]="previewUrl"
                    [ids]="idsCurPage$ | async"
                    [entities]="entities$ | async"
                    [entity]="entity$ | async"
                    (cancelEdit)="cancelSave()">
</editor-page-header>

<div style="display: flex; justify-content: space-between; margin-bottom: 1rem">
    <button mat-raised-button (click)="showGallery(galleryModal)">
        媒体库
    </button>

    <button mat-raised-button (click)="hide = !hide">
        <ng-template [ngIf]="!hide">隐藏侧栏</ng-template>
        <ng-template [ngIf]="hide">显示侧栏</ng-template>
    </button>
</div>

<div class="row">

    <!-- Main area -->
    <div [class.col-8]="!hide" [class.col-12]="hide">
        <entity-title-date [isTopic]="true"
                           [title]="(entity$ | async)?.title"
                           [titleCN]="(entity$ | async)?.title_cn"
                           [guid]="(entity$ | async)?.guid"
                           [desc]="(entity$ | async)?.description"
                           (titleChange)="update('title', $event)"
                           (guidChange)="update('guid', $event)"
                           (descChange)="update('description', $event)"
                           (titleCNChange)="update('title_cn', $event)">
        </entity-title-date>

        <!-- Topic guid, anchor_text, website, aff_url -->
        <entity-permalink-edit [website]="(entity$ | async)?.display_url"
                               [affiliateUrl]="(entity$ | async)?.tracking_url"
                               [affId]="(entity$ | async)?.aff_id"
                               [affPlatform]="(entity$ | async)?.aff_platform"
                               (websiteChange)="update('display_url', $event)"
                               (affiliateUrlChange)="update('tracking_url', $event)"
                               (affIdChange)="update('aff_id', $event)"
                               (affPlatformChange)="update('aff_platform', $event)">
        </entity-permalink-edit>

        <mat-tab-group  [selectedIndex]="tabIdx" (selectedIndexChange)="loadOffers($event)">

            <!-- Content area -->
            <mat-tab label="专题内容">
                <div [froalaEditor]="froalaOptions" [(froalaModel)]="content"></div>
            </mat-tab>

            <!-- Topic's offers -->
            <mat-tab [label]="'优惠 (' + (entity$ | async)?.offers_count + ')'">
                <div style="padding: 1rem; display: flex; justify-content: space-around;">

                    <button mat-raised-button color="primary"
                            (click)="newEntityWithEtype('offer', profile)">
                        新建优惠
                    </button>

                    <button mat-raised-button (click)="offerExpanded=!offerExpanded">
                        <span *ngIf="offerExpanded">收起优惠</span>
                        <span *ngIf="!offerExpanded">展开优惠</span>
                    </button>

                    <button mat-raised-button>删除所有优惠</button>
                </div>

                <mat-accordion displayMode="default" multi="true" style="display: block; width: 100%">
                    <!-- new offer -->
                    <mat-expansion-panel *ngIf="newOffer$ | async">
                        <mat-expansion-panel-header>
                            <mat-panel-title>新增优惠</mat-panel-title>
                        </mat-expansion-panel-header>
                            <offer-editor [offer]="newOffer$ | async"
                                          (save)="saveWithEtype('offer', $event.offer, $event.mask)"
                                          style="width: 100%"></offer-editor>
                    </mat-expansion-panel>

                    <!-- list of existing offers -->
                    <mat-expansion-panel *ngFor="let offer of (offers$ | async) let idx=index" [expanded]="offerExpanded">
                        <mat-expansion-panel-header>
                            <mat-panel-title>优惠 {{ idx+1 }}, 更新日期: {{ offer.updated_at }}, STATUS: {{ offer.status }}</mat-panel-title>
                        </mat-expansion-panel-header>

                        <offer-editor [offer]="offer"
                                      (save)="saveWithEtype('offer', $event.offer, $event.mask)"
                                      (destroy)="destroyWithEtype('offer', offer.id)"
                                      style="width: 100%"></offer-editor>
                    </mat-expansion-panel>
                </mat-accordion>

            </mat-tab>
        </mat-tab-group>
    </div>

    <!-- Sidebar -->
    <div [class.col-4]="!hide" [class.hidden]="hide"
         style="background: #efefef; padding: 1rem">

        <div class="row">
            <div class="col-6">
                <!-- Save button -->
                <div class="form-group">
                    <button mat-raised-button color="primary"
                            (click)="save()" [disabled]="!isDirty || isLoading">
                        <ng-template [ngIf]="isDirty && !isLoading">保存</ng-template>
                        <ng-template [ngIf]="!isDirty">已保存</ng-template>
                        <ng-template [ngIf]="isDirty && isLoading">保存中...</ng-template>
                    </button>
                </div>
            </div>

            <div class="col-6">
                <mat-checkbox [ngModel]="(entity$ | async)?.featured"
                              (ngModelChange)="update('featured', $event)">推荐专题</mat-checkbox>
            </div>
        </div>

        <!-- Enitity status -->
        <div class="row">
            <div class="col-6">
                <div class="form-group post-meta">
                    <mat-form-field style="width: 150px !important;">
                        <mat-select placeholder="状态" [ngModel]="(entity$ | async)?.status" name="st"
                                    (ngModelChange)="update('status', $event)">
                            <mat-option *ngFor="let status of entityStates" [value]="status">
                                {{ zh[status] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-6">
                <!-- 热度,用于显示排名 -->
                <mat-form-field style="width: 150px !important;">
                    <mat-select placeholder="热度" [ngModel]="(entity$ | async)?.ranking"
                                name="rk" (ngModelChange)="update('ranking', $event)">
                        <mat-option *ngFor="let r of rankings" [value]="r">{{r}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <mat-form-field>
            <mat-select placeholder="编辑" [ngModel]="(editor$ | async)?.id"
                        name="ed" (ngModelChange)="update('editor_id', $event)">
                <mat-option *ngFor="let e of (editors$ | async)" [value]="e.id">{{ e.display_name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="专题频道" [ngModel]="(channel$ | async)?.id"
                        name="ch" (ngModelChange)="update('channel_id', $event)">
                <mat-option *ngFor="let ch of (cmsChannels$ | async)" [value]="ch.id">{{ ch.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="专题类型" [ngModel]="(topicType$ | async)?.id"
                        name="tt" (ngModelChange)="update('type_id', $event)">
                <mat-option *ngFor="let tt of (cmsTopicTypes$ | async)" [value]="tt.id">{{ tt.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="form-group">
            <button mat-raised-button color="primary" style="width: 100%"
                    (click)="showGallery(galleryModal)">
                设置特色图片
            </button>

            <!-- FIXME: Can't have pipe in arguments
            <button mat-raised-button color="primary"
                    (click)="openGalleryDialog(etypeAttachment,
                    cache.img_server, (images$ | async),
                    (selectedImages$ | async), (imageIds$ | async), 'true')">
                设置特色图片
            </button>
            -->

            <div *ngIf="(entity$ | async)?.images?.length" class="thumbnail-container">
                <img  *ngFor="let img of (entity$ | async)?.images"
                      [src]="featureImageUrl(img)" class="thumb"
                      (click)="detach('images', img)">
            </div>
        </div>

        <!-- Topic location, category, topic, topic [product/topic/post] series etc -->
        <entity-attr-cloud [isTopic]="true"
                           [categories]="(entity$ | async)?.categories"
                           [location]="(entity$ | async)?.location"
                           [topics]="(entity$ | async)?.topics"
                           [topicTypes]="cmsTopicTypes$ | async"
                           (toggle)="tabIdx = $event; openPanel = !openPanel"
                           (detachCat)="detach('categories', $event)"
                           (detachTopic)="detach('topics', $event)"
                           (updateLocation)="update('location', $event)">
        </entity-attr-cloud>

        <div class="form-group">
            <label>标签</label>
            <p>TODO: Set up tag selector with Material2</p>
            <!--
            <ng-select [active]="keywords$ | async"
                       [items]="keywords"
                       [multiple]="true"
                       (selected)="attachStr('keywords', $event)"
                       (removed)="detachStr('keywords', $event)"
                       placeholder="选择关键字"></ng-select>
                       -->
        </div>
    </div>

    <revision-history [entity]="entity$ | async"
                      [authorsObj]="authorsObj$ | async"
                      (restore2Revision)="update('content', $event)">
    </revision-history>
</div>

<!-- Right panel, we can trigger a seperate saving individually -->
<right-panel [width]="'400px'" [isOpen]="openPanel"
             (toggle)="openPanel = !openPanel">
    <mat-tab-group [selectedIndex]="tabIdx">
        <mat-tab label="分类">
            <div class="treeview">
                <category-tree [parentId]="0"
                               [categories]="cmsCategories$ | async"
                               [selectedCats]="(entity$ | async)?.categories"
                               (checkEvent)="toggleAttr('categories', $event)">
                </category-tree>
            </div>
        </mat-tab>

        <mat-tab label="相关专题">
            <topic-cloud [topicTypes]="cmsTopicTypes$ | async"
                         [topics]="cmsTopics$ | async"
                         [selectedTopics]="(entity$ | async)?.topics"
                         (searchTopic)="searchTopic(null, $event)"
                         (attachTopic)="attach('topics', $event)"
                         (detachTopic)="detach('topics', $event)">
            </topic-cloud>
        </mat-tab>

        <mat-tab label="Location">
            <geo-location-cloud [locations]="geoLocations$ | async"
                                (clickEvent)="update('location', $event)">
            </geo-location-cloud>
        </mat-tab>

    </mat-tab-group>
</right-panel>

<!-- Gallery Modal -->
<div class="modal fade" bsModal #galleryModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button mat-icon-button (click)="galleryModal.hide()">
                    <i class="fa fa-close"></i>
                </button>
                <h5 class="modal-title">媒体库</h5>
            </div>

            <div class="modal-body gallery-modal-body">
                <tabset>
                    <tab heading="图片列表">
                        <image-list [etype]="etypeAttachment"
                                    [baseResUrl]="cache.img_server"
                                    [entities]="images$ | async"
                                    [selectedEntities]="selectedImages$ | async"
                                    [idsCurPage]="imageIds$ | async"
                                    [embeddedEditor]="true"
                                    (loadMoreImages)="loadMoreImages()"
                                    (setFeatureImageEvent)="attach('images', $event)"
                                    (insertImageEvent)="insertImage($event)"></image-list>
                    </tab>

                    <tab heading="上传图片">
                        <image-uploader [isOpen]="true"
                                        (onCompleteItem)="onImageUploaded($event)">
                        </image-uploader>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>

<div style="display: none">
    FIXME, TODO:
    专题的专题需要分为几类来选择, 产品的品牌,网站,相关的产品,属于的知识类专题等,
    比如HB维他命C需要分别选择品牌专题: Holland Barrett, 产品系列专题: HB维他命系列,
    以及普通专题: 维他命, (还有网站专题: Holland Barrett网站??)
    <br>
    系列推荐包括专题包含的产品专题和文章专题推荐, 比如当当前专题为'brand'的时候,我们有一下的情况:

    <ul>
        <li>推荐的产品系列: 用于显示返利购买链接, 从所有cms_topics.type为'products'的专题当中选择</li>
        <li>推荐的产品系列,用于正文的相关从属关系推荐, 从所有cms_topics.type为'products'的专题当中选择</li>
        <li>用于推荐文章的交叉专题, 从所有cms_topics.type为'general'的专题当中选择</li>
    </ul>
    系列推荐包括专题包含的产品专题和文章专题推荐, 比如当当前专题为'products'的时候,我们有一下的情况:
    <ul>
        <li>推荐本系列的产品: 用于显示返利购买链接, 从所有cms_topics.type为'product'的专题当中选择</li>
        <li>推荐本系列的产品,用于正文的相关从属关系推荐, 从所有cms_topics.type为'product'的专题当中选择</li>
        <li>推荐同一品牌相关的产品系列,用于正文的相关从属关系推荐, 从相同'brand'的所有cms_topics.type为'products'的专题当中选择</li>
        <li>推荐不同品牌相同功能的产品系列,用于正文的相关从属关系推荐, 从不同'brand'和cms_topics.type==='general', 并且当前产品系列所关联的所有general topic的'products' topics当中选择,
            比如, HB鱼油系列专题, 正文推荐专题会显示Natural Aids鱼油系列。
        </li>
        <li>用于推荐文章的交叉专题, 从所有cms_topics.type为'general'的专题当中选择</li>
    </ul>
</div>