<!-- Dashboard topbar -->
<div class="topbar">
    <ul>
        <li>
            <a href="http://www.huluwa.uk" target="_blank"><i class="fa fa-home">首页</i></a>
        </li>

        <li *ngFor="let menu of topbar_menus" class="{{ menu.style_class }}">
            <a [routerLink]="[menu.url]">
                <i class="{{ menu.icon_class }}"></i>{{ menu.name }}
            </a>
        </li>

        <li class="float-right">
            <a [routerLink]="['/logout']">
                <i class="fa fa-arrow-circle-o-right"></i>退出
            </a>
        </li>

        <li class="float-right">
            <a [routerLink]="['/user/id']">
                <i class="fa fa-user"></i>somename
            </a>
        </li>
    </ul>
</div>

<!-- Dashboard sidebar -->
<div class="sidebar" [class.icon_sidebar]="toggle">
    <a class="toggle" (click)="toggleSidebar($event)"><i class="fa fa-ellipsis-v"></i></a>
    <ul>
        <li *ngFor="let menu of sidebar_menus">
            <a [routerLink]="[menu.url]" title="{{ menu.name }}">
                <i class="{{ menu.icon_class }}"></i>
                <span *ngIf="!toggle">{{ menu.name }}</span>
            </a>
        </li>
    </ul>
</div>
