<list-page-header [pageTitle]="pageTitle" [newItemUrl]="newItemUrl">
</list-page-header>

<!-- list page menu -->
<nav class="navbar page-sub-menu">
    <list-page-menu
            [baseUrl]="baseUrl" [byMe]=""
            [statuses]="statuses"
            [authors]="authors" [editors]="editors"
            [localization]="zh"></list-page-menu>

    <search-box></search-box>
</nav>

<!-- Filter toolbar -->
<div class="list-toolbar">
    <div class="float-left bulk-actions">
        <select class="c-select c-select-sm" [(ngModel)]="bulkAction" [disabled]="!isAnyPostChecked()">
            <option value="none">批量操作</option>
            <option value="deleting">移到回收站</option>
            <option value="editing">批量修改</option>
        </select>
        <button class="btn btn-secondary btn-sm" (click)="applyBulkAction()" [disabled]="!isAnyPostChecked()">应用</button>
    </div>

    <div class="float-left filters">
        <select class="c-select select-sm">
            <option value="0" selected>所有分类</option>
            <option value="x">分类1</option>
            <option value="y">分类2</option>
            <option value="y">分类3</option>
        </select>
        <select class="c-select select-sm">
            <option value="0" selected>所有专题</option>
            <option value="x">专题1</option>
            <option value="y">专题2</option>
            <option value="y">专题3</option>
        </select>

        <date-filter></date-filter>
        <button type="submit" class="btn btn-secondary btn-sm">筛选</button>
    </div>

    <paginator [baseUrl]="deepUrl" [pagination]="pagination"></paginator>
</div>

<!-- Post list table -->
<table class="table table-hover" style="font-size: 85%;">
    <thead class="thead-default">
        <tr>
            <th width="2%"></th>
            <th width="2%">
                <input type="checkbox" name="selectedAll"
                                  [(ngModel)]="checkedAll" (change)="checkboxAll()">
            </th>
            <th width="30%">标题</th>
            <th width="8%">作者</th>
            <th width="8%">编辑</th>
            <th width="18%">分类</th>
            <th width="12%">前端日期</th>
            <th width="12%">发布日期</th>
            <th width="6%">view</th>
            <th width="4%"><i class="fa fa-comments" title="评论"></i></th>
        </tr>
    </thead>

    <tbody>
        <!-- Fast batch editing -->
        <tr *ngIf="bulkEditing" class="fast-edit-form">
            <td colspan="10">
                <fast-edit-post-form [posts]="posts"
                                     [authors]="authors"
                                     [editors]="editors"
                                     (toggle)="toggleRightBar($event)"
                                     (cancel)="cancelBulkEditing($event)"
                                     (submit)="onSubmit($event)">
                </fast-edit-post-form>
            </td>
        </tr>

        <!-- table row of post -->
        <template ngFor let-post [ngForOf]="posts" let-i="index">
            <!-- displaying -->
            <tr id="{{i}}" (dblclick)="fastEditing($event, i)">
                <th>{{i+1}}</th>
                <td><input type="checkbox" name="post[]" [(ngModel)]="post.checked"></td>
                <td>
                    <strong><a [routerLink]="['/post', post.id ]">{{ post.title }}</a></strong>
                    <div class="row-actions">
                        <span class="trash"><a>删除</a> | </span>
                        <span><a href="http://www.huluwa.uk/{{post.id}}.html" target="_blank">查看</a></span>
                    </div>
                </td>
                <td>{{ getNicenameById(post.author_id) }}</td>
                <td>
                    <span>{{ getNicenameById(post.editor_id) }}</span>
                    <div><span class="label label-default-outline">{{ zh[post.post_type] }}</span></div>
                </td>
                <td><span *ngFor="let cat of post.categories"><a [routerLink]="['/cms/category', cat.id]">{{ cat.name }}</a>, </span></td>
                <td>{{ post.fake_published_at }}</td>
                <td>{{ post.published_at }}</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <!-- Fast edit single post -->
            <tr *ngIf="post.editing" class="fast-edit-form" id="edit-{{i}}">
                <td colspan="10">
                    <fast-edit-post-form [post]="post"
                                         [authors]="authors"
                                         [editors]="editors"
                                         (toggle)="toggleRightBar($event, i)"
                                         (cancel)="cancelFastEditing($event, i)"
                                         (submit)="onSubmit($event, i)">
                    </fast-edit-post-form>
                </td>
            </tr>
        </template>
    </tbody>
</table>


<!-- Right side bar -->
<div class="right-side-bar" [class.show-right-side-bar]="!hideRightBar">
    <tabset [justified]="true" *ngIf="!hideRightBar">
        <tab heading="分类" [active]="tabs['cat']"
             (select)="tabs['cat'] = true" (deselect)="tabs['cat'] = false">
            <category-tree [isTreeRoot]="showFilter"
                           [categories]="categories"
                           (checkEvent)="checkCat($event)">
            </category-tree>
        </tab>

        <tab heading="标签" [active]="tabs['tag']"
             (select)="tabs['tag'] = true" (deselect)="tabs['tag'] = false">
            <tag-cloud [tags]="tags" (checkEvent)="checkTag($event)"></tag-cloud>
        </tab>

        <tab heading="专题" [active]="tabs['topic']"
             (select)="tabs['topic'] = true" (deselect)="tabs['topic'] = false">
            <topic-cloud [topics]="topics" (checkEvent)="checkTopic($event)"></topic-cloud>
        </tab>
    </tabset>
</div>

<!-- Alerts area, fixed at left bottom -->
<div class="alert-area" *ngIf="alerts && alerts.length">
    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type"
           dismissOnTimeout="1000">{{alert?.msg}}</alert>
</div>
