<editor-page-header
        [pageTitle]="pageTitle"
        [previewUrl]="previewUrl"
        [backUrl]="backUrl">
</editor-page-header>

<!-- Post title and main buttons -->
<div class="form-group">
    <div class="input-group">
        <input type="text" name="title" class="form-control" placeholder="文章标题"
               [(ngModel)]="post.title">
        <span class="input-group-btn">
            <button class="btn btn-success" (click)="save()" [disabled]="!isPostDirty()"><i class="fa fa-save"></i> 保存</button>

            <!-- Only display these 2 buttons for editors and above -->
            <button class="btn btn-primary" (click)="save2Review()"
                    [disabled]="!isPostDirty() && (post.status === 'pending' || post.status === 'publish')">
                <i class="fa fa-eye"></i> 提交审稿
            </button>

            <button class="btn btn-danger" (click)="save2Draft()" *ngIf="post.status === 'publish'">
                <i class="fa fa-edit"></i>保存为草稿
            </button>

            <button class="btn btn-danger" (click)="publish()" *ngIf="post.status !== 'publish'"
                    [disabled]="!isPostDirty() && post.status === 'publish'">
                <i class="fa fa-smile-o"></i> 发布
            </button>
        </span>
    </div>
</div>

<div class="form-inline post-ctt-wrapper">
    <!-- Post category, tag, topic etc -->
    <post-ctt-cloud [post]="post" (toggle)="toggleRightBar($event)"></post-ctt-cloud>

</div>

<!-- Post meta data -->
<div class="form-inline post-meta-wrapper">
    <div class="form-group post-meta-item">
        <span class="label label-warning-outline">作者</span>
        <select class="c-select c-select-sm form-control" [(ngModel)]="post.author_id">
            <option [value]="author.id"
                    *ngFor="let author of authors">{{ author.nicename }}</option>
        </select>
    </div>

    <div class="form-group post-meta-item">
        <span class="label label-warning-outline">编辑</span>
        <select class="c-select c-select-sm form-control" [(ngModel)]="post.editor_id">
            <option [value]="editor.id"
                    *ngFor="let editor of editors">{{ editor.nicename }}</option>
        </select>
    </div>

    <div class="form-group post-meta-item">
        <span class="label label-warning-outline">文章类型</span>
        <select class="c-select c-select-sm form-control" [(ngModel)]="post.post_type">
            <option value="creative">原创</option>
            <option value="creative">原创</option>
            <option value="creative">原创</option>
            <!--
            <option [value]="postType"
                    *ngFor="let postType of postTypes">{{ postType }}</option>
                    -->
        </select>
    </div>

    <div class="form-group post-meta-item">
        <span class="label label-warning-outline">发布时间</span>
        <select class="c-select c-select-sm form-control" [(ngModel)]="post.post_type">
            <option value="creative">原创</option>
            <option value="creative">原创</option>
            <option value="creative">原创</option>
            <!--
            <option [value]="postType"
                    *ngFor="let postType of postTypes">{{ postType }}</option>
                    -->
        </select>
    </div>

    <span class="label label-default-outline float-right">文章状态: {{ post.status }}</span>
</div>


<!-- Froala Editor -->
<froala [froalaOptions]="options"
        [froalaData]="post.content" (model)="onFroalaModelChanged($event)"
        (editorInitialized)="onEditorInitialized()"></froala>

<div class="row">
    <div class="col-xs-8">
        <textarea rows="3">
            摘要
        </textarea>
    </div>
    <div class="col-xs-4">
        <div style="width: 300px; height: 300px; border: 3px solid green;">
            缩略图
        </div>
    </div>
</div>


<!-- Right side bar -->
<div class="right-side-bar" [class.show-right-side-bar]="!hideRightBar">
    <tabset [justified]="true" *ngIf="!hideRightBar">
        <tab heading="分类" [active]="tabs['cat']"
             (select)="tabs['cat'] = true" (deselect)="tabs['cat'] = false">
            <category-tree [isTreeRoot]="showFilter"
                           [categories]="categories"
                           (checkEvent)="checkCat($event)">
            </category-tree>
        </tab>

        <tab heading="标签" [active]="tabs['tag']"
             (select)="tabs['tag'] = true" (deselect)="tabs['tag'] = false">
            <tag-cloud [tags]="tags" (checkEvent)="checkTag($event)"></tag-cloud>
        </tab>

        <tab heading="专题" [active]="tabs['topic']"
             (select)="tabs['topic'] = true" (deselect)="tabs['topic'] = false">
            <topic-cloud [topics]="topics" (checkEvent)="checkTopic($event)"></topic-cloud>
        </tab>
    </tabset>
</div>

<!-- Alerts area, fixed at left bottom -->
<div class="alert-area" *ngIf="alerts && alerts.length">
    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type"
           dismissOnTimeout="2000">{{alert?.msg}}</alert>
</div>
