<div class="page-header">
    <h1 class="title">
        文章
        <a class="page-title-action btn btn-sm btn-info-outline" [routerLink]="['/post/new']">新建文章</a>
        <button class="page-title-action btn btn-sm btn-info-outline float-right">详简切换</button>
    </h1>
</div>

<!-- sub menu -->
<nav class="navbar page-sub-menu">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/posts/all/all']">全部</a>
        </li>

        <li class="nav-item">
            <a class="nav-link">我的</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">作者（{{ numAuthors }}）</a>

            <div class="dropdown-menu">
                <a *ngFor="let author of authors; let i=index" class="dropdown-item"
                   [routerLink]="['/posts/author', author.id]">
                    {{ i+1 }}. {{ author.nicename }}（{{ author.name }}）
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">编辑（{{ numEditors }}）</a>

            <div class="dropdown-menu">
                <a *ngFor="let editor of editors; let i=index" class="dropdown-item"
                   [routerLink]="['/posts/editor', editor.id]">
                    {{ i+1 }}. {{ editor.nicename }}（{{ editor.name }}）
                </a>
            </div>
        </li>

        <!-- Various post status tabs -->
        <li *ngFor="let s of status" class="nav-item">
            <a class="nav-link" [routerLink]="['/posts/status', s.status]">
                {{ postStatus[s.status] }}（{{ s.count }}）
            </a>
        </li>
    </ul>

    <form class="form-inline pull-xs-right">
        <input class="form-control input-sm" type="text" placeholder="搜索">
        <button class="btn btn-sm btn-success-outline" type="submit">搜索</button>
    </form>
</nav>

<!-- Filter toolbar -->
<div class="list-toolbar">
    <div class="float-left bulk-actions">
        <select class="c-select select-sm">
            <option value="0" selected>批量操作</option>
            <option value="x">移到回收站</option>
            <option value="y">标记</option>
        </select>
        <button type="submit" class="btn btn-secondary btn-sm">应用</button>
    </div>

    <div class="float-left filters">
        <select class="c-select select-sm">
            <option value="0" selected>全部日期</option>
            <option value="x">2016年5月</option>
            <option value="y">2016年4月</option>
            <option value="y">2016年3月</option>
        </select>
        <select class="c-select select-sm">
            <option value="0" selected>所有分类</option>
            <option value="x">分类1</option>
            <option value="y">分类2</option>
            <option value="y">分类3</option>
        </select>
        <select class="c-select select-sm">
            <option value="0" selected>所有专题</option>
            <option value="x">专题1</option>
            <option value="y">专题2</option>
            <option value="y">专题3</option>
        </select>
        <button type="submit" class="btn btn-secondary btn-sm">筛选</button>
    </div>

    <div class="float-right paginator">
        <a class="btn btn-sm btn-secondary" [routerLink]="['/posts', filter, condition, pagination.first_page]"><i class="fa fa-angle-double-left"></i></a>
        <a class="btn btn-sm btn-secondary" [routerLink]="['/posts', filter, condition, pagination.pre_page]"><i class="fa fa-angle-left"></i></a>
        <a class="btn btn-sm btn-secondary" [routerLink]="['/posts', filter, condition, pagination.next_page]"><i class="fa fa-angle-right"></i></a>
        <a class="btn btn-sm btn-secondary" [routerLink]="['/posts', filter, condition, pagination.last_page]"><i class="fa fa-angle-double-right"></i></a>
    </div>
</div>

<!-- Post list table -->
<table class="table table-hover" style="font-size: 85%;">
    <thead class="thead-default">
        <tr>
            <th width="2%"></th>
            <th width="2%">
                <input type="checkbox" name="selectedAll"
                                  [(ngModel)]="checkedAll" (change)="checkboxAll()">
            </th>
            <th width="30%">标题</th>
            <th width="8%">作者</th>
            <th width="8%">编辑</th>
            <th width="18%">分类</th>
            <th width="12%">前端日期</th>
            <th width="12%">发布日期</th>
            <th width="6%">view</th>
            <th width="4%"><i class="fa fa-comments" title="评论"></i></th>
        </tr>
    </thead>

    <tbody>
        <!-- table row of post -->
        <template ngFor let-post [ngForOf]="posts" let-i="index">
            <!-- displaying -->
            <tr *ngIf="!post.editing" id="{{i}}" (dblclick)="fastEditCurrentPost($event, i)">
                <th>{{i+1}}</th>
                <td><input type="checkbox" name="post[]" [(ngModel)]="post.checked"></td>
                <td>
                    <strong><a [routerLink]="['/post', post.id ]">{{ post.title }}</a></strong>
                    <div class="row-actions">
                        <span class="trash"><a>删除</a> | </span>
                        <span><a href="http://www.huluwa.uk/{{post.id}}.html" target="_blank">查看</a></span>
                    </div>
                </td>
                <td>{{ getNicenameById(post.author_id) }}</td>
                <td>
                    <span>{{ getNicenameById(post.editor_id) }}</span>
                    <div><span class="label label-default">{{ postType[post.post_type] }}</span></div>
                </td>
                <td><span *ngFor="let cat of post.categories"><a [routerLink]="['/category', cat.id]">{{ cat.name }}</a>, </span></td>
                <td>{{ post.fake_published_at }}</td>
                <td>{{ post.published_at }}</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <!-- Editing -->
            <tr *ngIf="post.editing" id="edit-{{i}}" (dblclick)="fastEditCurrentPost($event, i)">
                <td colspan="10">
                    <h5>快速编辑</h5>
                    <label>
                        <span class="title">标题</span>
                        <span class="input-text-wrap">
                            <input type="text" name="title" [(ngModel)]="post.title">
                        </span>
                    </label>
                    <label>
                        <span class="title">作者</span>
                        <span class="input-text-wrap">
                            <input type="text" name="author_id" [(ngModel)]="post.author_id">
                        </span>
                    </label>
                    <label>
                        <span class="title">编辑</span>
                        <span class="input-text-wrap">
                            <input type="text" name="editor_id" [(ngModel)]="post.editor_id">
                        </span>
                    </label>
                    <label>
                        <span class="title">分类</span>
                        <span *ngFor="let cat of post.categories">
                            <input type="checkbox" name="category[]">{{ cat.name }}
                        </span>
                    </label>
                    <label>
                        <span class="title">前端日期</span>
                        <span class="input-text-wrap">
                            <input type="text" name="fake_published_at" [(ngModel)]="post.fake_published_at">
                        </span>
                    </label>

                    <label>
                        <span class="title">文章状态</span>
                        <span class="input-text-wrap">
                            <input type="text" name="status" [(ngModel)]="post.status">
                        </span>
                    </label>
                </td>
            </tr>
        </template>
    </tbody>
</table>
