<editor-page-header
        [pageTitle]="'文章'"
        [previewUrl]="'dummy'"
        [backUrl]="'post'"
        [postStatus]="post.status">
</editor-page-header>

<!-- Post title and main buttons -->
<div class="row post-title">
    <div class="col-xs-7 col-sm-7 col-md-8">
        <div class="input-group">
            <span class="input-group-addon">标题</span>
            <input type="text" name="title" class="form-control" placeholder="文章标题"
                   [(ngModel)]="post.title">
        </div>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-4">
        <div class="float-right">
        <button class="btn btn-sm btn-success-outline" (click)="save()" [disabled]="!isPostDirty()">保存</button>

        <!-- Only display these 2 buttons for editors and above -->
        <button class="btn btn-sm btn-primary-outline" (click)="save2Review()"
                [disabled]="!isPostDirty() && (post.status === 'pending' || post.status === 'publish')">
            提交审稿
        </button>

        <button class="btn btn-sm btn-danger-outline" (click)="save2Draft()" *ngIf="post.status === 'publish'">
            保存为草稿
        </button>

        <button class="btn btn-sm btn-danger-outline" (click)="publish()" *ngIf="post.status !== 'publish'"
                [disabled]="!isPostDirty() && post.status === 'publish'">
            发布
        </button>
        </div>
    </div>
</div>

<div class="form-inline post-ctt-wrapper">
    <!-- Post category, tag, topic etc -->
    <post-ctt-cloud [post]="post" (toggle)="toggleRightBar($event)"></post-ctt-cloud>

</div>

<!-- Post meta data -->
<div class="form-inline post-meta-wrapper">
    <div class="form-group post-meta-item">
        <span class="label label-warning-outline">作者</span>
        <select class="c-select c-select-sm form-control" [(ngModel)]="post.author_id">
            <option [value]="author.id"
                    *ngFor="let author of authors">{{ author.nicename }}</option>
        </select>
    </div>

    <div class="form-group post-meta-item">
        <span class="label label-warning-outline">编辑</span>
        <select class="c-select c-select-sm form-control" [(ngModel)]="post.editor_id">
            <option [value]="editor.id"
                    *ngFor="let editor of editors">{{ editor.nicename }}</option>
        </select>
    </div>

    <div class="form-group post-meta-item">
        <span class="label label-warning-outline">文章类型</span>
        <select class="c-select c-select-sm form-control" [(ngModel)]="post.post_type">
            <option [value]="pt" *ngFor="let pt of POST_TYPES">{{ zh[pt] }}</option>
        </select>
    </div>

    <div class="form-group post-meta-item">
        <span class="label label-warning-outline">前端显示时间</span>
        <input class="form-control input-sm" [(ngModel)]="post.fake_published_at">
    </div>
</div>


<!-- Froala Editor -->
<froala [froalaOptions]="froalaOptions"
        [froalaData]="post.content" (model)="onFroalaModelChanged($event)"
        (editorInitialized)="onEditorInitialized()"></froala>

<div class="row">
    <div class="col-xs-8">
        <div class="form-group">
            <label>摘要</label>
            <textarea [(ngModel)]="post.excerpt" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="col-xs-4">
        <div style="width: 300px; height: 300px; border: 3px solid green;">
            缩略图
        </div>
    </div>
</div>


<!-- Right side bar -->
<div class="right-side-bar" [class.show-right-side-bar]="!hideRightBar">
    <tabset [justified]="true" *ngIf="!hideRightBar">
        <tab heading="分类" [active]="tabs['cat']"
             (select)="tabs['cat'] = true" (deselect)="tabs['cat'] = false">
            <category-tree [isTreeRoot]="showFilter"
                           [categories]="categories"
                           (checkEvent)="checkCat($event)">
            </category-tree>
        </tab>

        <tab heading="标签" [active]="tabs['tag']"
             (select)="tabs['tag'] = true" (deselect)="tabs['tag'] = false">
            <tag-cloud [tags]="tags" (checkEvent)="checkTag($event)"></tag-cloud>
        </tab>

        <tab heading="专题" [active]="tabs['topic']"
             (select)="tabs['topic'] = true" (deselect)="tabs['topic'] = false">
            <topic-cloud [topics]="topics" (checkEvent)="checkTopic($event)"></topic-cloud>
        </tab>
    </tabset>
</div>

<!-- Alerts area, fixed at left bottom -->
<div class="alert-area" *ngIf="alerts && alerts.length">
    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type"
           dismissOnTimeout="2000">{{alert?.msg}}</alert>
</div>
