<table class="table table-hover" style="font-size: 85%;">
    <thead class="thead-default">
    <tr>
        <th width="2%">
            <input type="checkbox" name="selectedAll"
                   [(ngModel)]="checkedAll" (change)="checkboxAll()">
        </th>
        <th width="5%">订单号</th>
        <th width="2%">状态</th>
        <th width="2%">留言</th>
        <th width="20%">顾客</th>
        <th width="5%">数量</th>
        <th width="8%">下单日期</th>
        <th width="10%">总价</th>
        <th width="15%">快递(单号/价格)</th>
        <th width="15%">操作</th>
    </tr>
    </thead>

    <tbody *ngIf="orders">
    <!-- table row of order -->
    <template ngFor let-id [ngForOf]="ids" let-i="index">

        <!-- order information short version -->
        <tr id="{{i}}">
            <td><input type="checkbox" name="order[]" [(ngModel)]="orders[id].selected"></td>
            <!--<td><strong><a [routerLink]="['/order', order.id ]">{{ order.id }}</a></strong></td>-->
            <td><strong><a type="button" (click)="editOrder(id)"> #{{ id }} </a></strong></td>
            <td><i class="fa fa-circle-o"></i></td>
            <td><i class="fa fa-comment"></i></td>
            <td>
                <!-- 下单用户, 点击弹出model显示此用户信息,不用切换到用户页面, 因为查看用户信息不是重点 -->
                {{ orders[id].customer.name }}
                <div>
                    <span>{{ orders[id].customer.email }}</span>
                </div>
            </td>
            <td>Item Count</td>
            <td>{{ orders[id].created_at }}</td>
            <td>{{ orders[id].currency}} {{ orders[id].total / 100 }}</td>
            <td (dblclick)="editingTracking=true">
                {{ orders[id].postage }}
                <!--
                <div>
                    <span *ngIf="!editingTracking">{{ orderTracking(order) }}</span>
                    <input *ngIf="editingTracking" class="form-control form-control-sm" type="text"
                           [ngModel]="orderTracking(order)">
                </div>
                -->
            </td>
            <td>
                <div class="btn btn-group btn-group-sm">
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-ellipsis-h"></i></button>
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-check"></i></button>
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-print"></i></button>
                </div>
            </td>
        </tr>

        <!-- order information extra detail -->

    </template>
    </tbody>
</table>