<list-page-header [slug]="'product'"
                  [name]="'产品'"
                  [zh]="zh"
                  [states]="productState$ | async"
                  [loading]="isLoading$ | async"
                  [isPageless]="pageless"
                  (togglePagelessEvent)="pageless = !pageless">
</list-page-header>


<!-- Product filter/tool bar -->
<list-filter-bar [slug]="'product'"
                 [zh]="zh"
                 [etype]="etype"
                 [editors]="editors$ | async"
                 [categories]="productCategories$ | async"
                 [brands]="productBrands$ | async"
                 [paginator]="paginator$ | async"></list-filter-bar>

<!-- Product list table -->
<product-list [etype]="etype"
              [authorsObj]="authorsObject$ | async"
              [entities]="entities$ | async"
              [idsCurPage]="idsCurPage$ | async"
              [idsEditing]="idsEditing$ | async"
              [frontendUrl]="(domain$ | async)?.url"
              (batchEdit)="batchEdit($event)"
              (batchDelete)="batchDelete($event)"
              (batchOfflineEdit)="batchOfflineEdit($event)"
              (batchLock)="batchLock($event)"></product-list>

<hr>
