<!-- Login page template -->
<div class="login-wrapper">
    <div class="card card-block login-box">
        <!--
        <div *ngIf="isLoggedIn" class="alert alert-info">
            你已处于登陆状态，点击<a routerLink="/dashboard">这里</a>进入后台
        </div>
        -->

        <div class="login-box-row">
            <a routerLink="/register" class="small float-right">注册</a>
            <h4>登录</h4>
        </div>

        <!--
        TODO: Ref https://auth0.com/blog/2016/05/03/angular2-series-forms-and-custom-validation/
        TODO: for advanced form validation
        -->
        <!--
        <div *ngIf="error" class="alert alert-danger">
            {{ error }}
        </div>
        -->

        <form class="form-horizontal" role="form" (ngSubmit)="submit()"
              #loginForm="ngForm">

            <mat-form-field>
                <input matInput type="email" required
                       [(ngModel)]="email" name="email" placeholder="邮箱">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" required
                       [(ngModel)]="password" name="password" placeholder="密码">
            </mat-form-field>

            <div class="clearfix login-box-row">
                <a routerLink="/reset-password" class="small float-right">忘记密码</a>
            </div>

            <div class="login-box-row">
                <button mat-raised-button color="primary" type="submit"
                        [disabled]="!loginForm.form.valid">登录</button>
            </div>

        </form>

    </div>

</div>
