
<pre>
    如果在同一路径下切换页面(从其他用户切到当前用户),页面不会重新创建, 或导致所有变量无法重新从服务器读取,
    需要在每个具体的tab页面subscribe ActivatedRoute的改变,或者是从UserPage发送事件到子组件,子组件
    监听这个事件!
    NOTE: 如果选中了用户可以管理某个站点,还需要检查此用户是否被添加到了这个站点。
    NOTE: 如果用户没有后台权限(dashboard_user), 选中了站点需要同时开启用户的后台权限。
    1. Get all domains and user_domain from bangli-auth
    2. Get isDashboardUser and isSuperUser permission for the user
    3. Get user domain specific permssions from each application servers
</pre>

<div class="alert alert-info">
    你在这里可以设置用户是否可以使用管理平台以及超级管理员权限;<br>
    如果需要设置用户在具体站点的权限,你需要切换到具体站点之后进行设置。
</div>

<table class="table table-hover" style="font-size: 85%">
    <thead class="thead-default">
        <tr>
            <th width="10%">可否访问后台</th>
            <th width="10%">是否注册</th>
            <th width="10%">站点Key</th>
            <th width="20%">站点名字</th>
            <th width="20%">站点域名</th>
            <th width="30%">站点API</th>
        </tr>
    </thead>

    <!-- Manage user domains, editable when current user is super-user -->
    <tbody>
        <tr *ngFor="let domain of allDomains; let i=index">
            <td>
                <label class="form-check-inline">
                    <input class="form-check-input" type="checkbox"
                           name="du[]"  [checked]="canUseDashboard(domain.id)"
                           (change)="toggleDomain.emit(domain.id)"
                           [disabled]="!isSuperUser">
                    {{ canUseDashboard(domain.id) ? '是' : '否' }}
                </label>
            </td>
            <td>{{ isRegistered(domain.id) ? '是' : '否' }}</td>
            <td>{{ domain.key }}</td>
            <td>{{ domain.name }}</td>
            <td>{{ domain.url }}</td>
            <td>{{ domain.api }}</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-danger">
    是否是超级管理员:
    <label class="form-check-inline">
        <input class="form-check-input" type="checkbox"
               name="isspu"  [checked]="isUserSuperUser"
               (change)="toggleSuperUser.emit()"
               [disabled]="!isSuperUser">
        {{ isUserSuperUser ? '是' : '否' }}
    </label>
</div>

<div class="row form-group" *ngIf="isSuperUser">
    <div class="col-xs-12">
        <button (click)="save.emit(user)" class="btn btn-primary btn-block">保存</button>
    </div>
</div>

