<accordion-group isOpen="true" *ngIf="user">
    <div accordion-heading>
        基本信息<i class="pull-right fa customize-chevron"></i>
    </div>

    <div class="row form-group">
        <div class="col-xs-6">
            <label>用户角色</label>
            <select name="role_id" class="form-control"
                    [(ngModel)]="user.role_id" [disabled]="!isAdminUser">
                <option *ngFor="let role of roles" [value]="role.id">{{ role.display_name }}</option>
            </select>
        </div>

        <div class="col-xs-6">
            <label>昵称</label>
            <input class="form-control" type="text" name="display_name"
                   [(ngModel)]="user.display_name" [disabled]="!isAdminUser && !isMyProfile">
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-6">
            <label>登录名</label>
            <input class="form-control" type="text" name="name" [ngModel]="user.name" disabled>
        </div>

        <div class="col-xs-6">
            <label>邮箱</label>
            <input class="form-control" type="text" name="email" [ngModel]="user.email" disabled>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-xs-3">
            <label>性别</label>
            <select name="gender" class="form-control" [(ngModel)]="user.gender"
                    [disabled]="!isAdminUser && !isMyProfile">
                <option *ngFor="let gender of genders" [value]="gender.key">{{ gender.display_name }}</option>
            </select>
        </div>

        <div class="col-xs-3">
            <label>生日</label>
            <input class="form-control" type="text" name="birthday"
                   [(ngModel)]="user.birthday" [disabled]="!isAdminUser && !isMyProfile">
        </div>

        <div class="col-xs-3">
            <label>名字</label>
            <input class="form-control" type="text" name="first_name"
                   [(ngModel)]="user.first_name" [disabled]="!isAdminUser && !isMyProfile">
        </div>

        <div class="col-xs-3">
            <label>姓氏</label>
            <input class="form-control" type="text" name="last_name"
                   [(ngModel)]="user.last_name" [disabled]="!isAdminUser && !isMyProfile">
        </div>
    </div>


    <div class="row form-group">
        <div class="col-xs-9">
            <label>用户头像ID</label>
            <input class="form-control" type="text" name="avatar"
                   [(ngModel)]="user.avatar_id" [disabled]="!isAdminUser && !isMyProfile">
        </div>

        <div class="col-xs-3">
            <label>是否订阅</label>
            <div>
                <label class="form-check-inline">
                    <input class="form-check-input" type="radio" name="subscription"
                           [ngModel]="user.subscription"
                           (ngModelChange)="user.subscription"
                           [disabled]="!isAdminUser && !isMyProfile"> 是
                </label>

                <label class="form-check-inline">
                    <input class="form-check-input" type="radio" name="subscription"
                           [ngModel]="!user.subscription"
                           (ngModelChange)="user.subscription"
                           [disabled]="!isAdminUser && !isMyProfile"> 否
                </label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-12">
            <label>简介 (最长255个字)</label>
            <textarea class="form-control" type="text" rows="3" maxlength="255"
                      name="description" [(ngModel)]="user.description"
                      [disabled]="!isAdminUser && !isMyProfile"></textarea>
        </div>
    </div>
</accordion-group>
