
<pre>
    如果在同一路径下切换页面(从其他用户切到当前用户),页面不会重新创建, 或导致所有变量无法重新从服务器读取,
    需要在每个具体的tab页面subscribe ActivatedRoute的改变,或者是从UserPage发送事件到子组件,子组件
    监听这个事件!
    NOTE: 如果选中了用户可以管理某个站点,还需要检查此用户是否被添加到了这个站点。
    NOTE: 如果用户没有后台权限(dashboard_user), 选中了站点需要同时开启用户的后台权限。
    1. Get all domains and user_domain from bangli-auth
    2. Get isDashboardUser and isSuperUser permission for the user
    3. Get user domain specific permssions from each application servers
</pre>

<form (ngSubmit)="save.emit(domains)" #domainsForm="ngForm">
    <table class="table table-hover" style="font-size: 85%">
        <thead class="thead-default">
        <tr>
            <th width="10%">可否访问</th>
            <th width="10%">用户权限</th>
            <th width="10%">站点Key</th>
            <th width="20%">站点名字</th>
            <th width="20%">站点域名</th>
            <th width="30%">站点API</th>
        </tr>
        </thead>

        <!-- Manage user domains, editable when current user is super-user -->
        <tbody>
            <tr *ngFor="let domain of domains; let i=index">
                <td>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="checkbox"
                               name="du[]"  [checked]="domain.checked"
                               (change)="domain.checked = $event.target.checked"
                               [disabled]="!isSuperUser">
                        {{ domain.checked ? '是' : '否' }}
                    </label>
                </td>
                <td>
                    <select name="perm{{i}}" class="form-control"
                            [(ngModel)]="domain.userRoleId"
                            [disabled]="!domain.checked || !isSuperUser">
                        <!--<option *ngFor="let role of userRoles" [value]="role.id">{{ role.display_name }}</option>-->
                    </select>
                </td>
                <td>{{ domain.key }}</td>
                <td>{{ domain.name }}</td>
                <td>{{ domain.url }}</td>
                <td>{{ domain.api }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row form-group" *ngIf="isSuperUser">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block">保存</button>
        </div>
    </div>
</form>
