<div class="page-title">
    <h5 class="title">
        {{ channel.name }}标签
        <button class="page-title-action btn btn-outline-info btn-sm"
                (click)="add.emit($event)">
            <i class="fa fa-plus"></i> 新建标签
        </button>
    </h5>
</div>

<hr>

<ul class="tag-cloud tag-setting" *ngIf="channel">
    <li *ngFor="let tag of tags" class="tag-setting-item tag tag-default-outline">
        <div (click)="edit.emit(tag)" class="tag-left">
            {{ tag.name }}<br>({{ tag.slug }})
        </div>
        <div (click)="setTag(tag); modal.show()" class="tag-right">&times;</div>
    </li>
</ul>

<!-- A simple confirm modal -->
<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="modal.hide()">
                    <span>&times;</span>
                </button>
                <h5 class="modal-title" *ngIf="tag">删除标签: {{ tag.name }}</h5>
            </div>
            <br>
            <div class="modal-body">
                <button type="button" class="btn btn-block btn-outline-success"
                        (click)="modal.hide()">取消</button>
                <button type="button" class="btn btn-block btn-outline-danger"
                        (click)="remove.emit(tag); modal.hide()">删除</button>
            </div>
        </div>
    </div>
</div>
