<list-page-header [pageTitle]="'订单'" [newItemUrl]="'order/new'">
</list-page-header>

<!-- sub menu -->
<nav class="navbar page-sub-menu">
    <list-page-menu [baseUrl]="baseUrl"
                    [statuses]="statuses"
                    [localization]="zh"></list-page-menu>
    <search-box></search-box>
</nav>

<!-- Filter toolbar -->
<div class="list-toolbar">
    <div class="float-left bulk-actions">
        <select class="c-select select-sm">
            <option value="0" selected>批量操作</option>
            <option value="x">移到回收站</option>
            <option value="y">标记为处理中</option>
            <option value="y">完成</option>
            <option value="y">打印</option>
        </select>
        <button type="submit" class="btn btn-secondary btn-sm">应用</button>
    </div>

    <paginator [baseUrl]="deepUrl" [pagination]="pagination"></paginator>
</div>

<!-- Order list table -->
<table class="table table-hover" style="font-size: 85%;">
    <thead class="thead-default">
        <tr>
            <th width="2%">
                <input type="checkbox" name="selectedAll"
                       [(ngModel)]="checkedAll" (change)="checkboxAll()">
            </th>
            <th width="5%">订单号</th>
            <th width="2%">状态</th>
            <th width="2%">留言</th>
            <th width="20%">顾客</th>
            <th width="5%">数量</th>
            <th width="8%">下单日期</th>
            <th width="10%">总价</th>
            <th width="15%">快递(单号/价格)</th>
            <th width="15%">操作</th>
        </tr>
    </thead>

    <tbody>
    <!-- table row of order -->
    <template ngFor let-order [ngForOf]="orders" let-i="index">

        <!-- order information short version -->
        <tr id="{{i}}">
            <td><input type="checkbox" name="order[]" [(ngModel)]="order.checked"></td>
            <!--<td><strong><a [routerLink]="['/order', order.id ]">{{ order.id }}</a></strong></td>-->
            <td><strong><a type="button" (click)="editOrder(i)"> #{{ order.id }} </a></strong></td>
            <td><i class="fa fa-circle-o"></i></td>
            <td><i class="fa fa-comment"></i></td>
            <td>
                <!-- 下单用户, 点击弹出model显示此用户信息,不用切换到用户页面, 因为查看用户信息不是重点 -->
                {{ order.customer.name }}
                <div>
                    <span>{{ order.customer.email }}</span>
                </div>
            </td>
            <td>{{ orderItemCount(order) }}</td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.currency}} {{ order.total / 100 }}</td>
            <td (dblclick)="editingTracking=true">
                {{ order.postage }}
                <div>
                    <span *ngIf="!editingTracking">{{ orderTracking(order) }}</span>
                    <input *ngIf="editingTracking" class="form-control form-control-sm" type="text"
                           [ngModel]="orderTracking(order)">
                </div>
            </td>
            <td>
                <div class="btn btn-group btn-group-sm">
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-ellipsis-h"></i></button>
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-check"></i></button>
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-outline-info"><i class="fa fa-print"></i></button>
                </div>
            </td>
        </tr>

        <!-- order information extra detail -->

    </template>
    </tbody>
</table>


<!-- Pagination at the end -->
<div class="list-toolbar">
    <paginator [baseUrl]="deepUrl" [pagination]="pagination"></paginator>
</div>

<!-- Fixed right panel - order editing -->
<div *ngIf="order" class="right-panel right-panel-lg" [class.show-right-panel]="!hideRightPanel">
    <div class="panel-nav">
        <button type="button" (click)="editOrder(index-1)" class="btn btn-outline-primary btn-sm"><i class="fa fa-arrow-left"></i></button>
        <button type="button" (click)="editOrder(index+1)" class="btn btn-outline-primary btn-sm"><i class="fa fa-arrow-right"></i></button>
        <span class="title">第{{ index+1 }}个订单, 订单号: {{ order.id }}</span>
        <button type="button" class="btn btn-outline-danger btn-sm close" (click)="hideRightPanel = true">x</button>
    </div>
    <div class="panel-content">
        <form (ngSubmit)="onSubmitOrder()">
            <accordion>

                <accordion-group isOpen="true">
                    <div accordion-heading>
                        订单基本信息<i class="pull-right fa fa-chevron-circle-down"></i>
                    </div>

                    <div class="row form-group" *ngIf="order.gateway">
                        <div class="col-xs-12">
                            <span>支付方式: {{ zh[order.gateway] }}</span>
                            <span *ngIf="order.transaction_id">交易号: {{ order.transaction_id }}</span>
                            <span *ngIf="order.serial_id">流水号: {{ order.serial_id }}</span>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-6">
                            <label>用户名</label>
                            <input name="order_c_name" class="form-control form-control-sm" [(ngModel)]="order.customer.display_name">
                        </div>

                        <div class="col-xs-6">
                            <label>用户邮箱</label>
                            <input name="order_c_email" class="form-control form-control-sm" [(ngModel)]="order.customer.email">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-4">
                            <label>订单状态</label>
                            <select name="order_status" class="form-control form-control-sm" [(ngModel)]="order.status">
                                <option *ngFor="let s of availableStatuses" [value]="s">{{ zh[s] }}</option>
                            </select>
                        </div>

                        <div class="col-xs-4">
                            <label>下单时间</label>
                            <input name="order_created_at" class="form-control form-control-sm" [(ngModel)]="order.created_at">
                        </div>

                        <div class="col-xs-4">
                            <label>支付时间</label>
                            <input name="order_paid_at" class="form-control form-control-sm" [(ngModel)]="order.paid_at">
                        </div>
                    </div>
                </accordion-group>

                <accordion-group isOpen="true">
                    <div accordion-heading>
                        地址快递信息<i class="pull-right fa fa-chevron-circle-down"></i>
                    </div>

                    <div class="row form-group">
                        <div class="col-xs-12" *ngFor="let s of order.shippings; let i=index">
                            <label>收货信息 {{ i+1 }}</label>
                            <p>收件人: {{ s.name }}, 电话: {{ s.phone }}, 地址: {{ s.province }}{{ s.city }}{{ s.county }}{{ s.address }}</p>
                            <div class="row">
                                <div class="col-xs-4">
                                    <label>承运商</label>
                                    <select name="carriers[]" class="form-control form-control-sm" [(ngModel)]="s.carrier">
                                        <option *ngFor="let c of availableCarriers" [value]="c">{{ zh[c] }} </option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <label>快递单号</label>
                                    <input class="form-control form-control-sm" name="order_tracking[]" type="text" [(ngModel)]="s.tracking">
                                </div>
                                <div class="col-xs-2">
                                    <label>成本(£)</label>
                                    <input class="form-control form-control-sm" name="s_cost[]" type="text" [(ngModel)]="s.cost">
                                </div>
                                <div class="col-xs-2">
                                    <label>价格(¥)</label>
                                    <input class="form-control form-control-sm" name="s_postage[]" type="text" [(ngModel)]="s.postage">
                                </div>
                            </div>
                        </div>
                    </div>
                </accordion-group>

                <accordion-group isOpen="true">
                    <div accordion-heading>
                        订单产品信息<i class="pull-right fa fa-chevron-circle-down"></i>
                    </div>

                    <table class="table table-hover" style="font-size: 85%" *ngIf="order.products">
                        <thead class="thead-default">
                        <tr>
                            <th width="5%">#</th>
                            <th width="10%">SKU</th>
                            <th width="10%">规格</th>
                            <th width="50%">名称</th>
                            <th width="10%">成本</th>
                            <th width="10%">单价</th>
                            <th width="5%">数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let p of order.products; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{p.sku}}</td>
                            <td>{{p.spec}}</td>
                            <td>{{p.title}}</td>
                            <td>{{p.cost / 100.0}}{{p.cost_currency}}</td>
                            <td>{{p.price / 100.0}}{{p.price_currency}}</td>
                            <td>{{p.qty}}</td>
                        </tr>
                        </tbody>
                    </table>
                </accordion-group>
            </accordion>

            <button type="button" class="btn btn-primary btn-block">保存</button>
            <button type="button" class="btn btn-danger btn-block" (click)="hideRightPanel = true">取消</button>
        </form>
    </div>
</div>


<!-- Alerts area, fixed at left bottom -->
<div class="alert-area" *ngIf="alerts && alerts.length">
    <alert *ngFor="let alert of alerts; let i = index" [type]="alert.type"
           dismissOnTimeout="2000">{{alert?.msg}}</alert>
</div>
