<div class="alert alert-danger">
    TODO: Replace this tree with angular2-tree-component
</div>

<div class="alert alert-danger" *ngIf="parentId == 0 && !hasCategory">
    此频道暂无分类, 请添加!
</div>

<ul *ngIf="categories">
    <template ngFor let-cat [ngForOf]="updatedCats">
        <li *ngIf="cat.parent_id === parentId">

            <!-- This checkbox is used to manage the display of tree children -->
            <input type="checkbox" [attr.id]="cat.id"
                   [attr.checked]="hasChild(cat) ? 'checked' : null"/>

            <label>
                <!-- This checkbox is used for real data -->
                <input type="checkbox" [checked]="cat.checked"
                       (change)="checkEvent.emit(cat)"/><span></span>
            </label>

            <!-- category name with post/topic/deal count belongs to it -->
            <label [attr.for]="cat.id">
                {{cat.name}} <template [ngIf]="hasChild(cat)">({{hasChild(cat)}})</template>
                <em style="font-size:0.7rem"> P:{{cat.posts_count}} T:{{cat.topics_count}} D:{{cat.deals_count}} </em>
            </label>

            <category-tree *ngIf="hasChild(cat)"
                           [parentId]="cat.id"
                           [categories]="getChild(cat)"
                           [selectedCats]="selectedCats"
                           (checkEvent)="checkEvent.emit($event)"></category-tree>
        </li>
    </template>
</ul>
