<div *ngIf="isTreeRoot" class="filter-wrapper">
    <input placeholder="过滤" type="text" class="form-control"
           [value]="filterText" [formControl]="filterControl">
</div>

<ul *ngIf="categories" class="tree-view">
    <template ngFor let-cat [ngForOf]="availableCats">
        <li class="tree-item">
            <div class="checkbox" *ngIf="!hasChild(cat)">
                <label>
                    <input type="checkbox" [checked]="cat.checked"
                           (change)="checkEvent.emit($event)" />
                    {{ cat.name }}
                </label>
            </div>

            <span *ngIf="hasChild(cat)">+ {{cat.name}}</span>
            <category-tree [categories]="getChild(cat)"
                           [selectedCats]="selectedCats"
                           (checkEvent)="checkEvent.emit($event)"></category-tree>
        </li>
    </template>
</ul>