<div *ngIf="parentId === 0" class="filter-wrapper">
    <input placeholder="过滤" type="text" class="form-control"
           [value]="filterText" [formControl]="filterControl" disabled>
</div>

<ul *ngIf="categories" class="tree-view clearfix">
    <li *ngFor="let cat of availableCats"
        class="tree-item" [class.tree-root-item]="parentId === 0">

        <span class="checkbox" *ngIf="!hasChild(cat) && cat.parent_id === parentId">
            <label>
                <input type="checkbox" [checked]="cat.checked"
                       (change)="checkEvent.emit(cat)" />
                {{ cat.name }}
            </label>
        </span>

        <span *ngIf="hasChild(cat)">+ {{cat.name}}</span>
        <category-tree [parentId]="cat.id"
                       [categories]="getChild(cat)"
                       [selectedCats]="selectedCats"
                       (checkEvent)="checkEvent.emit($event)"></category-tree>

    </li>
</ul>
