<div class="page-header" *ngIf="lists && entity">
    <div class="row">

        <div class="col-xs-6">
            <h1 class="title">
                编辑{{ title }}
                <a class="page-title-action btn btn-outline-info btn-sm"
                   [routerLink]="['/', baseUrl]">
                    <i class="fa fa-backward"></i> 返回列表
                </a>

                <a class="page-title-action btn btn-outline-info btn-sm"
                   [routerLink]="['/', baseUrl, previous]" *ngIf="previous">
                    <i class="fa fa-angle-double-left"></i> Previous {{ previous }}
                </a>
                <a class="page-title-action btn btn-outline-info btn-sm"
                   [routerLink]="['/', baseUrl, next]" *ngIf="next">
                    Next {{ next }} <i class="fa fa-angle-double-right"></i>
                </a>
            </h1>
        </div>

        <div class="col-xs-6" *ngIf="!isUser">
            <div class="float-right">
                <span class="tag tag-default-outline">
                    状态: {{ zh[entity.state] }}
                </span>
                <span class="tag tag-default-outline">
                    预览: <a href="{{ previewLink }}" target="_blank">{{ previewLink }}</a>
                </span>
            </div>
        </div>

    </div>
</div>
