<!-- Post category, tag, topic -->
<div class="row">
    <div class="col-xs-12">
        <div class="form-inline cms-tag-cloud-wrapper">

            <div class="cms-tags">
                <div class="cms-tag-group">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(0)">文章分类:</span>
                    <ul class="tag-cloud">
                        <li *ngFor="let cat of categories"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="deleteCat.emit(cat.id)">
                            {{ cat.name }} x
                        </li>
                    </ul>
                </div>

                <div class="cms-tag-group" *ngIf="!isTopic">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(1)">专题:</span>
                    <ul class="tag-cloud">
                        <li *ngFor="let topic of topics"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="deleteTopic.emit(topic.id)">
                            {{ topic.title }} x
                        </li>
                    </ul>
                </div>

                <div class="cms-tag-group">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(2)">Location:</span>
                    <ul class="tag-cloud">
                        <li *ngFor="let loc of locations"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="toggleGeoLocation.emit(loc)">
                            {{ loc.name }} x
                        </li>
                        <li *ngIf="!hasLocation"
                            class="tag tag-pill tag-primary-outline tag-item">
                            everywhere
                        </li>
                    </ul>
                </div>

                <div *ngIf="isTopic" style="margin-top: 0.5rem">
                    <div class="cms-tag-group" *ngFor="let tt of topicTypes">
                        <span class="tag tag-warning-outline tag-item"
                              (click)="toggle.emit(1)">{{ tt.name }}:</span>
                        <ul class="tag-cloud" *ngIf="topics">
                            <li *ngFor="let t of topicsOfType(tt)"
                                class="tag tag-pill tag-primary-outline tag-item"
                                (click)="deleteTopic.emit(t.id)">
                                {{ t.title }} x
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
