<form ngForm>
    <div class="row post-meta-row">
        <div class="col-xs-12">
            <div class="form-group input-group">
                <span class="input-group-addon">标题</span>
                <input type="text" name="title" class="form-control post-title"
                       [ngModel]="title" [formControl]="titleControl"
                       placeholder="文章标题" required>
            </div>

            <div class="row" *ngIf="isTopic">
                <div class="col-xs-8">
                    <div class="form-group">
                        <label>Permalink</label>
                        <input type="text" name="guid" class="form-control form-control-sm"
                               [ngModel]="guid" [formControl]="guidControl" required>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        <label>锚文本</label>
                        <input type="text" name="atext" class="form-control form-control-sm"
                               [ngModel]="anchorText" [formControl]="anchorTextControl" required>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="isTopic">
                <label>专题描述</label>
                <textarea rows="4" type="text" name="desc" class="form-control"
                          [ngModel]="desc"
                          [formControl]="descControl"
                          placeholder="80字左右的介绍, 只展示在搜索结果页"></textarea>
            </div>
        </div>
    </div>
</form>
