<!-- User can hide some info if the do not want to see it -->
<accordion>

    <accordion-group isOpen="true">
        <div accordion-heading>
            文章属性<i class="pull-right fa customize-chevron"></i>
        </div>

        <!-- author/editor/post_type/creative_type selectors -->
        <div class="row post-meta-row">
            <div class="col-xs-12 form-inline">

                <div class="form-group post-meta" *ngIf="authors">
                    <label>作者</label>
                    <select class="form-control form-control-sm custom-select"
                            name="author_id" [ngModel]="authorId"
                            (ngModelChanged)="authorChanged.emit($event)">
                        <option *ngFor="let author of authors"
                                [selected]="author.id === authorId"
                                [value]="author.id">{{ author.display_name }}</option>
                    </select>
                </div>

                <div class="form-group post-meta" *ngIf="editors">
                    <label>编辑</label>
                    <select class="form-control form-control-sm custom-select"
                            name="editor_id" [ngModel]="editorId"
                            (ngModelChanged)="editorChanged.emit($event)">
                        <option *ngFor="let editor of editors"
                                [selected]="editor.id === editorId"
                                [value]="editor.id">{{ editor.display_name }}</option>
                    </select>
                </div>

                <div class="form-group post-meta" *ngIf="creativeTypes">
                    <label>稿件属性</label>
                    <select class="form-control form-control-sm custom-select"
                            name="c_type" [ngModel]="creativeType"
                            (ngModelChanged)="creativeTypeChanged.emit($event)">
                        <option *ngFor="let ctype of creativeTypes"
                                [selected]="creativeType === ctype.creative_type"
                                [value]="ctype.creative_type">{{ zh[ctype.creative_type] }}</option>
                    </select>
                </div>

                <div class="form-group post-meta" *ngIf="channels">
                    <label>频道</label>
                    <select class="form-control form-control-sm custom-select"
                            name="cid" [ngModel]="channelId"
                            (ngModelChanged)="channelChanged.emit($event)">
                        <option *ngFor="let ch of channels"
                                [selected]="channelId === ch.id"
                                [value]="ch.id">{{ ch.name }}</option>
                    </select>
                </div>

                <div class="form-group post-meta" *ngIf="topicTypes">
                    <label>专题类型</label>
                    <select class="form-control form-control-sm custom-select"
                            name="t_type" [ngModel]="topicType"
                            (ngModelChanged)="topicTypeChanged.emit($event)">>
                        <option *ngFor="let ttype of topicTypes"
                                [selected]="topicType === ttype.type"
                                [value]="ttype.type">{{ zh[ttype.type] }}</option>
                    </select>
                </div>

                <div class="form-group post-meta" *ngIf="topicTypes">
                    <label>优惠专题</label>
                    <input type="checkbox" class="form-control form-control-sm"
                            name="hasDeal" [ngModel]="hasDeal"
                           (ngModelChanged)="hasDealChanged.emit($event)"/>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>
