<!-- Post category, tag, topic -->
<div class="row">
    <div class="col-xs-12">
        <div class="form-inline cms-tag-cloud-wrapper">

            <div class="cms-tags">
                <div class="cms-tag-group">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(0)">文章分类:</span>
                    <ul class="tag-cloud">
                        <li *ngFor="let cat of categories"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="detachCat.emit(cat)">
                            {{ cat.text }} x
                        </li>
                    </ul>
                </div>

                <div class="cms-tag-group" *ngIf="!isTopic">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(1)">专题:</span>
                    <ul class="tag-cloud">
                        <li *ngFor="let topic of topics"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="detachTopic.emit(topic)">
                            {{ topic.text }} x
                        </li>
                    </ul>
                </div>

                <div class="cms-tag-group">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(2)">Location:</span>
                    <ul class="tag-cloud">
                        <li *ngIf="location"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="updateLocation.emit(null)">
                            {{ location.text }} x
                        </li>
                        <li *ngIf="!location"
                            class="tag tag-pill tag-primary-outline tag-item">
                            everywhere
                        </li>
                    </ul>
                </div>

                <template [ngIf]="isTopic">
                    <div class="cms-tag-group" *ngFor="let tt of topicTypes">
                        <span class="tag tag-warning-outline tag-item"
                              (click)="toggle.emit(1)">{{ tt.text }}:</span>
                        <ul class="tag-cloud" *ngIf="topics">
                            <li *ngFor="let t of topicsOfType(tt)"
                                class="tag tag-pill tag-primary-outline tag-item"
                                (click)="detachTopic.emit(t)">
                                {{ t.text }} x
                            </li>
                        </ul>
                    </div>
                </template>

            </div>

        </div>
    </div>
</div>
