<!-- Post category, tag, topic -->
<div class="row">
    <div class="col-xs-12">
        <div class="form-inline cms-tag-cloud-wrapper">

            <div class="cms-tags">
                <div class="cms-tag-group">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(0)">文章分类:</span>
                    <ul class="tag-cloud">
                        <li *ngFor="let cat of categories"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="deleteCat.emit(cat.id)">
                            {{ cat.name }} x
                        </li>
                    </ul>
                </div>

                <div class="cms-tag-group">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(1)">专题:</span>
                    <ul class="tag-cloud">
                        <li *ngFor="let topic of topics"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="deleteTopic.emit(topic.id)">
                            {{ topic.title }} x
                        </li>
                    </ul>
                </div>

                <div class="cms-tag-group">
                    <span class="tag tag-warning-outline tag-item"
                          (click)="toggle.emit(2)">Location:</span>
                    <ul class="tag-cloud">
                        <li *ngFor="let loc of locations"
                            class="tag tag-pill tag-primary-outline tag-item"
                            (click)="toggleGeoLocation.emit(loc)">
                            {{ loc.name }} x
                        </li>
                        <li *ngIf="!hasLocation"
                            class="tag tag-pill tag-primary-outline tag-item">
                            everywhere
                        </li>
                    </ul>
                </div>

                <div *ngIf="isTopic" style="margin-top: 1rem">
                    <div class="cms-tag-group">
                        <span class="tag tag-warning-outline tag-item"
                              (click)="toggle.emit(3)">推荐产品系列:</span>
                        <ul class="tag-cloud">
                            <li *ngFor="let p of topicProductSeries"
                                class="tag tag-pill tag-primary-outline tag-item"
                                (click)="deleteTopicProductSeries.emit(p.id)">
                                {{ p.name }} x
                            </li>
                        </ul>
                    </div>

                    <div class="cms-tag-group">
                        <span class="tag tag-warning-outline tag-item"
                              (click)="toggle.emit(3)">推荐专题系列:</span>
                        <ul class="tag-cloud">
                            <li *ngFor="let t of topicTopicSeries"
                                class="tag tag-pill tag-primary-outline tag-item"
                                (click)="deleteTopicTopicSeries.emit(t.id)">
                                {{ t.name }} x
                            </li>
                        </ul>
                    </div>

                    <div class="cms-tag-group">
                        <span class="tag tag-warning-outline tag-item"
                              (click)="toggle.emit(3)">推荐文章系列:</span>
                        <ul class="tag-cloud">
                            <li *ngFor="let p of topicPostSeries"
                                class="tag tag-pill tag-primary-outline tag-item"
                                (click)="deleteTopicPostSeries.emit(p.id)">
                                {{ p.name }} x
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
