<!-- Show list of cities grouped by regions and countries -->
<div class="filter-wrapper">
    <input placeholder="过滤" type="text" class="form-control"
           [value]="filterText" [formControl]="filterControl">
</div>

<accordion>
    <accordion-group isOpen="true" *ngFor="let country of countries">

        <div accordion-heading>
            {{ country.text }} <i class="pull-right fa customize-chevron"></i>
        </div>

        <!-- country selector -->
        <span class="tag tag-warning-outline tag-item"
              (click)="clickEvent.emit(country)">{{country.text}}:</span>

        <!-- capital and big cities selector -->
        <div *ngFor="let city of citiesOfCountry(country)">
            <!-- region selector -->
            <span class="tag tag-info-outline tag-item"
                  (click)="clickEvent.emit(city)">{{city.text}}</span>

            <!-- area selector -->
            <ul class="tag-cloud">
                <li *ngFor="let area of areaOfCity(city)"
                    class="tag-item tag tag-pill tag-default-outline"
                    (click)="clickEvent.emit(area)">
                    {{area.text}}
                </li>
            </ul>
        </div>

        <div *ngFor="let region of regionsOfCountry(country)">
            <!-- region selector -->
            <span class="tag tag-info-outline tag-item"
                  (click)="clickEvent.emit(region)">{{region.text}}:</span>

            <!-- city selector -->
            <ul class="tag-cloud">
                <li *ngFor="let city of citiesOfRegion(region)"
                    class="tag-item tag tag-pill tag-default-outline"
                    (click)="clickEvent.emit(city)">
                    {{city.text}}
                </li>
            </ul>

        </div>

        <span *ngIf="editable"
              class="tag tag-default-outline tag-item"
              (click)="addEvent.emit($country)">+Region/City</span>

    </accordion-group>
</accordion>

<button *ngIf="editable"
        class="btn btn-sm btn-outline-success"
        (click)="addEvent.emit()">New Country</button>

