<!-- Cms channels menu -->
<div class="channel-menu" *ngIf="cmsChannels">
    <div class="channel-heading">
        <a [routerLink]="['/', slug]" class="channel-title">
            <h4>所有频道</h4>
        </a>
        <a *ngFor="let ch of cmsChannels"
           [routerLink]="['/', slug, 'channel', ch.slug]"
           class="channel-title" routerLinkActive="active">
            <h4>{{ ch.name }}</h4>
        </a>
    </div>
</div>

<!-- header -->
<div class="page-header">
    <h1 class="title">
        <span *ngIf="curChannelSlug">{{ zh[curChannelSlug] }}频道{{ name }}</span>
        <span *ngIf="!curChannelSlug">所有{{ name }}</span>

        <a *ngIf="!inPageEdit"
           class="page-title-action btn btn-sm btn-outline-info"
           [routerLink]="['/', slug, 'new']">新建{{ name }}</a>

        <a *ngIf="inPageEdit"
           class="page-title-action btn btn-sm btn-outline-info"
           (click)="newEntityEvent.emit()">新建{{ name }}</a>

        <a class="page-title-action btn btn-sm btn-outline-info float-right"
           [routerLink]="['/setting']">系统设置</a>

        <button class="page-title-action btn btn-sm btn-outline-info float-right">详简切换</button>
    </h1>
</div>

<!-- navbar and search box, only show navbar for those has statistics loaded -->
<nav class="navbar page-sub-menu">
    <ul class="nav navbar-nav" *ngIf="!curChannelSlug && states">
        <!-- Entity status navbar -->
        <li *ngFor="let state of states.actual" class="nav-item">
            <a class="nav-link" [routerLink]="['/', slug, 'page', 1, 'state', state.state]"
               routerLinkActive="active">
                {{ zh[state.state] }}<span> ({{ state.count }})</span>
            </a>
        </li>
    </ul>

    <search-box [slug]="slug" [loading]="loading"></search-box>
</nav>