<!-- List toolbar with paginator -->
<div class="row list-toolbar">
    <div class="col-xs-12 form-inline">

        <form (ngSubmit)="onSubmitFilter()" #filterForm="ngForm" style="display: inline-block">

            <div class="form-group" *ngIf="authors && hasAuthorFilter">
                <select [(ngModel)]="filterAuthor" name="a"
                        class="form-control form-control-sm custom-select">
                    <option value="">所有作者</option>
                    <option *ngFor="let author of authors" [value]="author.id">
                        {{ author.display_name }} ({{ author.posts_by_author_count }})
                    </option>
                </select>
            </div>

            <div class="form-group" *ngIf="editors && hasEditorFilter">
                <select [(ngModel)]="filterEditor" name="e"
                        class="form-control form-control-sm custom-select">
                    <option value="">所有编辑</option>
                    <option *ngFor="let editor of editors" [value]="editor.id">
                        {{ editor.display_name }} ({{ editorWorkCount(editor) }})
                    </option>
                </select>
            </div>

            <div class="form-group" *ngIf="categories">
                <select [(ngModel)]="filterCat" name="c"
                        class="form-control form-control-sm custom-select">
                    <option value="" *ngIf="!channel">所有分类</option>
                    <option value="" *ngIf="channel">频道分类</option>
                    <option *ngFor="let cat of catsOfChannel" [value]="cat.id">
                        {{ cat.name }} | {{ catCount(cat) }}
                    </option>
                </select>
            </div>

            <div class="form-group" *ngIf="brands">
                <select [(ngModel)]="filterBrand" name="b"
                        class="form-control form-control-sm custom-select">
                    <option value="">所有品牌</option>
                    <option *ngFor="let brand of brands" [value]="brand.id">
                        {{ brand.name }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <!-- Use database post date type of a post, may not applicable to non-post -->
                <select [(ngModel)]="filterDateType" name="dtype"
                        class="form-control form-control-sm custom-select">
                    <option value="" disabled>日期类型</option>
                    <option value="fake_published_at">前端发布日期</option>
                    <option value="published_at">发布日期</option>
                    <option value="updated_at">更新日期</option>
                    <option value="created_at">创建日期</option>
                </select>

                <div class="date-area">
                    <span class="date-time btn btn-sm btn-secondary"
                          (click)="dpHidden = !dpHidden">
                        {{ filterDateFrom | date: 'y-MM-dd' }} -
                        {{ filterDateTo | date: 'y-MM-dd' }}
                        <i class="fa" [class.fa-caret-down]="dpHidden"
                           [class.fa-caret-up]="!dpHidden"></i>
                    </span>

                    <div class="date-picker" [class.hidden]="dpHidden">
                        <div>
                            <datepicker name="dateFrom" [(ngModel)]="filterDateFrom"
                                        [showWeeks]="false"></datepicker>
                            <datepicker name="dateTo" [(ngModel)]="filterDateTo"
                                        [showWeeks]="false"></datepicker>
                        </div>
                        <span class="btn btn-info btn-sm float-right" (click)="dpHidden = true">确定</span>
                        <span style="color: red">
                            FROM {{ filterDateFrom | date: 'y-MM-dd HH:mm:ss' }} -
                            TO {{ filterDateTo | date: 'y-MM-dd HH:mm:ss' }}
                        </span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-secondary btn-sm"
                    [disabled]="!filterForm.form.dirty">筛选</button>

            <!-- FIXME: This may trigger submit event -->
            <button class="btn btn-secondary btn-sm">重置</button>
        </form>

        <!-- Paginator -->
        <div class="float-right paginator" *ngIf="paginator">
            <span>共{{ paginator.total }}条 |
                {{ paginator.cur_page }}/{{ paginator.last_page }}页</span>
            <a *ngFor="let p of pagers" class="btn btn-sm btn-secondary"
               [class.disabled]="p.disabled"
               [routerLink]="[pageUrl(p.index, state)]"
               [queryParams]="route.queryParams | async">
                <i class="fa {{ p.icon }}"></i>
            </a>
        </div>
    </div>
</div>