<!-- List toolbar with paginator -->
<div class="row list-toolbar">
    <div class="col-xs-12 form-inline">

        <div class="form-group" style="margin-right: 2rem">
            <select class="form-control form-control-sm custom-select"
                    [(ngModel)]="bulkAction">
                <option value="none">批量操作</option>
                <option value="deleting">移到回收站</option>
                <option value="editing">批量修改</option>
            </select>
            <button class="btn btn-secondary btn-sm"
                    (click)="applyBulkAction()">应用</button>
        </div>

        <form (ngSubmit)="onSubmitFilter()" #filterForm="ngForm" style="display: inline-block">

            <div class="form-group" *ngIf="authors">
                <select [(ngModel)]="filterAuthor" name="a"
                        class="form-control form-control-sm custom-select">
                    <option value="">所有作者</option>
                    <option *ngFor="let author of authors" [value]="author.id">
                        {{ author.display_name }} ({{ author.posts_by_author_count }})
                    </option>
                </select>
            </div>

            <div class="form-group" *ngIf="editors">
                <select [(ngModel)]="filterEditor" name="e"
                        class="form-control form-control-sm custom-select">
                    <option value="">所有编辑</option>
                    <option *ngFor="let editor of editors" [value]="editor.id">
                        {{ editor.display_name }} ({{ editorWorkCount(editor) }})
                    </option>
                </select>
            </div>

            <div class="form-group" *ngIf="categories">
                <select [(ngModel)]="filterCat" name="c"
                        class="form-control form-control-sm custom-select">
                    <option value="">所有分类</option>
                    <option *ngFor="let cat of categories" [value]="cat.id">
                        {{ cat.name }} ({{ catCount(cat) }})
                    </option>
                </select>
            </div>

            <div class="form-group">
                <select [(ngModel)]="filterDateFrom" name="from"
                        class="form-control form-control-sm custom-select">
                    <option value="">开始日期</option>
                    <option value="20160501">2016年5月</option>
                    <option value="20160401">2016年4月</option>
                    <option value="20160301">2016年3月</option>
                </select>

                <select [(ngModel)]="filterDateTo" name="to"
                        class="form-control form-control-sm custom-select">
                    <option value="" selected>开始日期</option>
                    <option value="20160501">2016年5月</option>
                    <option value="20160401">2016年4月</option>
                    <option value="20160301">2016年3月</option>
                </select>
            </div>

            <button type="submit" class="btn btn-secondary btn-sm"
                    [disabled]="!filterForm.form.dirty">筛选</button>

            <!-- FIXME: This may trigger submit event -->
            <button class="btn btn-secondary btn-sm">重置</button>
        </form>

        <!-- Paginator -->
        <div class="float-right paginator">
            <span>共{{ paginator.total }}条 |
                第{{ paginator.cur_page }} / {{ paginator.last_page }}页</span>
            <a *ngFor="let p of pagers" class="btn btn-sm btn-secondary"
               [class.disabled]="p.disabled"
               [routerLink]="['/', baseUrl, 'page', p.index, 'state', state]"
               [queryParams]="route.queryParams | async">
                <i class="fa {{ p.icon }}"></i>
            </a>
        </div>
    </div>
</div>