<!-- Cms channels menu -->
<div class="channel-menu" *ngIf="cmsChannels">
    <div class="channel-heading">
        <a [routerLink]="['/', baseUrl, 'channel', 'all']"
           class="channel-title" routerLinkActive="active">
            <h4>所有频道</h4>
        </a>
        <a *ngFor="let ch of cmsChannels"
           [routerLink]="['/', baseUrl, 'channel', ch.slug]"
           class="channel-title" routerLinkActive="active">
            <h4>{{ ch.name }}</h4>
        </a>
    </div>
</div>

<!-- header -->
<div class="page-header">
    <h1 class="title">
        <span *ngIf="activeChannel">{{ zh[activeChannel] }}频道{{ title }}</span>
        <span *ngIf="!activeChannel">所有频道{{ title }}</span>
        <a class="page-title-action btn btn-sm btn-outline-info"
           [routerLink]="['/', baseUrl, 'new']">新建{{ title }}</a>

        <a class="page-title-action btn btn-sm btn-outline-info"
           *ngIf="isCms" [routerLink]="['/cms']">内容系统设置</a>

        <a class="page-title-action btn btn-sm btn-outline-info"
           *ngIf="isShop" [routerLink]="['/shop']">商店设置</a>

        <button class="page-title-action btn btn-sm btn-outline-info float-right">详简切换</button>
    </h1>
</div>

<!-- navbar and search box -->
<nav class="navbar page-sub-menu">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/', baseUrl, 'page', '1', 'state', 'all']"
               routerLinkActive="active">
                全部<span> ({{ total }})</span>
            </a>
        </li>

        <!-- Various status tabs -->
        <li *ngFor="let state of states" class="nav-item">
            <a class="nav-link" [routerLink]="['/', baseUrl, 'page', '1', 'state', state.state]"
               routerLinkActive="active">
                {{ zh[state.state] }}<span> ({{ state.count }})</span>
            </a>
        </li>
    </ul>

    <search-box [loading]="loading"></search-box>
</nav>