        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm btn-secondary">上一条</button>
                <button type="button" class="btn btn-sm btn-secondary">下一条</button>

                <button type="button" class="close" (click)="cancel.emit()">
                    <span>&times;</span>
                </button>
                <h5 class="modal-title" *ngIf="tax">修改{{ taxonomy }}: {{ tax.name }}</h5>
            </div>
            <br>
            <div class="modal-body" *ngIf="tax">
                <form (ngSubmit)="save.emit(tax)" #taxEditForm="ngForm">
                    <div class="form-group">
                        <label>{{taxonomy}} 名字</label>
                        <input type="text" name="name" class="form-control"
                               [(ngModel)]="tax.name" required>
                    </div>

                    <div class="form-group">
                        <label>{{taxonomy}} slug</label>
                        <input type="text" name="slug" class="form-control"
                               [(ngModel)]="tax.slug" required>
                    </div>

                    <div class="form-group" *ngIf="isCategory">
                        <label>父分类</label>
                        <select class="form-control form-control-sm custom-select"
                                name="cid" [(ngModel)]="tax.parent_id">
                            <option *ngFor="let cat of categories"
                                    [selected]="tax.parent_id === cat.id"
                                    [value]="cat.id">{{ ch.name }}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>频道</label>
                        <select class="form-control form-control-sm custom-select"
                                name="cid" [(ngModel)]="tax.channel_id">
                            <option *ngFor="let ch of channels"
                                    [selected]="tax.channel_id === ch.id"
                                    [value]="ch.id">{{ ch.name }}</option>
                        </select>
                    </div>
                </form>
                <button type="button" class="btn btn-block btn-outline-danger"
                        (click)="cancel.emit()">取消</button>
                <button type="button" class="btn btn-block btn-outline-primary"
                        (click)="save.emit(tax)">保存</button>
            </div>
        </div>
