<!-- This template shows a list of revisions for current entity -->
<accordion *ngIf="entity && entity.revisions">

    <accordion-group isOpen="true">
        <div accordion-heading>
            修订版本<i class="pull-right fa fa-chevron-circle-down"></i>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul class="revision-history">
                    <li *ngFor="let revision of revisions; let i=index">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   [ngModel]="isSelected(revision)"
                                   name="d[]" (change)="checkRevision(revision)">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">
                                {{ i }} | {{ zh[revision.state] }} |
                                {{ revision.created_at }} @ {{ authors[revision.user_id].display_name }}
                            </span>
                        </label>
                    </li>
                </ul>

                <button (click)="runDiff()"
                        class="btn btn-secondary-outline"
                        [disabled]="!canCompare">比较</button>
            </div>

            <div class="col-xs-12 revision-diff" *ngIf="diffHtml">
                <h5 *ngIf="selectedRevisions.length == 2">{{selectedRevisions[0].created_at}} vs {{selectedRevisions[1].created_at}}</h5>
                <h5 *ngIf="selectedRevisions.length == 1">{{selectedRevisions[0].created_at}} vs {{entity.created_at}}</h5>
                <div class="revision-diff" [innerHtml]="diffHtml"></div>
            </div>
        </div>
    </accordion-group>
</accordion>