<div class="filter-wrapper">
    <input placeholder="过滤" type="text" class="form-control"
           [value]="filterText" [formControl]="filterControl">
</div>

<span class="tag tag-warning-outline tag-item">已选中标签:</span>
<ul class="tag-cloud">
    <li *ngFor="let tag of selectedTags"
        class="tag-item tag tag-pill tag-primary-outline"
        (click)="removeTag.emit(tag.id)" >
        {{ tag.name }} x
    </li>
</ul>

<hr>

<span class="tag tag-warning-outline tag-item">可用标签:</span>
<ul class="tag-cloud">
    <li *ngFor="let tag of availableTags"
        class="tag-item tag tag-pill tag-default-outline"
        (click)="addTag.emit(tag)">
        {{ tag.name }}
    </li>
</ul>
