<div class="topbar" [style.background-color]="pref?.menuBackgroundColor"
     *ngIf="pref && domains">
    <ul class="fixed-menu">

        <li>
            <a href="{{ domains[curDomainKey].url }}" target="_blank"
               [style.color]="pref.menuColor"><i class="fa fa-home"></i>{{ domains[curDomainKey].name }}</a>
        </li>

        <li>
            <a [routerLink]="['/post/new']" routerLinkActive="active"
               [style.color]="pref.menuColor">
                <i class="fa fa-edit"></i>新建文章
            </a>
        </li>

        <li>
            <a [routerLink]="['/product/new']" routerLinkActive="active"
               [style.color]="pref.menuColor">
                <i class="fa fa-cart-plus"></i>新建产品
            </a>
        </li>

        <li dropdown>
            <a dropdownToggle id="domain-dropdown" role="button" [style.color]="pref.menuColor">切换站点</a>
            <ul class="dropdown-menu" dropdownMenu aria-labelledby="domain-dropdown">
                <li role="menuitem" *ngFor="let key of domainKeys">
                    <a class="dropdown-item" role="button"
                       (click)="loginDomain.emit(key)">
                        {{ domains[key].name }}
                        <span class="tag" [class.tag-danger-outline]="isOffline(key)"
                              [class.tag-success-outline]="!isOffline(key)">{{ latency(key) }}</span>
                    </a>
                </li>
            </ul>
        </li>

        <!-- List of customized menus -->
        <!--
        <template ngFor let-menu [ngForOf]="myTopbarMenus">
            <li *ngIf="menu">
                <a [routerLink]="[menu.url]" routerLinkActive="active"
                   [style.color]="menuColor">
                    <i></i>{{ menu.name }} FIXME: css_class
                </a>
            </li>
        </template>
        -->

        <li class="float-right">
            <a [style.color]="pref.menuColor" (click)="logout.emit()" style="cursor: pointer">
                <i class="fa fa-arrow-circle-o-right"></i>退出
            </a>
        </li>

        <li class="float-right">
            <span class="tag" [class.tag-danger-outline]="isOffline(curDomainKey)"
                  [class.tag-success-outline]="!isOffline(curDomainKey)">{{ latency(curDomainKey) }}</span>
            <a [routerLink]="['/user', jwt?.sub]" routerLinkActive="active"
               [style.color]="pref.menuColor">
                <i class="fa fa-user"></i>{{ jwt?.aud }}
            </a>
        </li>
    </ul>
</div>
