<div class="filter-wrapper">
    <input placeholder="搜索" type="text" class="form-control"
           [formControl]="searchControl">
</div>

<accordion>
    <!-- Show topics grouped by topic types -->
    <accordion-group *ngFor="let ttype of topicTypes" isOpen="true">

        <div accordion-heading>
            {{ ttype.name }} <i class="pull-right fa customize-chevron"></i>
        </div>

        <span class="tag tag-warning-outline tag-item">已选中专题:</span>
        <ul class="tag-cloud" *ngIf="selectedTopics">
            <li *ngFor="let topic of selectedTopicsOfTType(ttype)"
                class="tag-item tag tag-pill tag-primary-outline"
                (click)="detachTopic.emit(topic)">
                {{ topic.title }} x
            </li>
        </ul>

        <hr>

        <span class="tag tag-warning-outline tag-item">搜索结果:</span>
        <ul class="tag-cloud" *ngIf="topics">
            <li *ngFor="let topic of topicsOfTType(ttype)"
                class="tag-item tag tag-pill tag-default-outline"
                (click)="attachTopic.emit(topic)">
                {{ topic.title }}
            </li>
        </ul>

    </accordion-group>
</accordion>
