<table class="table table-hover entity-list" *ngIf="hasEntity">
    <thead class="thead-default">
    <tr>
        <th width="2%"></th>
        <th width="2%">
            <input type="checkbox" name="sa"
                   [ngModel]="isAllSelected" (change)="updateAll()">
        </th>
        <th width="26%">
            <div class="form-inline">
                <div class="form-group" style="margin-right: 2rem">
                    <select class="form-control form-control-sm custom-select"
                            [(ngModel)]="batchAction" [disabled]="!canEdit">
                        <option value="" selected disabled>批量操作</option>
                        <option value="edit">批量修改</option>
                        <option value="delete">移到回收站</option>
                    </select>

                    <button class="btn btn-sm btn-default" [disabled]="!canEdit"
                            (click)="submitBatchAction()">应用</button>
                </div>
                <span>用户</span>
            </div>
        </th>
        <th width="40%">评论</th>
        <th width="18%">回复至</th>
        <th width="12%">提交日期</th>
    </tr>
    </thead>

    <tbody>

    <!-- table row of entities -->
    <template ngFor let-entity [ngForOf]="entities" let-i="index">
        <!-- Enable fast editing if double click on the row -->
        <tr (dblclick)="batchEdit.emit([entity.id])">
            <th>{{i+1}}</th>
            <td><input type="checkbox" name="p[]" [ngModel]="isEditing(entity.id)"
                       (change)="updateEditList(entity.id)"></td>

            <td>{{ entity.username }}</td>

            <td>{{ entity.content }}</td>

            <td>{{ entity.commentable_id }}</td>

            <td>{{ entity.created_at }}</td>
        </tr>
    </template>

    </tbody>
</table>
