<!-- Products list table -->
<table class="table table-hover" style="font-size: 85%;">
    <thead class="thead-default">
        <th width="2%">#</th>
        <th width="2%">
            <input type="checkbox" name="selectedAll"
                   [(ngModel)]="checkedAll" (change)="checkboxAll()">
        </th>
        <th width="5%">图片</th>
        <th width="25%">名称</th>
        <th width="8%">SKU</th>
        <th width="8%">库存</th>
        <th width="6%">销量</th>
        <th width="8%">价格</th>
        <th width="10%">分类</th>
        <th width="12%">年龄段</th>
        <th width="12%">更新日期</th>
    </thead>

    <tbody *ngIf="products">
        <template ngFor let-id [ngForOf]="ids" let-i="index">
            <tr id="{{i}}" (dblclick)="quickEdit.emit(id)">
                <th>{{i+1}}</th>
                <td><input type="checkbox" name="product[]" [(ngModel)]="products[id].selected"></td>
                <td>{{ products[id].image_id }}</td>
                <td>
                    <strong><a [routerLink]="['/product', id ]">{{ products[id].title }}</a></strong>
                    <div class="row-actions">
                        <span class="trash"><a>删除</a> | </span>
                        <span><a href="http://www.huluwa.uk/product/{{products[id].guid}}" target="_blank">查看</a></span>
                    </div>
                </td>
                <td>{{ products[id].sku }}</td>
                <td>
                    <span>实际库存: xxx</span>
                    <div>
                        <span>显示库存: xxx</span>
                    </div>
                </td>
                <td> xxx </td>
                <td>£ xxx </td>
                <td><a *ngFor="let cat of products[id].categories" [routerLink]="['/category', cat.id]">{{ cat.name }} </a></td>
                <td>{{ products[id].min_age }} - {{ products[id].max_age }}</td>
                <td>{{ products[id].updated_at }}</td>
            </tr>
        </template>
    </tbody>

</table>
