<list-page-header [pageTitle]="'用户'" [newItemUrl]="'user/new'">
</list-page-header>

<!-- User role filter -->
<nav class="navbar page-sub-menu">

    <ul class="nav navbar-nav">
        <li *ngFor="let role of userRoles" class="nav-item">
            <!-- Link to first page of given role of customers -->
            <a class="nav-link" [routerLink]="['/users', role.role, '1']">{{ zh[role.role] }} ({{ role.count }})</a>
        </li>
    </ul>

    <search-box></search-box>
</nav>

<!-- Filter toolbar -->
<div class="list-toolbar">
    <paginator [baseUrl]="baseUrl" [pagination]="pagination"></paginator>
</div>

<!-- List of users -->
<table class="table">
    <thead class="thead-default">
    <tr>
        <th><input type="checkbox"></th>
        <th>用户名</th>
        <th>昵称</th>
        <th>邮箱</th>
        <th>注册时间</th>
        <th>订单数量</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <th scope="row"><input type="checkbox"></th>
        <td>{{ user.name }}</td>
        <td>{{ user.nicename }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.created_at }}</td>
        <td>xyz</td>
    </tr>
    </tbody>
</table>


