<!--
This should be the shared template used by by setting 3rd users profile and
my profile.
-->
<div class="page-header">
    <h1 class="title" *ngIf="isMyProfile">个人设置</h1>
    <h1 class="title" *ngIf="!isMyProfile">管理用户<span *ngIf="user">: {{ user.display_name }}</span></h1>
</div>

<!--
TODO:
We have several tabs to switch between massive inputs
1. Invalidate user login tokens
2. Change user password
3. Change user other online profile
4. Set user offline preferences
-->

<tabset>
    <tab heading="用户资料">
        <form *ngIf="user" (ngSubmit)="onSubmitProfile()">
            <input type="hidden" name="id" [ngModel]="user.id">
            <accordion>

                <user-base-profile [uuid]="uuid" [user]="user"
                                   [isMyProfile]="isMyProfile"
                                   [isSuperUser]="isSuperUser"></user-base-profile>

                <user-shipping-profile [uuid]="uuid" [user]="user"
                                       [isMyProfile]="isMyProfile"
                                       [isSuperUser]="isSuperUser"></user-shipping-profile>

                <user-baby-profile [uuid]="uuid" [user]="user"
                                   [isMyProfile]="isMyProfile"
                                   [isSuperUser]="isSuperUser"></user-baby-profile>
            </accordion>
            <div class="row form-group" *ngIf="isSuperUser || isMyProfile">
                <div class="col-xs-12">
                    <!-- FIXME: form dirty detection is not propagated up -->
                    <button type="submit" class="btn btn-primary btn-block">保存</button>
                </div>
            </div>
        </form>
    </tab>

    <tab heading="密码授权" *ngIf="isMyProfile || isSuperUser">
        <user-auth-profile [uuid]="uuid" [user]="user"
                           [isMyProfile]="isMyProfile"
                           [isSuperUser]="isSuperUser"
                           (alerts)="displayAlerts($event)"></user-auth-profile>
    </tab>

    <!-- User can only see his permission, but can't edit -->
    <!-- User can't see others permission -->
    <!-- Super user can see and modify any user's permission -->
    <tab heading="后台权限" *ngIf="isMyProfile || isSuperUser">
        <user-domain-mgt [auth]="auth$ | async"
                         [uuid]="uuid"
                         [isMyProfile]="isMyProfile"
                         [isSuperUser]="isSuperUser"
                         (alerts)="displayAlerts($event)"></user-domain-mgt>
    </tab>

    <tab heading="个人偏好" *ngIf="isMyProfile">
        <user-preference [pref]="pref$ | async"
                         (save)="savePreference($event)"></user-preference>
    </tab>
</tabset>
