<!--
This should be the shared template used by by setting 3rd users profile and
my profile.
-->
<div class="page-header">
    <h1 class="title" *ngIf="isMyProfile">个人设置</h1>
    <h1 class="title" *ngIf="!isMyProfile">管理用户<span *ngIf="user">: {{ user.display_name }}</span></h1>
</div>

<!--
TODO:
We have several tabs to switch between massive inputs
1. Invalidate user login tokens
2. Change user password
3. Change user other online profile
4. Set user offline preferences
-->

<tabset>
    <tab heading="基本信息">
        <user-base-profile [uuid]="uuid"></user-base-profile>
    </tab>

    <tab heading="密码授权">
        <user-auth-profile></user-auth-profile>
    </tab>

    <tab heading="地址信息">
        <user-shop-profile></user-shop-profile>
    </tab>

    <tab heading="宝宝信息">
        <user-shop-profile></user-shop-profile>
    </tab>

    <tab heading="站点权限" *ngIf="user && !isCustomer">
        <user-website-mgt [uuid]="uuid"></user-website-mgt>
    </tab>

    <tab heading="个人偏好" *ngIf="isMyProfile">
        <user-preference></user-preference>
    </tab>
</tabset>
