<setting-menu></setting-menu>

<cms-setting-menu [channels]="channels$ | async"
                  [channel]="channel$ | async"
                  [taxonomy]="taxType"></cms-setting-menu>

<div class="setting-body">
    <!-- Category settings -->
    <cms-category-setting *ngIf="taxType == 'category'"
                          [channel]="channel$ | async"
                          [cats]="categories$ | async"
                          (edit)="onEdit($event)"
                          (add)="onAdd()"></cms-category-setting>

    <!-- Topic relationship settings -->
    <cms-topic-setting *ngIf="taxType == 'topic'"
                       [channel]="channel$ | async"
                       [topicTypes]="topicTypes$ | async"
                       (edit)="onEdit($event)"
                       (add)="onAdd()"></cms-topic-setting>
</div>