<setting-menu></setting-menu>

<cms-setting-menu [channels]="channels$ | async"
                  [channel]="channel$ | async"
                  [taxonomy]="taxType"></cms-setting-menu>

<div class="setting-body">
    <!-- Category settings -->
    <cms-category-setting *ngIf="taxType == 'category'"
                          [channel]="channel$ | async"
                          [cats]="categories$ | async"
                          (edit)="onEdit($event)"
                          (add)="onAdd()"></cms-category-setting>

    <!-- Topic relationship settings -->
    <cms-topic-setting *ngIf="taxType == 'topic'"
                       [channel]="channel$ | async"
                       [topicTypes]="topicTypes$ | async"
                       (edit)="onEdit($event)"
                       (add)="onAdd()"></cms-topic-setting>

    <!-- Shared popup modal to edit taxonomies -->
    <div *ngIf="taxType === 'category'">
        <div class="modal fade" bsModal #modalEdit="bs-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm">
                <modal-edit-tax [actionType]="actionType"
                                [taxType]="taxType"
                                [categories]="categories$ | async"
                                [channels]="channels$ | async"
                                [tax]="tax"
                                (add)="newTax($event)"
                                (save)="saveTax($event)"
                                (remove)="removeTax($event)"
                                (cancel)="modalEdit.hide()"></modal-edit-tax>
            </div>
        </div>
    </div>
</div>