/**
 * Copy this file to .config.ts and modify the following constant to fit you
 * Environment.
 */

export const AUTH_BASE = 'http://localhost:10000';

// App api servers
export const APIS = {
    bangli_uk: 'http://localhost:5001/admin',
    bangli_us: 'http://localhost:5002/admin',
};

// Base url for image server
export const IMG_SERVER = {
    bangli_uk: 'http://localhost:5001',
    bangli_us: 'http://localhost:5002',
};