<list-page-header [cmsChannels]="cmsState.channels"
                  [activeChannel]="params['channel']"
                  [isPost]="true" [states]="cmsState.post_states.actual"
                  [loading]="loading"></list-page-header>

<!-- Deal post filter/tool bar at top -->
<list-filter-bar *ngIf="entitiesState"
                 [isPost]="true"
                 [authors]="cmsState.authors"
                 [editors]="cmsState.editors"
                 [categories]="cmsState.categories"
                 [paginator]="entitiesState.paginator"
                 (batchActionEvent)="batchEdit($event)"></list-filter-bar>

<!-- Deal post list table -->
<deal-list *ngIf="entitiesState"
           [isPost]="true"
           [authState]="authState"
           [listState]="entitiesState"
           [cmsState]="cmsState"
           (batchEdit)="batchEdit($event)"
           (batchDelete)="batchDelete($event)"
           (batchOfflineEdit)="batchOfflineEdit($event)"
           (batchLock)="batchLock($event)"></deal-list>

<hr>