/*
 * Defines the general style used by editor and single page
 */

.editor-page-header {
    
    border-bottom: 1px solid #CECECE;
    padding: 0.25rem 0 1rem;
    margin-bottom: 1rem;

    .title {
        margin-top: 1rem;
    }
}  


.label-group {
    display: inline-block;
    padding-right: 2rem;
}