/*
 * _menu.scss
 * Defines the style of the horizental and vertical menu in admin panel.
 */

/* Common style for v and h menu */
.admin-menu {
    color: $admin-menu-color;

    a {
        color: $admin-menu-color;

        &:hover {
            text-decoration: none !important;
            color: $light-blue;
            background-color: $admin-menu-hover-bg;
        }
    }
}

/* Horizental menu style */
.admin-h-menu-wrap {
    position: fixed;
    width: 100%;
    height: $admin-h-menu-height;
    background: $admin-menu-bg;
    z-index: 999;

    .admin-h-menu-inner {
        padding: 0.125rem 0.5rem;

        .menu-item {
            display: inline-block;
            padding: 0 0.5rem;

            a {
                /* Padding between menu icon and text */
                i {
                    padding: 0 0.25rem;
                }
            }
        }

    }
}

/* Vertical menu style */
.admin-v-menu-wrap {

    position: fixed;
    top: $admin-v-menu-top;
    width: $admin-v-menu-width;
    bottom: 0px;
    background-color: $admin-menu-bg;
    z-index: 999;
    overflow: hidden;

    .menu-list {
        padding: 0;
        list-style: none;
        height: 100%;
        overflow: auto;

        .menu-item {

            /* Vertical menu specific style */
            a {
                display: block;
                width: 100%;
                height: $admin-v-menu-height;
                line-height: $admin-v-menu-height;
                overflow: hidden;
  
                /* Padding between menu icon and text */
                i {
                    width: 3rem;
                    padding: 0 1rem;
                }
            }
        }

        .toggle-v-menu {
            cursor: pointer;
            text-align: center;
            background-color: $admin-v-menu-toggle-bg;

            a {
                height: $admin-v-menu-height-small;
                line-height: $admin-v-menu-height-small;
            }
        }
    }
}

/* Toggle style of vertical menu */
.full-body {
    .admin-v-menu-wrap {
        width: $admin-v-icon-menu-width;

        .menu-text {
            display: none;
        }
    }
}


/*新加的*/
.fa {
    margin-top: 10 !important;
}