/*
 * Variables used only in admin dashboard
 */

/*
 * Disable bootstrap responsive
 */

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 1px,
  // Medium screen / tablet
  md: 2px,
  // Large screen / desktop
  lg: 3px,
  // Extra large screen / wide desktop
  xl: 4px
);

// Fix the width of backend;
.container {
  width: 1000px !important;
  min-width: 1000px !important;
  max-width: 1000px !important;
  padding: 1rem !important;
  margin: 1rem !important;
}

/*
 * Other backend only variables
 */

// Admin menu color and bg
$admin-menu-color: #ffffff;
$admin-menu-bg: #383838;
$admin-menu-hover-bg: #808080;
$admin-v-menu-toggle-bg: #707070;
$admin-body-bg: #eeeeee;
$admin-container-bg: #ffffff;

// Horizental and vertical admin menu size and padding
$admin-h-menu-height: 1.75rem;
$admin-v-menu-top: $admin-h-menu-height;
$admin-v-menu-width: 8rem;
$admin-v-icon-menu-width: 3.5rem;
$admin-v-menu-height: 2.5rem;
$admin-v-menu-height-small: 2.0rem;


$admin-wrapper-top: 1.75rem;
$admin-wrapper-left: 8rem;
$admin-wrapper-left-full: 3.5rem;

