<h2>Product category list and management in single page</h2>

<ul>
    <!-- Loop root cat: categories which parent_id is 0 -->
    <!-- FIXME: This is only a temp solution which supports 3 levels of tree -->
    <!-- FIXME: Fix this after we have finished UI work -->
    <!-- REF: Angular recursive directives:
     http://stackoverflow.com/questions/36522394/best-approach-to-create-recursive-treeview-dynamically-from-data-api
     -->
    <li *ngFor="let cat of roots">
        {{ cat.name }}(ID: {{ cat.id }})
        <ul *ngIf="hasSubCat(cat.id)">
            <li *ngFor="let sub of subCats(cat.id)">
                {{ sub.name }}(ID: {{sub.id}})
                <ul *ngIf="hasSubCat(sub.id)">
                    <li *ngFor="let s of subCats(sub.id)">
                        {{ s.name }}(ID: {{s.id}})
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
